Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

Remove always run log
  .gitlab/common.yml
  .gitlab/end_to_end.yml
Due: retag-image

add end to end signal job
  .gitlab-ci.yml
  .gitlab/end_to_end.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix tag of signal
  .gitlab/end_to_end.yml
Due: retag-image

Remove superflous comments
  core/database/foxx/api/controllers/authz.js
Due: build-core, retag-image

Apply formatting
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/api/controllers/project.js
  core/database/foxx/api/controllers/repo.js
  core/database/foxx/api/controllers/user.js
Due: build-core, retag-image

Address eslint complaints about JSDoc
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/api/controllers/project.js
  core/database/foxx/api/controllers/repo.js
  core/database/foxx/api/controllers/user.js
Due: build-core, retag-image

Test that NOT_FOUND error is thrown
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Address feedback
  core/database/foxx/api/controllers/record.js
  core/database/foxx/api/controllers/repo.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/authz_router.test.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Add in missing permission to lookupRecord authz call
  core/database/foxx/api/controllers/authz.js
Due: build-core, retag-image

Turn off automatic approval for lookup and chdir in repo
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Add missing gcs build trigger
  .gitlab/build/build_gcs_image.yml
Due: retag-image

Remove commented out code for lookup and chdir
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

datafed-ws.js Update deprecated substring method, Fix order for error case when new user receives transfer token
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

TokenHandler.js Refactor token handling logic out of web server main. datafed-ws.js User new OAuthTokenHandler class to handle token logic.
  web/datafed-ws.js
  web/services/auth/TokenHandler.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update styles to use css
  web/static/components/endpoint-browse/index.js
  web/static/components/endpoint-browse/styles.css
  web/static/components/transfer/styles.css
  web/static/components/transfer/transfer-templates.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx

[DLT-1110] Styles
  web/static/components/endpoint-browse/index.js
  web/static/components/endpoint-browse/styles.css
  web/static/components/transfer/styles.css
Due: build-ws, build-repo, build-foxx

Fix bug, using non existent allocation
  core/database/foxx/api/controllers/user.js
Due: build-core, retag-image

Simplify authz.js and use lookup for create action methods.
  core/database/foxx/api/controllers/authz.js
Due: build-core, retag-image

Trying to get Cpp debugging to output in Authz
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Fix DynaLog and make it thread safe.
  common/include/common/DynaLog.hpp
  common/source/DynaLog.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Update AuthzWorker with fixed logger
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.hpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Attempt to add more descriptive log message output
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Debugging log output for cpp file
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Debug some more
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Debug somemore
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Debug some more
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Debug more
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Load logfile first
  repository/gridftp/globus5/authz/source/libauthz.c
  scripts/generate_authz_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

More debugging
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Debugging some more
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Fix typo
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

[DLT-1110] Styles
  web/static/components/endpoint-browse/index.js
  web/static/components/endpoint-browse/styles.css
Due: build-ws, build-repo, build-foxx

[DLT-1110] Revert
  web/static/components/transfer/styles.css
  web/static/components/transfer/transfer-templates.js
Due: build-ws, build-repo, build-foxx

TokenHandler.js Implement token validator; move OAuthTransferToken def to top. TokenHandler.test.js Minimal testing of token handler
  web/services/auth/TokenHandler.js
  web/test/TokenHandler.test.js
Due: build-ws, build-repo, build-foxx

TokenHandler.test.js Add tests for case when resource server is auth
  web/test/TokenHandler.test.js
Due: build-ws, build-repo, build-foxx

TokenHandler.test.js Add testing for Globus transfer resource server
  web/test/TokenHandler.test.js
Due: build-ws, build-repo, build-foxx

TokenHandler.js Implement validation for existence of required keys. TokenHandler.test.js Adjust other_tokens fixtures to be nested according to incoming data; formatting.
  web/services/auth/TokenHandler.js
  web/test/TokenHandler.test.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js formatting
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Config
  web/package.json.in
Due: build-ws, build-repo, build-foxx

TokenHandler.js Update error messages, remove unnecessary code in getTokenType, returns in resolveTokenType
  web/services/auth/TokenHandler.js
Due: build-ws, build-repo, build-foxx
