Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Path conditions:
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml

Fix whitespace
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add foxx build to dynamic pipeline
  .gitlab-ci.yml
  gitlab_templates/build_foxx_image.yml
  gitlab_templates/force_build_foxx_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove obsolute docker files
  core/docker/Dockerfile.core-base.ubuntu
  core/docker/Dockerfile.core.ubuntu
  docker/Dockerfile.base
  docker/Dockerfile.core
  docker/Dockerfile.datafed-centos7
  docker/Dockerfile.kickstart-centos7
  docker/Dockerfile.web
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.repo-base.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
  web/docker/Dockerfile.web-base.ubuntu
  web/docker/Dockerfile.web.ubuntu
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add back in the rest of the pipeline
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

added some tests
  .gitignore
  compose/README.md
  tests/end-to-end/playwright_tests/package-lock.json
  tests/end-to-end/playwright_tests/package.json
  tests/end-to-end/playwright_tests/playwright.config.js
  tests/end-to-end/playwright_tests/scripts/test-1.spec.ts
  tests/end-to-end/playwright_tests/tests-examples/demo-todo-app.spec.js
  tests/end-to-end/web-UI/auth.setup.js
  tests/end-to-end/web-UI/package-lock.json
  tests/end-to-end/web-UI/package.json
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/test-1.spec.ts
  tests/end-to-end/web-UI/scripts/testing-visibility.spec.js
Due: none

fixing setup, should work now
  tests/end-to-end/web-UI/auth.setup.js
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/testing-visibility.spec.js
Due: none

Try mirror status instead of depends to solve placeholder issue
  .gitlab-ci.yml
  gitlab_templates/build_core_image.yml
  gitlab_templates/build_foxx_image.yml
  gitlab_templates/build_gcs_image.yml
  gitlab_templates/build_repo_image.yml
  gitlab_templates/build_ws_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Testing with refactor of docker build template
  .gitlab-ci.yml
  gitlab_templates/build_core_image.yml
  gitlab_templates/common.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Revert mirror to depend
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

revert all instances of mirror back to depend
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix template, missing script key
  gitlab_templates/common.yml
Due: none

Migrate to .gitlab over gitlab_tempaltes
  .gitlab-ci.yml
  .gitlab/build_ci_infrastructure.yml
  .gitlab/build_core_image.yml
  .gitlab/build_foxx_image.yml
  .gitlab/build_gcs_base_image.yml
  .gitlab/build_gcs_image.yml
  .gitlab/build_repo_image.yml
  .gitlab/build_ws_image.yml
  .gitlab/common.yml
  .gitlab/force_build_core_image.yml
  .gitlab/force_build_foxx_image.yml
  .gitlab/force_build_gcs_base_image.yml
  .gitlab/force_build_gcs_image.yml
  .gitlab/force_build_repo_image.yml
  .gitlab/force_build_ws_image.yml
  .gitlab/skip_ci_infrastructure.yml
  gitlab_templates/build_foxx_image.yml
  gitlab_templates/build_gcs_image.yml
  gitlab_templates/build_repo_image.yml
  gitlab_templates/build_ws_image.yml
  gitlab_templates/common.yml
  gitlab_templates/force_build_core_image.yml
  gitlab_templates/force_build_foxx_image.yml
  gitlab_templates/force_build_repo_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Move stages to different files
  .gitlab-ci.yml
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Try changing the order
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Try ordering
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Debug ci error
  .gitlab/stage_build.yml
Due: none

no idea why this was failing
  .gitlab/stage_build.yml
Due: none

Split again
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Moving image-check stage to separate file
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Split end to end and image-check to different files
  .gitlab-ci.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_image_check.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

make modular, create new anchor for runtime and dependencies
  .gitlab/common.yml
  .gitlab/stage_build_base.yml
Due: none

Cleanup and refactor of ci mostly complete
  .gitlab-ci.yml
  .gitlab/build_ci_infrastructure.yml
  .gitlab/build_core_image.yml
  .gitlab/build_foxx_image.yml
  .gitlab/build_gcs_base_image.yml
  .gitlab/build_gcs_image.yml
  .gitlab/build_repo_image.yml
  .gitlab/build_ws_image.yml
  .gitlab/common.yml
  .gitlab/force_build_core_image.yml
  .gitlab/force_build_foxx_image.yml
  .gitlab/force_build_gcs_base_image.yml
  .gitlab/force_build_gcs_image.yml
  .gitlab/force_build_repo_image.yml
  .gitlab/force_build_ws_image.yml
  .gitlab/infrastructure.yml
  .gitlab/stage_build.yml
  .gitlab/stage_clear_cache.yml
  .gitlab/stage_image_check.yml
  .gitlab/stage_provision_client.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add documentation
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix typo
  .gitlab/infrastructure.yml
Due: none

Fix build folder
  .gitlab/build_ci_infrastructure.yml
  .gitlab/infrastructure.yml
Due: none

Add missing files
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
Due: none

Make cache clear more aggressive on python client
  .gitlab/stage_clear_cache.yml
Due: none

Added change log comment
  CHANGELOG.md
Due: none

added globus collection base path env
  compose/all/compose.yml
  scripts/generate_authz_config.sh
  scripts/generate_datafed.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add explicit GCS IP
  compose/repo/compose.yml
Due: none

deleted some commented out code
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/testing-visibility.spec.js
Due: none

Add missing env variable from compose repo file
  compose/repo/compose.yml
Due: none

changed name and added some more tests
  tests/end-to-end/web-UI/scripts/testing-visibility.spec.js
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
Due: none

changed comment
  .gitignore
Due: none

added base path and root path to environment file
  compose/all/compose.yml
  compose/repo/compose.yml
  scripts/compose_generate_env.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

fixed testing structure
  tests/end-to-end/web-UI/auth.setup.js
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
Due: none

adding yml file for gitlab
  .gitlab/end_to_end.yml
Due: none

changing more cmake
  CMakeLists.txt
  tests/end-to-end/web-UI/CMakeLists.txt
Due: build-core, build-gcs-base, build-gcs

changed more cmake file
  tests/end-to-end/CMakeLists.txt
  tests/end-to-end/web-UI/CMakeLists.txt
Due: none

removing other browsers in the playwright config file
  tests/end-to-end/web-UI/playwright.config.js
Due: none
