Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

Extract logic for building URL from dbPost and dbGetRaw into separate function for easier testing and debugging
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Extract url building logic from dbGet
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Add some comments for moved code, address a TODO, add new TODO for AccessToken Message type field
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Address default on token type, formatting
  common/proto/common/SDMS_Auth.proto
  core/server/DatabaseAPI.cpp
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Added more unit tests for the authz module
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/repo.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Address code review comment from ai
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Add changelog comment
  CHANGELOG.md
Due: retag-image

Update core/database/foxx/api/authz.js
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Removed additional spaces.
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Update core/database/foxx/tests/repo.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Fix authz strategy call
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Refactor foxx unit tests so they will run correctly
  core/database/CMakeLists.txt
  core/database/foxx/tests/support.test.js
  core/database/foxx/tests/version.test.js
Due: build-core, retag-image

Standardize error throw calls
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Fix key check
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Fix premature ; in test expect call
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Correct unit tests
  core/database/foxx/tests/authz.test.js
  core/database/tests/test_foxx.sh
Due: build-core, retag-image

Switch let to const.
  core/database/foxx/api/record.js
Due: build-core, retag-image

Add tests for foxx project class
  core/database/CMakeLists.txt
Due: build-core, retag-image

Create initial strategy methods for authz
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Implement strategy method calls in authz_router
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Add methods to repo class, for checking allocations, admins, and projects.
  core/database/foxx/api/repo.js
Due: build-core, retag-image

Add repo unit tests.
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Add abstractions for project and user, as well as unit tests for project.
  core/database/foxx/api/project.js
  core/database/foxx/api/user.js
  core/database/foxx/tests/project.test.js
Due: build-core, retag-image

Address review feedback
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

Add javascript linter and formatter to CI
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Revert "Revert JavaScript linter commit from devel"
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Add Javascript github action back
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Attempt 2
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Add useful log output to github action
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Address the fact that prettier won't show file changes
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Fix github action
  .github/workflows/javascript-lint-format.yml
Due: retag-image

Split linting and formatting of javascript into separate actions
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
Due: retag-image

Format and lint javascript
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
Due: retag-image

Add diff to same command as prettier check so diff is obvious
  .github/workflows/javascript-format.yml
Due: retag-image

Try to update eslint
  .github/workflows/javascript-lint.yml
Due: retag-image

add .eslintrc file
  .eslintrc
Due: retag-image

udpate node version for es linter
  .github/workflows/javascript-lint.yml
Due: retag-image

Remove eslintrc
  .eslintrc
Due: retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
