Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

Debug anchor 4
  .gitlab/common.yml
Due: retag-image

Debug 6
  .gitlab/common.yml
Due: retag-image

Debug anchor 3
  .gitlab/common.yml
Due: retag-image

Debugging log failure
  .gitlab/common.yml
Due: retag-image

Debug anchor 2
  .gitlab/common.yml
Due: retag-image

Cleanup add comment back in
  .gitlab/common.yml
Due: retag-image

Account for multiple images returned in log
  .gitlab/common.yml
Due: retag-image

Debug anchor 5
  .gitlab/common.yml
Due: retag-image

Fix typo in gitlab anchor
  .gitlab/common.yml
Due: retag-image

Debug 7
  .gitlab/common.yml
Due: retag-image

Debugging log container matching
  .gitlab/common.yml
Due: retag-image

Debug escape anchor
  .gitlab/common.yml
Due: retag-image

Fix names of containers from gcs-authz to gcs
  .gitlab/end_to_end.yml
  .gitlab/stage_unit.yml
Due: retag-image

Debug 8
  .gitlab/common.yml
Due: retag-image

Update .gitlab/common.yml
  .gitlab/common.yml
Due: retag-image

Address ai suggestion about better error message
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Update nlhoman json version
  scripts/dependency_versions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Update protobuf versions
  scripts/dependency_versions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Prettier formatting for datafed-ws.js
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Roll back changes to DatabaseAPI.hpp and DatabaseAPI.cpp that are covered in #1127
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Refactor new inclusions in datafed-ws.js to use as much existing code as possible, only diverge where necessary.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js change scopes to scope
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js log user ID array
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Add tests for authz router
  core/database/CMakeLists.txt
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image

initial conversion to esm
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Specify ubuntu 20.04 explicitly
  .github/workflows/unit-tests.yml
Due: retag-image

Revert dependency versions
  scripts/dependency_versions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix problems with path consistent method
  core/database/foxx/api/record.js
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

datafed-ws.js clarify uid assignment at ui/authn endpoint, add note on error cases, remove incorrect comment about uid, add appropriate error if collection_id not present
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js Extract AccessTokenType enum, add comment about fetching from protobuf; remove unnecessary commented code
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Cleanup javascript
  core/database/CMakeLists.txt
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/authz_router.test.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Format javascript
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/tests/authz_router.test.js
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

datafed-ws.js Extract transfer set logic when calling setAccessToken to improve readability of router.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Feature DLT 1127 relay new token data (#1217)
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

[DLT-1110] Update if statements
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update model, make logic private, remove controller form transfer request when update or get
  web/static/components/transfer/transfer-ui-manager.js
  web/static/models/transfer-model.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Fix update bug
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Dependency injection
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Correct HTML escape, francy tree init
  web/static/components/transfer/transfer-ui-manager.js
  web/static/models/transfer-model.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Split branches
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
Due: build-ws, build-repo, build-foxx
