Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

Adjust user_router.test.js integration tests to access deconstructed other_token_data
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

[DLT-1110] Refactor dlg start transfer using OOO programming. Should be MVC cased on what I'm seeing but we'll see
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

You're right. The diff shows some redundant and conflicting code. Let me provide a clean, corrected version:
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

refactor: Improve transfer dialog code structure and error handling
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

feat: Refactor dlg_start_xfer.js with improved error handling and state management
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Move more over
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

refactor: Simplify TransferDialog class and remove duplicate code
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

refactor: Update handleEndpointSearch method with improved error handling and endpoint validation
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

fix: Correct mode access in getDialogLabels method
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Add debug
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

feat: Add comprehensive debug logging to endpoint handling methods
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

refactor: Improve endpoint search and autocomplete logic in transfer dialog
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

refactor: Simplify transfer dialog code and remove unused methods
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

refactor: Implement initializeUIState and updateButtonStates methods
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

feat: Refactor transfer dialog with improved state management and event handling
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Functioning modal, needs refactoring
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Refactor out into MVC
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/dlg_start_xfer.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx

[DLT-1110] Correct import statements, endpoint list
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/main_browse_tab.js
  web/static/util.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Remove debug
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/main_browse_tab.js
  web/static/util.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Add controller unit tests
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update files with prettier
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/test/components/transfer/transfer-dialog-controller.test.js
Due: build-ws, build-repo, build-foxx

Add baseline jsdoc for parse method. Remove some unwanted data from globus_token doc insert
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

[DLT-1110] Split branches
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
Due: build-ws, build-repo, build-foxx

Move query parameter validations earlier in function. Decrease nesting of switch logic.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Cleanup some whitespace changes, add desired comments on assumptions.
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
  core/database/tests/test_foxx.sh
Due: build-core, retag-image

Fix naming for support test so they will run.
  core/database/foxx/tests/support.test.js
Due: build-core, retag-image

Address formatting of jquery file
  web/static/jquery/jquery.js
Due: build-ws, build-repo, build-foxx

add more descriptive posix path error message
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Remove redundant password file creation command
  core/database/tests/test_foxx.sh
Due: build-core, retag-image

Update CHANGELOG.md with changes in minor feature. Update comments on user_router.js for saving a new globus_coll
  CHANGELOG.md
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Add comment about more fields in support.js::parseOtherTokenData
  core/database/foxx/api/support.js
Due: build-core, retag-image

Fix issue for formatter
  core/database/foxx/api/support.js
Due: build-core, retag-image

Add new AccessTokenType entries for a sentinel value and Globus default in SDMS.proto, use as desired in DatabaseAPI.cpp
  common/proto/common/SDMS.proto
  core/server/DatabaseAPI.cpp
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add eslint plugin for jsdoc to github action
  .github/workflows/javascript-lint.yml
Due: retag-image

Add expiration check
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Update esling.config.js to error if invalid jsdoc
  eslint.config.js
Due: retag-image

Add missing eslint jsdoc plugin
  eslint.config.js
Due: retag-image

Remove non existant rule
  eslint.config.js
Due: retag-image

Fix jsdoc issues in data_router
  core/database/foxx/api/data_router.js
Due: build-core, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
