Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)

Add URL encoding to appropriate strings in params. Fix bug in base url. Add login prompt. Add typing and join requested scopes.
  web/static/util.js
Due: build-ws, build-repo, build-foxx

Add basic testing for resulting URL
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Fix bug with offline access requirement, needed in scopes. Add large test for resulting URL
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Trigger authz for lookup and chdir
  core/database/foxx/api/authz_router.js
  repository/gridftp/globus5/authz/source/libauthz.c
Due: build-core, retag-image

Add checks for lookup authorization, for user and project folders
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Account for lookup to base path
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Fix a few errors in database calls
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

debug log output
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Account for difference in order of project
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Add additional checks
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Check for undefined variable before using
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Add missing var declaration
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

add debug statement
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Correct to useing ids instead of keys for alloc to form
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Fix repo path check
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

More testing for resulting URL, check for existence of specified params. Check existence of values before appending param
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Refactor URL function to use URLSearchParams per sourcery-ai suggestion. Add short circuit for empty cases. Do not overwrite params defined in function.
  web/static/util.js
Due: build-ws, build-repo, build-foxx

Fix slicing issue in unit test
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Fix splicing to index into resulting array
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Another slice fix for tests. Checking tail of scopes.
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Increase margin to run tests
  core/database/foxx/api/repo_router.js
  tests/end-to-end/test_api_record.py
Due: build-core, retag-image

Address JavaScript error in return type
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Output more content to debug how folders are being split up
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Move default error back to switch statement
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Provide default results for calls to gcs that allow proper evaluation later.
  scripts/globus/setup_globus.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove create from new logic
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Provide default results for calls to gcs that allow proper evaluation later. (#1148)
  scripts/globus/setup_globus.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add checks for required parameters. Add defaults where needed. Add tests for required parameters and defaults.
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Add test for encoded URL, add notes around switching back to custom encoding
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Change confusing splices to use
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Remove unnecessary comment. Use has instead of get when checking for existing param keys
  web/static/util.js
Due: build-ws, build-repo, build-foxx

Add conditional switch and stub some logic for handling other resources in callbacks
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Fix order of logging. Add redirect
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Attempt to grab additional output to identify source of errors
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.h
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Throw error if variable is not defined properly
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Upgrade dependency of curl to 8.11
  scripts/dependency_versions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add scripts for locating globus and gss api libraries
  CMakeLists.txt
  cmake/GSSAPI.cmake
  cmake/GlobusCommon.cmake
Due: build-ws, build-core, build-gcs-base, build-gcs

Add unit test for authz library
  repository/gridftp/globus5/authz/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/unit/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/unit/test_getVersion.cpp
Due: retag-image

Add script: to anchors to see if it helps with resolving yaml files
  .gitlab/common.yml
Due: retag-image

Revert changes
  .gitlab/common.yml
Due: retag-image
