Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Path conditions:
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml

Add scripts and env vars for specifying base build image
  .gitignore
  compose/metadata/build_metadata_images_for_compose.sh
  compose/metadata/generate_build_args.sh
  scripts/compose_build_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Make docker runtime file flexible by including base image and build arg
  docker/Dockerfile.runtime
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add changelog comment
  CHANGELOG.md
Due: none

add globus node cleanup python script
  scripts/globus/clean_globus_nodes.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add job to clean up globus connect server node keys
  .gitlab/end_to_end.yml
Due: none

Add changelog command
  CHANGELOG.md
Due: none

Add missing changelog comment
  CHANGELOG.md
Due: none

Add another missing changelog comment
  CHANGELOG.md
Due: none

cpp-py-formatter
  scripts/globus/clean_globus_nodes.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix formatting
  scripts/globus/clean_globus_nodes.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove unused variable
  scripts/globus/clean_globus_nodes.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Move harbor URL bash variable beneath definition of HARBOR_REGISTRY
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add DATAFED_HARBOR_REGISTRY env variable so that ci_pipeline will run
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
Due: none

Change spacing
  .gitlab/end_to_end.yml
Due: none

Add needs to node cleanup job
  .gitlab/end_to_end.yml
Due: none

replace CI_BUILDS_DIR with CI_PROJECT_DIR
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
Due: none

Expand unbound variables for graceful execution
  CHANGELOG.md
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix use of _ with - in node cleanup argument
  .gitlab/end_to_end.yml
Due: none

Do not require nodes be removed before hand
  scripts/globus/clean_globus_nodes.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Cleanup comments from clean_globus_nodes python file
  scripts/globus/clean_globus_nodes.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Adjust clear_db.sh script
  scripts/clear_db.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add Changelog comment
  CHANGELOG.md
Due: none

Address peer review, use variable for .build-args file
  compose/metadata/build_metadata_images_for_compose.sh
Due: none

Fix Change log numbering
  CHANGELOG.md
Due: none

Add missing changelog
  CHANGELOG.md
Due: none

cpp-py-formatter
  core/server/TaskWorker.cpp
Due: build-core

Make ENABLE_FOXX_TESTS a cmake option
  CMakeLists.txt
Due: build-core, build-gcs-base, build-gcs

Add env variable that will run arango foxx api tests
  docker/Dockerfile.foxx
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Support running foxx tests as part of foxx install container
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove echo comment
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

place touch commands behind if conditional
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Cleanup database test setup scripts
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
Due: build-core

Add database foxx test to ci pipeline
  .gitlab/end_to_end.yml
Due: none

Add a bit of debug context
  repository/docker/entrypoint_authz.sh
Due: build-gcs

Revert "Add a bit of debug context"
  repository/docker/entrypoint_authz.sh
Due: build-gcs

initial commit for docker installation process
  doc_source/index.rst
  doc_source/source/admin/install_bare_metal.rst
  doc_source/source/admin/install_docker.rst
  doc_source/source/index.rst
Due: none

Removed unnecessary duplicate dev env setup
  doc_source/index.rst
  doc_source/source/dev/environment_setup.rst
  doc_source/source/index.rst
Due: none
