Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

Address concerns
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Add Changelog comment
  CHANGELOG.md
Due: retag-image

Add DataFed dependency paths to curl so SSL will be found
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add new CI environment variable to end-end yaml
  .gitlab/end_to_end.yml
Due: retag-image

Add config to core setup in end-end test. Remove from authz setup.
  .gitlab/end_to_end.yml
Due: retag-image

Make sure CMake fails if install_foxx fails
  CMakeLists.txt
Due: build-ws, build-core, build-gcs-base, build-gcs, retag-image

Escape quote
  .gitlab/end_to_end.yml
Due: retag-image

Rename to variable name
  .gitlab/end_to_end.yml
Due: retag-image

Fix extract
  .gitlab/end_to_end.yml
Due: retag-image

Make path to foxx_install.sh more explicit
  CMakeLists.txt
Due: build-ws, build-core, build-gcs-base, build-gcs, retag-image

Remove useless comments
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Add repo class
  core/database/foxx/api/repo.js
Due: build-core, retag-image

Fixed cmake call
  CMakeLists.txt
Due: build-ws, build-core, build-gcs-base, build-gcs, retag-image

Add note on future work.
  core/server/main.cpp
Due: build-core, retag-image

Changes to allow for and auto generate debug log level (#1186)
  .gitlab/end_to_end.yml
  common/include/common/DynaLog.hpp
  compose/all/compose.yml
  compose/metadata/compose.yml
  core/server/main.cpp
  docs/_sources/admin/general.rst.txt
  scripts/compose_generate_env.sh
  scripts/generate_core_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Apply formatting
  core/database/foxx/api/repo.js
Due: build-core, retag-image

Add CMakeLists.txt to rules when building foxx
  .gitlab/build/build_foxx_image.yml
Due: retag-image

Small formatting change in CMakeLists.txt to trigger fresh build
  CMakeLists.txt
Due: build-ws, build-core, build-gcs-base, build-gcs, retag-image

unit_repo test to CMakeLists.txt
  core/database/CMakeLists.txt
Due: build-core, retag-image

Make corrections to unit tests
  core/database/CMakeLists.txt
Due: build-core, retag-image

Fix authz test
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Fix entry for testing foxx repo
  core/database/CMakeLists.txt
Due: build-core, retag-image

Add repo tests
  core/database/foxx/api/repo.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Trigger foxx build when change in core database not web server
  .gitlab/build/build_foxx_image.yml
Due: retag-image

Formally add query params to function. Extract query params near start of action. Check both exist before taking action on edge. Update comments, notes, TODOs
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Stub testing for user_router
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Fix naming of user_router test so it will be picked up with sane specification. Add test to CMakeLists
  core/database/CMakeLists.txt
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

[DLT-1110] Move more over
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

Add some fixtures for creating related user to allow for integration testing
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_foxx.sh
Due: build-core, retag-image

Fix Gitlab rule around foxx rebuild
  .gitlab/build/build_foxx_image.yml
Due: retag-image

Fix manifest json. Hard code user collection check. Set time variable.
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/user_fixture.js
Due: build-core, retag-image

Use correct path for router to user endpoints. Extract some query params for validation.
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Remove intentionally failing test. Break now working test into logical sections. Update comments.
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Add test for new features
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Add further validation of no unexpected side-effects
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Remove extraneous user document checks and comments
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

More testing for branches in introduced logic. Additional check on newly inserted globus_coll
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

assert -> expect
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Work around multiple access and ordering issue by utilizing more test user fixtures.
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Rearrange key for token edge, add suggested fields to documents
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
