Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

datafed-ws.js Add error handling around token_handler construction; add errors and handling for setAccessToken, JSDoc.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Upgrade node v14 -> v23
  .gitlab/stage_unit.yml
  scripts/dependency_versions.sh
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/setup.js
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

datafed-ws.js Remove hard coded collection_id.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Upgrade node v23 -> v18, better jump
  .gitlab/stage_unit.yml
  web/package.json.in
Due: build-ws, build-repo, build-foxx

datafed-ws.js Remove thrown errors in nested functions; single redirect.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Correct ver .sh file
  scripts/dependency_versions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Feature DLT 1120 retrieve transfer token (#1228)
  web/datafed-ws.js
  web/services/auth/TokenHandler.js
  web/test/TokenHandler.test.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js Reverse order of LogLevel object properties
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js Throw error so stack trace is adequately populated
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Revert "[DLT-1110] Correct ver .sh file"
  scripts/dependency_versions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Revert "[DLT-1110] Upgrade node v14 -> v23"
  .gitlab/stage_unit.yml
  scripts/dependency_versions.sh
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/setup.js
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Revert "[DLT-1110] Upgrade node v23 -> v18, better jump"
  .gitlab/stage_unit.yml
  web/package.json.in
Due: build-ws, build-repo, build-foxx

Revert "[DLT-1110] Config"
  web/package.json.in
Due: build-ws, build-repo, build-foxx

Revert line number
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Revert "[DLT-1110] Mapped Collection Endpoint Browse Tests (2/4) (#1207)"
  .github/workflows/javascript-format.yml
  web/.mocharc.cjs
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/fixtures/transfer-fixtures.js
  web/test/setup.js
Due: build-ws, build-repo, build-foxx

Revert "Revert "[DLT-1110] Correct ver .sh file""
  .gitlab/stage_unit.yml
  scripts/dependency_versions.sh
  web/package.json.in
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/dlg_start_xfer.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/views/main.ect
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Revert "Revert "[DLT-1110] Mapped Collection Endpoint Browse Tests (2/4) (#1207)""
  .github/workflows/javascript-format.yml
  web/.mocharc.cjs
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/fixtures/transfer-fixtures.js
  web/test/setup.js
Due: build-ws, build-repo, build-foxx

Fix config access due to race condition
  repository/gridftp/globus5/authz/source/AuthzLog.c
  repository/gridftp/globus5/authz/source/AuthzLog.h
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.h
  repository/gridftp/globus5/authz/source/AuthzWorker.hpp
  repository/gridftp/globus5/authz/source/Config.c
  repository/gridftp/globus5/authz/source/Config.h
  repository/gridftp/globus5/authz/source/Util.c
  repository/gridftp/globus5/authz/source/Util.h
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/gridftp/globus5/authz/tests/unit/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/unit/test_Config.cpp
  repository/gridftp/globus5/authz/tests/unit/test_Util.cpp
Due: retag-image

cpp-py-formatter
  repository/gridftp/globus5/authz/source/Config.c
  repository/gridftp/globus5/authz/source/Config.h
  repository/gridftp/globus5/authz/source/Util.c
  repository/gridftp/globus5/authz/source/Util.h
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/gridftp/globus5/authz/tests/unit/test_Config.cpp
  repository/gridftp/globus5/authz/tests/unit/test_Util.cpp
Due: retag-image

Move include to source file and out of header file
  repository/gridftp/globus5/authz/source/Config.c
  repository/gridftp/globus5/authz/source/Config.h
Due: retag-image

Adds Changelog comment
  CHANGELOG.md
Due: retag-image

Make globus collection path use underscores consistent with other cfg keys
  scripts/generate_authz_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

TokenHandler.js Fix linting errors.
  web/services/auth/TokenHandler.js
Due: build-ws, build-repo, build-foxx

Bug daps 1243 datafed web logging (#1251)
  web/datafed-ws.js
  web/services/auth/TokenHandler.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Mapped Collection Endpoint Browse (1/4) (#1240)
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/dlg_start_xfer.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx

added updated version t0 requirements.txt
  python/datafed_pkg/requirements.txt
Due: retag-image

Debug config
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

build_gcs_image run if change in gridftp folder
  .gitlab/build/build_gcs_image.yml
Due: retag-image

Debug output streams
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Continuuing to debug
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Fix repetitive output
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Add retries to auth message
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Improve the log output
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.h
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Add newer DynaLog
  common/include/common/DynaLog.hpp
  common/source/DynaLog.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Debugging output problems, fix multiple log outputs caused by adding so many ofstreams
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Remove accidental colon from Dockerfile
  compose/dev-env/Dockerfile
Due: retag-image

Make entrypoint force generation of datafed env
  compose/dev-env/Dockerfile
Due: retag-image

Add how to use doc
  compose/dev-env/local-docker-install-instructions.md
Due: retag-image

Begin prototyping required code for mapped collection token retrieval.
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

SDMS_Auth.proto Add optional fields to UserGetAccessTokenRequest and UserAccessTokenReply to support finding correct tokens
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
