Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - docker

Remove error type usage
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Add absolute path to cmake
  .gitlab/stage_unit.yml
Due: retag-image

Change error testing to provide callable instead of invoke. Throw Error type.
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

DLT 1119 Provide method for Globus Authorize URL (#1141)
  web/static/util.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Add -e back to core/database/test/scripts
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/database/tests/test_teardown.sh
Due: build-core, retag-image

Remove problematic curl dump flag
  core/database/tests/test_setup.sh
Due: build-core, retag-image

Update test_AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Check logs for foxx setup script on failure so there is useful output.
  .gitlab/end_to_end.yml
Due: retag-image

export variables needed in after_script section
  .gitlab/end_to_end.yml
Due: retag-image

Echo variable to GitLab env to make available to after_script
  .gitlab/end_to_end.yml
Due: retag-image

Move BRANCH_LOWER into GITLAB_ENV to be shared with after_script
  .gitlab/end_to_end.yml
Due: retag-image

Add posix path js helper file
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Add unit tests for poxix path separator
  core/database/foxx/tests/path.test.js
Due: build-core, retag-image

Change potentially breaking PATH overwrite.
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add warning comments around known PATH overwrites
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove problematic curl dump flag (#1176)
  core/database/tests/test_setup.sh
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Move AccessTokenType to SDMS.proto to avoid possible read error in datafed-ws.js
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove unnecessary comment about extracting logs
  .gitlab/end_to_end.yml
Due: retag-image

Add -e back to core/database/test/scripts (#1175)
  .gitlab/end_to_end.yml
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/database/tests/test_teardown.sh
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

1106 updated proto messages for setting token (#1160)
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

[DLT-1149] Add script and update docs to address bug
  CHANGELOG.md
  doc_source/source/admin/install_docker.rst
  scripts/globus/setup_collection_directory.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add minimum dev env in docker container
  .gitignore
  compose/dev-env/Dockerfile
  compose/dev-env/build_images_for_dev.sh
  compose/dev-env/cleanup_dev_container.sh
  compose/dev-env/launch_container_for_dev.sh
Due: retag-image

Give setAccessToken ability to accept additional params to pass to protobuf
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

First commit refactoring authz route
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/record.js
  core/database/foxx/tests/path.test.js
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

Add unit tests to CMake
  core/database/CMakeLists.txt
Due: build-core, retag-image

[DLT-1110] Refactor dlg start transfer using OOO programming. Should be MVC cased on what I'm seeing but we'll see
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

Add additional params to DatabaseAPI::userSetAccessToken to pass message with addtional info on to database API.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  web/datafed-ws.js
Due: build-ws, build-core, build-repo, build-foxx

Add convenience method with old type signature of DatabaseAPI::userSetAccessToken for compatibility
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Conditionally add other token options param when calling dbGetRaw.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Pass token type along to Database API.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Pass token type from message.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Stub logic for updating related edge in router function for token/set
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Include logic for conditionally updating token data and pushing data to edge.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Change token_key to remove illegal characters
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Fix object attribute call
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
