Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

user_router.js Add baseline query params and checks. DatabaseAPI.cpp & DatabaseAPI.hpp Use updated names and types. ClientWorker.cpp Update comments.
  common/proto/common/SDMS_Auth.proto
  core/database/foxx/api/user_router.js
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

user_router.js Add logic for finding token based on collection; add token match and missing match cases
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Fix edge case in GridFTP Authz where '/' is used
  core/database/foxx/api/repo.js
  core/database/foxx/tests/repo.test.js
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: build-core, retag-image

cpp-py-formatter
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Add changelog comment
  CHANGELOG.md
Due: retag-image

Address prettier formatting
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Return necessary data from Database to refresh tokens. Mock data on dir/list to test out changes.
  core/database/foxx/api/user_router.js
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  web/datafed-ws.js
Due: build-ws, build-core, build-repo, build-foxx

user_router.js Add check for existence of Globus collection
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

user_router.js Remove existence check, move to filter method; Add notes on covered cases; add notes on code
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Add method for testing config, fix bug in global config, fix redundant log statements
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

datafed-ws.js Temporary handling of need consent response.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Make error detection clearer in bool
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Add mock core server
  repository/gridftp/globus5/authz/CMakeLists.txt
  repository/gridftp/globus5/authz/mock_core/AuthMap.cpp
  repository/gridftp/globus5/authz/mock_core/AuthMap.hpp
  repository/gridftp/globus5/authz/mock_core/AuthenticationManager.cpp
  repository/gridftp/globus5/authz/mock_core/AuthenticationManager.hpp
  repository/gridftp/globus5/authz/mock_core/CMakeLists.txt
  repository/gridftp/globus5/authz/mock_core/ClientWorker.cpp
  repository/gridftp/globus5/authz/mock_core/ClientWorker.hpp
  repository/gridftp/globus5/authz/mock_core/Condition.cpp
  repository/gridftp/globus5/authz/mock_core/Condition.hpp
  repository/gridftp/globus5/authz/mock_core/Config.cpp
  repository/gridftp/globus5/authz/mock_core/Config.hpp
  repository/gridftp/globus5/authz/mock_core/IMockCoreServer.hpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.hpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.cpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.hpp
  repository/gridftp/globus5/authz/mock_core/PublicKeyTypes.hpp
  repository/gridftp/globus5/authz/mock_core/Version.hpp.in
  repository/gridftp/globus5/authz/mock_core/main.cpp
Due: retag-image

Add integration and, liveness test for mock
  repository/gridftp/globus5/authz/tests/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  repository/gridftp/globus5/authz/tests/mock/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/mock/mock_start.sh
  repository/gridftp/globus5/authz/tests/mock/mock_stop.sh
  repository/gridftp/globus5/authz/tests/mock/test_getVersion.cpp
Due: retag-image

Address mock integration setup and consolidate
  repository/gridftp/globus5/authz/mock_core/CMakeLists.txt
  repository/gridftp/globus5/authz/mock_core/ClientWorker.hpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/gridftp/globus5/authz/tests/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  repository/gridftp/globus5/authz/tests/mock/CMakeLists.txt
Due: retag-image

Apply formatting
  .gitignore
  repository/gridftp/globus5/authz/mock_core/AuthMap.cpp
  repository/gridftp/globus5/authz/mock_core/AuthMap.hpp
  repository/gridftp/globus5/authz/mock_core/ClientWorker.cpp
  repository/gridftp/globus5/authz/mock_core/ClientWorker.hpp
  repository/gridftp/globus5/authz/mock_core/Config.cpp
  repository/gridftp/globus5/authz/mock_core/Config.hpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.hpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.cpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.hpp
  repository/gridftp/globus5/authz/mock_core/main.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  repository/gridftp/globus5/authz/tests/mock/test_getVersion.cpp
Due: retag-image

Remove unused timeout variable from mock
  repository/gridftp/globus5/authz/mock_core/Config.cpp
  repository/gridftp/globus5/authz/mock_core/Config.hpp
  repository/gridftp/globus5/authz/mock_core/main.cpp
Due: retag-image

Address JSDoc complaints
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

Apply prettier
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

Fix formatting and eslint prettier issues
  web/static/models/transfer-model.js
Due: build-ws, build-repo, build-foxx

Address codacy feedback
  repository/gridftp/globus5/authz/mock_core/AuthMap.cpp
  repository/gridftp/globus5/authz/mock_core/ClientWorker.cpp
  repository/gridftp/globus5/authz/mock_core/Config.cpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
Due: retag-image

Introduct JSDoc bug/warning
  web/static/components/transfer/index.js
Due: build-ws, build-repo, build-foxx

Address Tony's feedback on single return in Config.c
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Set Config defaults, make err = true to address tony feedback
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Address config file refactor address inconsistent unlocking in config file load function
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Address review feedback on magic numbers
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Apply clang formatting
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Config.c
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

Additional clang formatting
  common/include/common/DynaLog.hpp
  common/source/DynaLog.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Clean up grammar in comment
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
Due: retag-image

Add note in Config.h
  repository/gridftp/globus5/authz/mock_core/Config.hpp
Due: retag-image

Apply clang formatting
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
Due: retag-image

Correct pointer, change to copy
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Reduced change log comment to 80 chars
  CHANGELOG.md
Due: retag-image

Address codacy issues
  repository/gridftp/globus5/authz/mock_core/ClientWorker.cpp
  repository/gridftp/globus5/authz/mock_core/ClientWorker.hpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.hpp
Due: retag-image

Remove magic number
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Fix test to be consistent with merge
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
Due: retag-image

Add additional test
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Add integration test for AuthzWorker
  repository/gridftp/globus5/authz/tests/integration/test_AuthzWorker.cpp
Due: retag-image

Debug
  repository/gridftp/globus5/authz/mock_core/MockGlobals.cpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.hpp
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/test_AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
Due: retag-image
