Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

updated changelog
  CHANGELOG.md
Due: none

commiting changes from malformed branch
  doc_source/index.rst
  doc_source/source/admin/install_bare_metal.rst
  doc_source/source/admin/install_docker.rst
  doc_source/source/index.rst
Due: none

Add ENABLE foxx tests to CI pipeline
  .gitlab/end_to_end.yml
Due: none

Make foxx testing variable ENABLE_FOXX_TESTS an option in CMake file.
  CMakeLists.txt
Due: build-core, build-gcs-base, build-gcs

Recognize env variable in entrypoint file
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add Changelog comment
  CHANGELOG.md
Due: none

Fix the entrypoint file for foxx container so it will actually run test cases if specified
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add log output from ci end-to-end arango-setup job
  .gitlab/end_to_end.yml
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Update docker/entrypoint_foxx.sh
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Turn on uninitialed vars error in foxx_setup
  core/database/tests/test_setup.sh
Due: build-core

Switch to using BASE_SOURCE over 0 as it is safer
  core/database/tests/test_setup.sh
Due: build-core

Auto initialize variables if they are not defined without throwing error
  core/database/tests/test_setup.sh
Due: build-core

Fix erroneous formatting
  .gitlab/end_to_end.yml
Due: none

Consolidate use of dependent packages to /scripts/ dependency functions
  core/database/tests/test_setup.sh
Due: build-core

Switch dependency_install functions to useing bash source variable
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Switch bash script to use builtin BASH_SOURCE[0]
  core/database/tests/test_foxx.sh
Due: build-core

Add u - check for uninitialized variables and add default initialization where needed :-
  core/database/tests/test_foxx.sh
Due: build-core

Switch to using BASH_SOURCE[0] in dependency install function
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Use DataFed dependencies and install functions
  core/database/tests/test_foxx.sh
Due: build-core

Added error checks in ci purge script, also fixed bug in removing GB postfix
  scripts/ci_purge_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add explantory comments
  scripts/ci_purge_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Convert tabs to whitespace
  scripts/ci_purge_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Output file system size to be safe.
  .gitlab/stage_clear_cache.yml
Due: none

Address feedback from code review
  scripts/ci_purge_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add initial unit test
  web/package.json.in
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Add missing deployment key
  .gitlab/end_to_end.yml
Due: none

grab log output even if container fails
  .gitlab/common.yml
Due: none

move flag to the correct position after ps
  .gitlab/common.yml
Due: none

Convert datafed-ws.js to be ESM compliant
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Force exit on failed test
  .gitlab/end_to_end.yml
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Simplify cmake command
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add initial unit tests for token get route
  core/database/foxx/tests/user.test.js
Due: build-core

Add tests to CMake
  core/database/CMakeLists.txt
Due: build-core

Move install flag after test
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add documentation about running DataFed Python package from source repo
  python/datafed_pkg/README
Due: none

Switch out xmlrpc client with requests
  python/datafed_pkg/datafed/MessageLib.py
Due: none

Update python client version to include bug release
  cmake/Version.cmake
Due: build-core, build-gcs-base, build-gcs

Add changelog comment
  CHANGELOG.md
Due: none

Moved version utility functions into their own python module
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VersionUtils.py
Due: none

Path conditions:
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
