Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

feat: Convert jQuery dialog to React component with TypeScript typing
  web/static/components/dialogs/AnnotationDialog.tsx
  web/static/dlg_annotation.ts
  web/static/types/annotation.ts
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Update import paths for AllocationDialog and related components
  web/static/components/allocation/AllocationDialog.tsx
  web/static/dlg_alloc_new_edit.ts
Due: build-ws, build-repo, build-foxx, retag-image

feat: Convert jQuery dialog to React with TypeScript implementation
  web/static/components/allocation/AllocationDialog.tsx
  web/static/dlg_alloc_new_edit.ts
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Replace dialog alerts with AlertDialog component usage
  web/static/dlg_coll_new_edit.ts
Due: build-ws, build-repo, build-foxx, retag-image

feat: Convert jQuery dialog to React component with TypeScript integration
  web/static/components/collection/CollectionDialog.tsx
  web/static/components/common/TagInput.tsx
  web/static/dlg_coll_new_edit.ts
  web/static/types/collection.ts
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Remove jQuery code and implement React for collection dialog handling
  web/static/dlg_coll_new_edit.ts
Due: build-ws, build-repo, build-foxx, retag-image

feat: Migrate user selection dialog from jQuery to React with TypeScript
  web/static/UserSelectionDialog.tsx
Due: build-ws, build-repo, build-foxx, retag-image

feat: Integrate UserSelectionDialog into AllocationDialog component
  web/static/components/allocation/AllocationDialog.tsx
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1283] Woot
  web/static/ProjectPicker.tsx
  web/static/components/allocation/AllocationDialog.tsx
  web/static/components/allocation/AllocationForm.tsx
  web/static/components/dialogs/AnnotationDialog.tsx
  web/static/dialogs.ts
  web/static/dlg_annotation.ts
  web/static/dlg_pick_proj.ts
  web/static/dlg_pick_topic.ts
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-e] Stopping point
  web/static/components/UserPicker.tsx
  web/static/dlg_group_edit.ts
  web/static/dlg_proj_new_edit.ts
Due: build-ws, build-repo, build-foxx, retag-image

updated versions for release
  cmake/Version.cmake
Due: build-core, build-repo, build-gcs-base, build-gcs, retag-image

Update project.rst
  doc_source/source/dev/project.rst
Due: retag-image

Update format-check.yml
  .github/workflows/format-check.yml
Due: retag-image

[DAPS-DEPS] Update ver, add push
  web/static/components/catalog/CatalogPanel.tsx
  web/static/components/catalog/TopicNavigation.tsx
  web/static/components/dialogs/OwnerChangeDialog.tsx
  web/static/components/info/ItemDetails.tsx
  web/static/components/info/ItemInfoPanel.tsx
  web/static/components/info/MetadataTree.tsx
  web/static/dlg_owner_chg_confirm.ts
  web/static/panel_catalog.ts
Due: build-ws, build-repo, build-foxx, retag-image

Pull in version numbers appropriately
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_ws_image.yml
Due: retag-image

Avoid build cache
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
Due: retag-image

Aggressive prune
  .gitlab/stage_clear_cache.yml
Due: retag-image

Trigger rebuild
  cmake/Version.cmake
Due: build-core, build-repo, build-gcs-base, build-gcs, retag-image

generate_repo_config.sh Accept env variable for datafed server from repo service instead of hard coding
  scripts/generate_repo_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

feat: Migrate jQuery dialog to React component with TypeScript support
  web/static/components/QuerySaveDialog.tsx
Due: build-ws, build-repo, build-foxx, retag-image

feat: Migrate settings dialog from jQuery to React with TypeScript
  web/static/components/SettingsDialog.tsx
Due: build-ws, build-repo, build-foxx, retag-image

Allow core config thread options to be read in from env
  scripts/generate_core_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add changelog comment
  CHANGELOG.md
Due: retag-image

DatabaseAPI.cpp Pull in json dependency, use json object to serialize request payload
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Replace json serialization in more locations where parseSearchRequest is being called.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Add comments around locations that will need json serialization
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Convert missed body append to serialization format
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

typo
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

[DAPS-1283] Refactor
  web/static/components/SettingsDialog.tsx
  web/static/components/allocation/AllocationDialog.tsx
  web/static/components/collection/CollectionDialog.tsx
  web/static/components/dialogs/AllocationDialog.tsx
  web/static/components/dialogs/CollectionDialog.tsx
  web/static/components/dialogs/QuerySaveDialog.tsx
  web/static/dlg_alloc_new_edit.ts
  web/static/dlg_coll_new_edit.ts
  web/static/dlg_query_save.ts
Due: build-ws, build-repo, build-foxx, retag-image

Adjust deployment version number
  cmake/Version.cmake
Due: build-core, build-repo, build-gcs-base, build-gcs, retag-image

Fix Version month
  cmake/Version.cmake
Due: build-core, build-repo, build-gcs-base, build-gcs, retag-image

Update CHANGELOG.md
  CHANGELOG.md
Due: retag-image

Merge hotfixes into devel (#1326)
  .github/workflows/format-check.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
  .gitlab/stage_clear_cache.yml
  CHANGELOG.md
  cmake/Version.cmake
  doc_source/source/dev/project.rst
  scripts/generate_core_config.sh
  scripts/generate_repo_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Feature DAPS 1215 foxx UserGetAccessTokenRequest mapped collection support (#1284)
  CHANGELOG.md
  common/proto/common/SDMS_Auth.proto
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/globus_collection_fixture.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/foxx/tests/user_token.test.js
  core/database/tests/test_fixture_setup.sh
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  web/datafed-ws.js
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Dockerfile Add confirm to update & upgrade; remove unused dep; point to new nvim install; use build dir for compiled files and compile_commands.json
  compose/dev-env/Dockerfile
Due: retag-image

[DAPS-1110] Refactor tests
  web/datafed-ws.js
  web/services/auth/ConsentHandler.js
  web/services/auth/TokenHandler.js
  web/services/auth/constants.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/test/ConsentHandler.js
  web/test/api.test.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Prettier
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Update web server
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] add refactors
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Update
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/util.js
Due: build-ws, build-repo, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
