Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - docker

created initial test case for globus api
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_GlobusAPI.cpp
Due: build-core, retag-image

moved test class definition into test file
  core/server/TestDatabaseAPI.hpp
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

cpp-py-formatter
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

created a test class header for database api
  core/server/DatabaseAPI.hpp
  core/server/TestDatabaseAPI.hpp
Due: build-core, retag-image

finished tests
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

added function definitions and initial per test case setup
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

created a test class header for globus api
  core/server/GlobusAPI.hpp
  core/server/TestGlobusAPI.hpp
Due: build-core, retag-image

moved test class definition into test file
  core/server/TestGlobusAPI.hpp
  core/server/tests/unit/test_GlobusAPI.cpp
Due: build-core, retag-image

added function definitions and initial per test case setup
  core/server/tests/unit/test_GlobusAPI.cpp
Due: build-core, retag-image

finished tests
  core/server/GlobusAPI.hpp
  core/server/tests/unit/test_GlobusAPI.cpp
Due: build-core, retag-image

Add web unit test to cmake test infrastructure
  CMakeLists.txt
Due: build-ws, build-core, build-gcs-base, build-gcs

Split entrypoint and cmd, add entrypoint for intermediate container for unit testing
  web/docker/Dockerfile
Due: build-ws, build-repo, build-foxx

Turn off web build because we don't have the packages to run web testing in the GitHub job
  .github/workflows/unit-tests.yml
Due: retag-image

Add default environment variable for Dockerfile.foxx to address undefined issue in entrypoint_foxx.sh
  docker/Dockerfile.foxx
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

added missing curl method
  core/server/tests/unit/test_GlobusAPI.cpp
Due: build-core, retag-image

Tag intermediate file in compose build script
  scripts/compose_build_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add unit testing stage to gitlab ci
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add placeholder file for pipeline unit testing job
  .gitlab/stage_unit.yml
Due: retag-image

Create DATAFED_DEPENDNECIES_INSTALL_PATH as an ARG
  core/docker/Dockerfile
Due: build-core, retag-image

Remove overwrite of PATH
  docker/Dockerfile.foxx
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add missing ARG from after FROM statemnt in Dockerfile.dependencies
  docker/Dockerfile.dependencies
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add missing default from Dockerfile.runtime
  docker/Dockerfile.runtime
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Kill gcs container on running if there is an error in the setup file
  scripts/globus/setup_globus.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

bug(DLT-1129) update setup_globus.sh file
  docker/Dockerfile.foxx
  scripts/globus/setup_globus.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add check for running container
  .gitlab/end_to_end.yml
Due: retag-image

Add unit test for web server to run in CI pipeline
  .gitlab/stage_unit.yml
Due: retag-image

Add missing ci files, these files will build and push an intermediate build image to the registry
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
  .gitlab/common.yml
Due: retag-image

Fix parallel runs, by adding random sleep
  .gitlab/stage_pipeline_serialize.yml
Due: retag-image

Remove circular dependency
  .gitlab/stage_unit.yml
Due: retag-image

Remove env vars that are defined in main ci file
  .gitlab/stage_unit.yml
Due: retag-image

Remove nonfunctional chown in Dockerfile.gcs; move to entrypoint_authz.sh
  repository/docker/Dockerfile.gcs
  repository/docker/entrypoint_authz.sh
Due: build-gcs, retag-image

Do not run unit test for web server in GitHub
  .github/workflows/unit-tests.yml
Due: retag-image

Fix syntax error in yaml file
  .gitlab/stage_unit.yml
Due: retag-image

Fix dependency rely on pipeline trigger running to completion successfully
  .gitlab/stage_unit.yml
Due: retag-image

Another attempt to get dependencies to resolve between unit tests and web build
  .gitlab/stage_unit.yml
Due: retag-image

Add missing env variables
  .gitlab/stage_build_base.yml
Due: retag-image

Print tags to be sure its clear what they are
  .gitlab/common.yml
Due: retag-image

Add minimum representation of consent URI generation.
  web/static/util.js
Due: build-ws, build-repo, build-foxx

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
