Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

Turn browser off
  eslint.config.js
Due: retag-image

Switch to CommonJS for formatting
  eslint.config.js
Due: retag-image

Add missing config file
  .github/workflows/javascript-lint.yml
Due: retag-image

Add opionated format rules
  .prettierrc.json
Due: retag-image

Add eslint config file that is up to spec
  eslint.config.js
Due: retag-image

install globals'
  .github/workflows/javascript-lint.yml
Due: retag-image

change install commands for linter
  .github/workflows/javascript-lint.yml
Due: retag-image

Create temporary package.json so npm eslint will work
  .github/workflows/javascript-lint.yml
Due: retag-image

Add npx call
  .github/workflows/javascript-lint.yml
Due: retag-image

Prevent formatter from killing full pipeline of checks
  .github/workflows/javascript-format.yml
Due: retag-image

Address eslint errors
  web/static/jquery/jquery.js
Due: build-ws, build-repo, build-foxx

Remove randomly added custom global
  eslint.config.js
Due: retag-image

Specifically allow job to fail
  .github/workflows/javascript-format.yml
Due: retag-image

Clean up linter and formatter.
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
Due: retag-image

Add Changelog comment
  CHANGELOG.md
Due: retag-image

Pull user_doc from existing logic. Use object destructuring. Add error condition. Introduce protobuf enum to backend. Add parser for other_token_data string. Update document creation functions
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Move controllers into controller folder
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/api/controllers/project.js
  core/database/foxx/api/controllers/record.js
  core/database/foxx/api/controllers/repo.js
  core/database/foxx/api/controllers/user.js
  core/database/foxx/api/utils/posix_path.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/path.test.js
  core/database/foxx/tests/project.test.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Apply suggestions from code review
  .github/workflows/javascript-format.yml
Due: retag-image

Extract fixture build call to separate script. Add script as fixture in cmake
  core/database/CMakeLists.txt
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
Due: build-core, retag-image

Remove some extraneous logic, remove password file overwrite.
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image

Remove unused zeromq flag
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image

Adjust testing to include enum, expect error on invalid input combination, typo, naming
  core/database/CMakeLists.txt
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Adjust scope string in user_router test. Add validations to parseOtherTokenData. Add tests for positive and error cases of parseOtherTokenData.
  core/database/foxx/api/support.js
  core/database/foxx/tests/support.test.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Pass in repo object to strategy methods
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/api/controllers/repo.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image

Turn on hard failure for formatting of javascript in github action
  .github/workflows/javascript-format.yml
Due: retag-image

Fix minor differences between prettier
  web/static/jquery/jquery.js
  web/static/main_browse_tab.js
Due: build-ws, build-repo, build-foxx

Change chai expects in support.test.js to use callable. Update perms on fixture setup script. Use URL encoded pipe character in user_router.test.js
  core/database/foxx/tests/support.test.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image

Update authz.test.js
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Add better comments around database method
  core/database/foxx/api/support.js
Due: build-core, retag-image

Apply formatting
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/support.js
Due: build-core, retag-image

Group OR in user_router.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Format authz test
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Format authz file
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Apply formatting to posix path
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Address formatting issues
  core/database/foxx/api/record.js
  core/database/foxx/tests/path.test.js
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

Fix syntax change
  web/static/jquery/jquery.js
Due: build-ws, build-repo, build-foxx

Apply formatting to javasript in foxx
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/admin_router.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/config_router.js
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/api/controllers/project.js
  core/database/foxx/api/controllers/record.js
  core/database/foxx/api/controllers/repo.js
  core/database/foxx/api/controllers/user.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/metrics_router.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tag_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/topic_router.js
  core/database/foxx/api/user_router.js
  core/database/foxx/api/utils/posix_path.js
  core/database/foxx/db_clear.js
  core/database/foxx/db_create.js
  core/database/foxx/db_migrate_0_10.js
  core/database/foxx/index.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/path.test.js
  core/database/foxx/tests/project.test.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
  core/database/foxx/tests/support.test.js
  core/database/foxx/tests/version.test.js
Due: build-core, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
