Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

Add example schema with a reference
  doc_source/source/user/web/portal.rst
Due: retag-image

Make sure empty metdata still contains values
  web/static/dlg_data_new_edit.js
Due: build-ws, build-repo, build-foxx

Add notebook for linting jupyter
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Using working directory option
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Update .github/workflows/jupyternotebook-lint.yml
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

user_router.js Re-introduce accidentally removed `globus_collection` object.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Update python notebooks
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/1_Basics.ipynb
  jupyter_notebooks/1_Basics_with_Solutions.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: retag-image

CMakeLists.txt Remove comment about necessity
  core/database/CMakeLists.txt
Due: build-core, retag-image

Add collection_type and collection_id to dat/put task state
  common/proto/common/SDMS_Auth.proto
  core/database/foxx/api/data_router.js
  core/database/foxx/api/tasks.js
  core/server/DatabaseAPI.cpp
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Attempt to fix jupyternote book linting errors
  .github/workflows/jupyternotebook-lint.yml
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: retag-image

Format with black
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: retag-image

Specify line length with black to be consistent with flake8
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Add a Changelog comment
  CHANGELOG.md
Due: retag-image

Change line length to 88
  .github/workflows/jupyternotebook-lint.yml
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
Due: retag-image

Add black formatters
  jupyter_notebooks/.flake8
  pyproject.toml
Due: retag-image

Make formatting consistent across project
  .flake8
  .github/workflows/format-check.yml
  jupyter_notebooks/.flake8
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  pyproject.toml
Due: retag-image

Fix linter
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Temporarily keep line length in black to 79 and address in separate issue
  .github/workflows/format-check.yml
Due: retag-image

Change line length to 88 for now :
  .github/workflows/format-check.yml
Due: retag-image

Update token lookup logic to use `byExample`, add test case for missing Globus collection. Add globus_coll fixture.
  core/database/foxx/api/user_router.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/globus_collection_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image

SDMS_Auth.proto Change UserAccessTokenReply needs_consent to optional field.
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

user_router.js Update token/get to default to start consent flow when collection tokens are present. user_router.test.js Update test from error to needs_consent.
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image

Formatting changes.
  core/database/foxx/tests/globus_collection_fixture.js
Due: build-core, retag-image

[DAPS-1110] Refactor tests
  web/datafed-ws.js
  web/services/auth/ConsentHandler.js
  web/services/auth/TokenHandler.js
  web/services/auth/constants.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/test/ConsentHandler.js
  web/test/api.test.js
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Update
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/util.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Update web server
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] eslint, update api.test.js to reflect usage
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/test/api.test.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Address transfer start button bug
  web/package.json.in
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] add refactors
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Refactor browse into component and use CSS
  web/static/components/endpoint-browse/index.js
  web/static/components/endpoint-browse/styles.css
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_ep_browse.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Remove .. in ep ls, remove logs
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Add sinon, remove dead code
  web/package.json.in
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Prettier
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-ws, build-repo, build-foxx

[DAPS-1110] Update changelog
  CHANGELOG.md
Due: retag-image

SDMS_Auth.proto Add new fields to DataGetRequest
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

updated changelog
  CHANGELOG.md
Due: retag-image

Fix bug in CI scripts associated with repo and gcs image build
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  repository/CMakeLists.txt
Due: retag-image

Begin refactor of token decision logic.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/models/user.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Address bugs in fetching and mapping data, make unit tests pass.
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

globus_token.js Match other models for get
  core/database/foxx/api/models/globus_token.js
Due: build-core, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
