Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)

Debug - comment out everything but build image
  .gitlab/common.yml
Due: retag-image

cpp-py-formatter
  repository/gridftp/globus5/authz/tests/unit/test_getVersion.cpp
Due: retag-image

Debug logging for web service. Attempt to set token.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Remove incorrect method call to data, use data attribute.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Add some TODOs and logging
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Add Authz header and refactor of Authz class
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.hpp
Due: retag-image

updated proto messages for setting token
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Refactor authz cpp file and add unit tests
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.hpp
  repository/gridftp/globus5/authz/tests/unit/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Explicitly add gssapi_krb5 to apt packages
  cmake/GSSAPI.cmake
  scripts/install_authz_dependencies.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove line split
  tests/end-to-end/setup.sh
Due: retag-image

Debug with using reference tag with anchors
  .gitlab/common.yml
Due: retag-image

Fix double reference:
  .gitlab/common.yml
Due: retag-image

Debugging
  .gitlab/common.yml
Due: retag-image

Debug 1
  .gitlab/common.yml
Due: retag-image

Debug 2
  .gitlab/common.yml
Due: retag-image

Debug 3
  .gitlab/common.yml
Due: retag-image

Debug 4
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
Due: retag-image

Debug 5
  .gitlab/common.yml
Due: retag-image

Debug 6
  .gitlab/common.yml
Due: retag-image

Debug 7
  .gitlab/common.yml
Due: retag-image

Debug 8
  .gitlab/common.yml
Due: retag-image

Debug 9
  .gitlab/common.yml
Due: retag-image

Debug 10
  .gitlab/common.yml
Due: retag-image

Fix branch env variable export order
  .gitlab/common.yml
Due: retag-image

Fix paths for log output
  .gitlab/build/force_build_gcs_base_image.yml
Due: retag-image

Revert to including all anchors
  .gitlab/common.yml
Due: retag-image

Add missing variable
  .gitlab/common.yml
Due: retag-image

Fix common.yml
  .gitlab/common.yml
Due: retag-image

Check if we intermediate image exists
  .gitlab/stage_image_check.yml
Due: retag-image

Fix missing retag
  .gitlab/common.yml
Due: retag-image

Add uth and transfer AccessTokenTypes to enum
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Temporary fix to unit test env in web docker container
  .gitlab/stage_unit.yml
Due: retag-image

cpp-py-formatter
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.hpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image

Add missing comment on env variable
  .gitlab/common.yml
Due: retag-image

cpp-py-formatter
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

First step in adding authz unit testing to ci in job
  .gitlab/stage_unit.yml
Due: retag-image

Build and run unit tests for authz library
  .gitlab/stage_unit.yml
  repository/docker/Dockerfile.gcs
Due: build-gcs, retag-image

Update tests to check encoded URL against JS API encoded versions of expected values; update error expectation in testing
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx

Test - specify error type; compare encoded redirect URI
  web/test/util.test.js
Due: build-ws, build-repo, build-foxx
