Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

Add additional params to DatabaseAPI::userSetAccessToken to pass message with addtional info on to database API.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Pass token type along to Database API.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Pass token type from message.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Conditionally add other token options param when calling dbGetRaw.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Changes to allow for and auto generate debug log level
  core/server/main.cpp
  docs/_sources/admin/general.rst.txt
  scripts/generate_core_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Conditionally set log level
  core/server/main.cpp
Due: build-core, retag-image

Add set -e back into install_foxx file
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove --dump flag
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Change arg to uint8 so boost can read it more easily, cast and set value.
  core/server/main.cpp
Due: build-core, retag-image

Add meta logging for debug
  core/server/main.cpp
Due: build-core, retag-image

Change typing to match underlying type of enum
  core/server/main.cpp
Due: build-core, retag-image

Add clean record.js object
  core/database/foxx/api/record.js
Due: build-core, retag-image

Add more specific pattern matching
  core/database/CMakeLists.txt
Due: build-core, retag-image

Add README with test instructions.
  core/database/README.md
Due: build-core, retag-image

Apply formatting
  core/database/foxx/api/record.js
Due: build-core, retag-image

Add sentinel value to LogLevel enum. Utilize sentinel value for conditionally setting log levels.
  common/include/common/DynaLog.hpp
  core/server/main.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Applied formatting
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Apply formatting
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

add missing pass file
  core/database/tests/test_foxx.sh
Due: build-core, retag-image

Add missing new command
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Use UINT_MAX as default for sentinel value. Conditionally set log level if in valid range.
  core/server/main.cpp
Due: build-core, retag-image

Fix LogLine method declaration in DynaLog.hpp for formatter
  common/include/common/DynaLog.hpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Negate if statement
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Throw exception when entering invalid state
  core/server/main.cpp
Due: build-core, retag-image

Add toggle for setting env variable DATAFED_CORE_LOG_LEVEL
  scripts/compose_generate_env.sh
  scripts/generate_core_config.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add initial authz test
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Add initial authz test
  core/database/CMakeLists.txt
Due: build-core, retag-image

Added explantory comments
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Addressed review feedback
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Addressed code review feedback
  core/database/foxx/api/record.js
Due: build-core, retag-image

add in code documentation to support.js
  core/database/foxx/api/support.js
Due: build-core, retag-image

cleaned up log messagets from record test
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image

Pass env variable on to compose files
  compose/all/compose.yml
  compose/metadata/compose.yml
Due: retag-image

Make path test consistent with record and authz test
  core/database/CMakeLists.txt
  core/database/foxx/tests/path.test.js
Due: build-core, retag-image

Revert all of the formatting changes that do not have to do with the authz check method
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Address code review comment
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Address code review
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Update README.md
  core/database/README.md
Due: build-core, retag-image

[DLT-1110] Refactor dlg start transfer using OOO programming. Should be MVC cased on what I'm seeing but we'll see
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

Fix formatting from extra space
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image
