Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Add file
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Debug CI
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Debug ci
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

add missing stage
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fill out client testing
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Run in terminal
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix path
  repository/docker/entrypoint_authz.sh
Due: none

Run in daemon mode
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Update entrypoint file, because * expansion was not working with mv
  repository/docker/entrypoint_authz.sh
Due: none

Add safter move with wildcard
  repository/docker/entrypoint_authz.sh
Due: none

Add entrypoint file to rule
  .gitlab-ci.yml
  repository/docker/entrypoint_repo.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Make repo domain explicit, and remove hardcoded domain from apache configuration of core service
  .gitlab-ci.yml
  repository/docker/Dockerfile.gcs
  repository/docker/entrypoint_authz.sh
  scripts/globus/generate_repo_form.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Using latest images and fixing key path
  .gitlab-ci.yml
  docker/entrypoint_foxx.sh
  repository/docker/entrypoint_authz.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Avoid env variable with entrypoint command
  docker/Dockerfile.foxx
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix accidental volume mount to bind mount
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix failed container run
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add latest tag to container check
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Attempt to cleanup old files
  .gitlab-ci.yml
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Turn back to daemon
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add end-to-end test
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix python client tests end-to-end tests
  .gitlab-ci.yml
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
  python/datafed_pkg/requirements.txt
  scripts/install_foxx.sh
  tests/end-to-end/CMakeLists.txt
  tests/end-to-end/setUp.py
  tests/end-to-end/setup.sh
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
  tests/end-to-end/test_api_user_login.py
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add missing artifact to client for repo form
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Change path to absolute path
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

updated arangodb version
  compose/metadata/compose.yml
Due: none

Extend time check for data transfer test
  tests/end-to-end/test_api_record.py
Due: none

cpp-py-formatter
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
Due: none

Cleanup
  python/datafed_pkg/datafed/CommandLib.py
  repository/docker/Dockerfile.gcs
  repository/docker/entrypoint_authz.sh
  scripts/globus/generate_repo_form.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Address formatting
  python/datafed_pkg/datafed/Config.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
Due: none

Add Changelog commnet
  CHANGELOG.md
Due: none

Fix format-check error
  .github/workflows/format-check.yml
Due: none

Address formatting concern with Config.py file
  python/datafed_pkg/datafed/Config.py
Due: none

Apply formatting again
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/1_Basics.ipynb
  jupyter_notebooks/1_Basics_with_Solutions.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: none

Update format-check.yml
  .github/workflows/format-check.yml
Due: none

Add changelog comment
  CHANGELOG.md
Due: none

Fix errors in database foxx router files
  core/database/foxx/api/authz_router.js
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Attempt to fix permissions issue
  docker/entrypoint_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Ensure jq is installed
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Update semantic version numbers
  cmake/Version.cmake
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VERSION.py.in
Due: build-core, build-gcs-base, build-gcs

Path conditions:
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
