Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

[DAPS-DEPS] Update cpp-py-formatter to 0.3.0
  .github/workflows/format-check.yml
Due: retag-image

tasks.js Pull in new logic for determining tokens, replace tokens; Needs to be verified. user_token.js Add new format function for compatibility with transfer doc replacement.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image

[DAPS-DEPS] Update cpp-py-formatter to 0.3.1
  .github/workflows/format-check.yml
Due: retag-image

[DAPS-DEPS] Update ver, add push
  .github/workflows/format-check.yml
Due: retag-image

added updated version t0 requirements.txt
  python/datafed_pkg/requirements.txt
Due: retag-image

applied potential fix to deprecation warning
  python/datafed_pkg/datafed/Connection.py
Due: retag-image

corrected imported member
  python/datafed_pkg/datafed/Connection.py
Due: retag-image

updated changelog
  CHANGELOG.md
Due: retag-image

Update the schema documentation to improve the usability.
  doc_source/source/user/web/portal.rst
Due: retag-image

Update .github/workflows/jupyternotebook-lint.yml
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Using working directory option
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Add example schema with a reference
  doc_source/source/user/web/portal.rst
Due: retag-image

Format with black
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: retag-image

Specify line length with black to be consistent with flake8
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Add notebook for linting jupyter
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Attempt to fix jupyternote book linting errors
  .github/workflows/jupyternotebook-lint.yml
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: retag-image

Update python notebooks
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/1_Basics.ipynb
  jupyter_notebooks/1_Basics_with_Solutions.ipynb
  jupyter_notebooks/2_Data_Records.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
  jupyter_notebooks/3_Data_Transfer_with_Solutions.ipynb
  jupyter_notebooks/4_Collections_Queries.ipynb
  jupyter_notebooks/4_Collections_Queries_with_Solutions.ipynb
  jupyter_notebooks/5_Collaborative_Exercise.ipynb
Due: retag-image

Add a Changelog comment
  CHANGELOG.md
Due: retag-image

Change line length to 88 for now :
  .github/workflows/format-check.yml
Due: retag-image

Fix bug in CI scripts associated with repo and gcs image build
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  repository/CMakeLists.txt
Due: build-repo, retag-image

Temporarily keep line length in black to 79 and address in separate issue
  .github/workflows/format-check.yml
Due: retag-image

Change line length to 88
  .github/workflows/jupyternotebook-lint.yml
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/3_Data_Transfer.ipynb
Due: retag-image

Add black formatters
  jupyter_notebooks/.flake8
  pyproject.toml
Due: retag-image

Fix linter
  .github/workflows/jupyternotebook-lint.yml
Due: retag-image

Make formatting consistent across project
  .flake8
  .github/workflows/format-check.yml
  jupyter_notebooks/.flake8
  jupyter_notebooks/0_verify.ipynb
  jupyter_notebooks/2_Data_Records_with_Solutions.ipynb
  pyproject.toml
Due: retag-image

[DAPS-1283] Move files over
  web/components/browse/types.ts
  web/components/endpoint-browse/index.js
  web/components/endpoint-browse/styles.css
  web/components/transfer/index.js
  web/components/transfer/transfer-dialog-controller.js
  web/components/transfer/transfer-endpoint-manager.js
  web/components/transfer/transfer-templates.js
  web/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/main_browse_tab.js
  web/static/util.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1283 Move endpoint transfer logic
  web/components/endpoint-browse/EndpointBrowser.tsx
  web/components/endpoint-browse/styles.ts
  web/components/transfer/TransferDialog.tsx
  web/components/transfer/TransferTemplates.tsx
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1283 Move endpoint transfer logic
  web/components/transfer/TransferDialogController.tsx
  web/components/transfer/TransferEndpointManager.tsx
  web/components/transfer/TransferUIManager.tsx
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Improve component structure and readability with hooks and type safety
  web/components/transfer/TransferEndpointManager.tsx
  web/components/transfer/TransferTemplates.tsx
  web/components/transfer/TransferUIManager.tsx
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Continue TypeScript migration and improve TransferUIManager component
  web/components/transfer/TransferOptions.tsx
  web/components/transfer/TransferUIManager.tsx
Due: build-ws, build-repo, build-foxx, retag-image

feat: Convert TransferEndpointManager to React with TypeScript and hooks
  web/components/transfer/TransferEndpointManager.tsx
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Change endpointManager and uiManager types to constructors
  web/components/transfer/TransferDialogController.tsx
Due: build-ws, build-repo, build-foxx, retag-image

feat: Refactor transfer dialog components for improved organization and type safety
  web/components/transfer/TransferDialogController.tsx
  web/components/transfer/context/TransferContext.tsx
  web/components/transfer/hooks/useEndpointManager.ts
  web/components/transfer/types/transfer.types.ts
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1283] Break stuff
  web/components/endpoint-browse/index.js
  web/components/endpoint-browse/styles.css
  web/components/transfer/TransferDialog.tsx
  web/components/transfer/TransferDialogController.tsx
  web/components/transfer/TransferEndpointManager.tsx
  web/components/transfer/TransferOptions.tsx
  web/components/transfer/TransferTemplates.tsx
  web/components/transfer/TransferUIManager.tsx
  web/components/transfer/context/TransferContext.tsx
  web/components/transfer/index.js
  web/components/transfer/transfer-dialog-controller.js
  web/components/transfer/transfer-endpoint-manager.js
  web/components/transfer/transfer-templates.js
  web/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx, retag-image

feat: Integrate React TransferDialog component in dataGet function
  web/static/util.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1283] Save
  web/.eslintignore
  web/.eslintrc.json
  web/.prettierignore
  web/.prettierrc
  web/src/components/browse/types.ts
  web/src/components/endpoint-browse/EndpointBrowser.tsx
  web/src/components/endpoint-browse/styles.ts
  web/src/components/transfer/TransferDialog.tsx
  web/src/components/transfer/TransferDialogController.tsx
  web/src/components/transfer/TransferEndpointManager.tsx
  web/src/components/transfer/TransferOptions.tsx
  web/src/components/transfer/TransferTemplates.tsx
  web/src/components/transfer/TransferUIManager.tsx
  web/src/components/transfer/context/TransferContext.tsx
  web/src/components/transfer/hooks/useEndpointManager.ts
  web/src/components/transfer/types/transfer.types.ts
  web/static/dlg_data_new_edit.js
  web/static/main_browse_tab.js
  web/static/util.js
  web/tsconfig.json
Due: build-ws, build-repo, build-foxx, retag-image

feat: Convert jQuery dialogs to React components with TypeScript types
  web/static/components/dialogs/AlertDialog.tsx
  web/static/components/dialogs/ConfirmChoiceDialog.tsx
  web/static/components/dialogs/SingleEntryDialog.tsx
  web/static/components/dialogs/types.ts
Due: build-ws, build-repo, build-foxx, retag-image

feat: Convert allocation dialog from jQuery to React with TypeScript
  web/static/components/allocation/AllocationDialog.tsx
  web/static/components/allocation/AllocationForm.tsx
  web/static/components/allocation/types.ts
  web/static/dlg_alloc_new_edit.ts
Due: build-ws, build-repo, build-foxx, retag-image

refactor: Replace dialog alert calls with AlertDialog component usage
  web/static/dlg_annotation.ts
Due: build-ws, build-repo, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
