Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

Adjust zeromq settings
  common/source/communicators/ZeroMQCommunicatorSecure.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Improve log output
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image

improved log messages
  common/source/communicators/ZeroMQCommunicator.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Debug run
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Debug commit
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Fix REPO key
  .gitlab/end_to_end.yml
Due: retag-image

Prevent logRelease messages
  repository/gridftp/globus5/authz/source/Config.c
Due: retag-image

Fix authz key
  .gitlab/end_to_end.yml
Due: retag-image

Fix key Authzworker
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

user_router.js Add queryParam validation for new params via joilib. ClientWorker.cpp Add refresh token try/catch to send through flow if refresh fails
  core/database/foxx/api/user_router.js
  core/server/ClientWorker.cpp
Due: build-core, retag-image

Up log level
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthenticationManager.hpp
  core/server/main.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Fix typos
  common/source/operators/AuthenticationOperator.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Fix KEY error
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: retag-image

Add linger and HWM to insecure communicator
  common/source/communicators/ZeroMQCommunicator.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Add env var
  docker/Dockerfile.foxx
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Update Arangodb packaged version to using 3.12.4
  compose/all/compose.yml
  compose/metadata/compose.yml
  doc_source/source/admin/install_bare_metal.rst
  docker/Dockerfile.foxx
  docs/_sources/admin/general.rst.txt
  scripts/dependency_install_functions.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

datafed-ws.js Use correct converted casing for protobuf messages; redirect to error when needs_consent
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js No redirect, show error directly in list.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Fix confusion in key uses in end to end tests
  .gitlab/end_to_end.yml
Due: retag-image

datafed-ws.js Early return to prevent further requests
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

user_token.js Add jsdoc definition for return type and format function. user_router.js Remove unnecessary comment.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Add change log comment
  CHANGELOG.md
Due: retag-image

Add changelog comment
  CHANGELOG.md
Due: retag-image

Initial commit to fix log output from AuthzWorker.cpp
  common/include/common/DynaLog.hpp
  common/source/DynaLog.cpp
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

Correct ServerFactory by instantiating correct class
  common/source/ServerFactory.cpp
Due: build-core, build-gcs-base, build-gcs, retag-image

corrected imported member
  python/datafed_pkg/datafed/Connection.py
Due: retag-image

Add compose entries for foxx tests
  compose/all/compose.yml
  compose/metadata/compose.yml
  scripts/compose_generate_env.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

user_token.js More jsdoc definition; Add validation for collection token document required fields. user_token.test.js Add preliminary unit tests for static methods.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/tests/user_token.test.js
Due: build-core, retag-image

CMakeLists.txt Add new unit tests to build. user_token.test.js Modify naming to match convention.
  core/database/CMakeLists.txt
  core/database/foxx/tests/user_token.test.js
Due: build-core, retag-image

CMakeLists.txt Fix variable get. user_token.js Fix export.
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/user_token.js
Due: build-core, retag-image

user_router.js Formatting; Throw error if more than one token matches, add note about token type.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

ClientWorker.cpp Address some TODOs and extraneous comments. DatabaseAPI.cpp Remove TODOs. SDMS_Auth.proto Remove unused field.
  common/proto/common/SDMS_Auth.proto
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

user_token.js Update formatUserToken to always return object values. DatabaseAPI.cpp Add note on possibly missing field. user_token.test.js Update tests to check for new expected values.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/tests/user_token.test.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

user_router.js Clean up some comments for clarity. datafed-ws.js Formatting.
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
Due: build-ws, build-core, build-repo, build-foxx

ClientWorker.cpp Rewrite comment regarding mapped token refresh.
  core/server/ClientWorker.cpp
Due: build-core, retag-image

user_token.js Formatting.
  core/database/foxx/api/lib/user_token.js
Due: build-core, retag-image

CHANGELOG.md update for feature
  CHANGELOG.md
Due: retag-image

Update the schema documentation to improve the usability.
  doc_source/source/user/web/portal.rst
Due: retag-image

Fix bug where schema notification errors are not triggered when custom metadata is empty
  core/database/foxx/api/data_router.js
Due: build-core, retag-image

Save as empty object instead of a string
  core/database/foxx/api/data_router.js
Due: build-core, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
