Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs) or (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

[DLT-1110] Refactor browse into component and use CSS
  web/static/components/endpoint-browse/index.js
  web/static/components/endpoint-browse/styles.css
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_ep_browse.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Add sinon, remove dead code
  web/package.json.in
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] eslint, update api.test.js to reflect usage
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/test/api.test.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Address transfer start button bug
  web/package.json.in
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-DEPS] Update ver, add push
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Remove .. in ep ls, remove logs
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] format
  web/services/auth/ConsentHandler.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx, retag-image

[DAPS-1110] Correct bug
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/models/transfer-model.js
Due: build-ws, build-repo, build-foxx, retag-image

[DLT-1110] Implement Consent Required Action (3/4 & 4/4) (#1242)
  web/datafed-ws.js
  web/package.json.in
  web/services/auth/ConsentHandler.js
  web/services/auth/TokenHandler.js
  web/services/auth/constants.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/endpoint-browse/styles.css
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_ep_browse.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/test/ConsentHandler.js
  web/test/api.test.js
  web/test/util.test.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx, retag-image

DatabaseAPI.cpp Sane serialization of json body for taskInitDataPut. TaskWorker.cpp Comments around work items.
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

DatabaseAPI.cpp Sane serialization of json body for taskInitDataGet.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Refactoring DatabaseAPI.cpp to incorporate json serialization
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

ClientWorker.cpp Stub out required changes for consent flow when creating tasks
  core/server/ClientWorker.cpp
Due: build-core, retag-image

ClientWorker.cpp More thorough consent flow for procDataPutRequest, stub on needs_consent
  core/server/ClientWorker.cpp
Due: build-core, retag-image

tasks.js Throw error when initializing data put
  core/database/foxx/api/tasks.js
Due: build-core, retag-image

tasks.js Format error throwing. ClientWorker.cpp comment out potentially unnecessary code.
  core/database/foxx/api/tasks.js
  core/server/ClientWorker.cpp
Due: build-core, retag-image

More serialization work
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Pull in changes from 1214 for dataPut
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Bring in changes from 1214 for dataGet
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

DatabaseAPI.cpp Fix error with missing curly brace. Some formatting that is likely wrong. Serialize up to original point. Need to validate.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Add missing scope resolution
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

More typos
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

More typos. Scoping
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Remove non-existant vars
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

declare body
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Formatting
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Formatting and verification of updates
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Replace most places
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Remove redeclaration
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

DatabaseAPI.cpp Remove some comments.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

DatabaseAPI.cpp Add missing push_back
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

user_token.js Add exists method to abstract check. tasks.js User exists method when checking token.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image

user_token.js JSDoc typing
  core/database/foxx/api/lib/user_token.js
Due: build-core, retag-image

tasks.js Add more required fields to taskRunDataPut for refresh in TaskWorker.
  core/database/foxx/api/tasks.js
Due: build-core, retag-image

tasks.js Add collection_id to params in taskRunDataPut for refresh in TaskWorker. TaskWorker.cpp Refresh conditionals
  core/database/foxx/api/tasks.js
  core/server/TaskWorker.cpp
Due: build-core, retag-image

Adding braces
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Prevent Double Escaping string, by using nlohmann json parse to read in value.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

remove escapeJSON calls, redundant with nlohmann json dump
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

updated container scripts
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx
