Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

Fix JSDOc issues in process.js fiel
  core/database/foxx/api/process.js
Due: build-core, retag-image

Fix JSDOc issues in repo_router.js
  core/database/foxx/api/repo_router.js
Due: build-core, retag-image

Address JSDoc in tasks.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image

Address JSDoc linting issues
  core/database/foxx/api/task_router.js
  eslint.config.js
  web/static/main_browse_tab.js
  web/static/util.js
Due: build-ws, build-core, build-repo, build-foxx

Switch to ignores statement
  eslint.config.js
Due: retag-image

Address more eslint jsdoc items
  core/database/foxx/api/data_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/tasks.js
  eslint.config.js
Due: build-core, retag-image

Fix additional jsdoc items
  web/static/main_browse_tab.js
  web/static/util.js
Due: build-ws, build-repo, build-foxx

Try to satisfy linter
  core/database/foxx/api/process.js
Due: build-core, retag-image

Be more selective about eslint rules
  eslint.config.js
Due: retag-image

Address items in tasks.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image

Address additional eslint items with JSDOc
  core/database/foxx/api/process.js
  web/static/jquery/jquery.js
  web/static/main_browse_tab.js
Due: build-ws, build-core, build-repo, build-foxx

Ignore jquery with eslint
  eslint.config.js
Due: retag-image

Remove requrie description because seems to be faulty
  eslint.config.js
Due: retag-image

Address finicky jsdoc linter
  core/database/foxx/api/process.js
  web/static/jquery/jquery.js
  web/static/main_browse_tab.js
Due: build-ws, build-core, build-repo, build-foxx

Commit for CI
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Fix js formatting
  core/database/foxx/api/data_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/tasks.js
  eslint.config.js
  web/static/jquery/jquery.js
  web/static/main_browse_tab.js
  web/static/util.js
Due: build-ws, build-core, build-repo, build-foxx

Formatting
  core/database/foxx/api/user_router.js
Due: build-core, retag-image

Change query param to match backend changes
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Restore formatting of SDMS.proto
  common/proto/common/SDMS.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Feature DLT 1109 foxx new token data (#1194)
  CHANGELOG.md
  core/database/CMakeLists.txt
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/support.test.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image

Add ci jobs to improve security posture
  .gitlab/stage_unit.yml
Due: retag-image

updated package list
  web/package.json.in
Due: build-ws, build-repo, build-foxx

Change to unit stage for testing
  .gitlab/stage_unit.yml
Due: retag-image

Remove sast job
  .gitlab/stage_unit.yml
Due: retag-image

Attempt to fix semgrep sast job failure
  .gitlab/stage_unit.yml
Due: retag-image

Debug jobs
  .gitlab/stage_unit.yml
Due: retag-image

Add test stage for sast template job
  .gitlab/stage_unit.yml
Due: retag-image

Add missing test stage
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add dependency scanning
  .gitlab/stage_unit.yml
Due: retag-image

Split sast into separate test stage
  .gitlab-ci.yml
  .gitlab/stage_test.yml
  .gitlab/stage_unit.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove commented out line
  .gitlab/stage_test.yml
Due: retag-image

Remove extra comment that is unused
  .gitlab/stage_test.yml
Due: retag-image

Debugging log failure
  .gitlab/common.yml
Due: retag-image

Make comments JSDoc compliant
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Address jsdoc and typo in description
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Remove outdated comments
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Address formatting inconsistency
  core/database/foxx/api/authz.js
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Account for multiple images returned in log
  .gitlab/common.yml
Due: retag-image

Update .gitlab/common.yml
  .gitlab/common.yml
Due: retag-image

Debugging log container matching
  .gitlab/common.yml
Due: retag-image
