Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

Fix typo in gitlab anchor
  .gitlab/common.yml
Due: retag-image

Debug escape anchor
  .gitlab/common.yml
Due: retag-image

Debug
  .gitlab/common.yml
Due: retag-image

Debug anchor 2
  .gitlab/common.yml
Due: retag-image

Debug anchor 3
  .gitlab/common.yml
Due: retag-image

Debug anchor 4
  .gitlab/common.yml
Due: retag-image

Debug anchor 5
  .gitlab/common.yml
Due: retag-image

Debug 6
  .gitlab/common.yml
Due: retag-image

Debug 7
  .gitlab/common.yml
Due: retag-image

Make built URL const where appropriate in DatabaseAPI.cpp and DatabaseAPI.hpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Change default AccessTokenType for UserSetAccessTokenRequest in SDMS_Auth.proto.
  common/proto/common/SDMS_Auth.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Debug 8
  .gitlab/common.yml
Due: retag-image

Remove logging of potentially senitive data
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Fix names of containers from gcs-authz to gcs
  .gitlab/end_to_end.yml
  .gitlab/stage_unit.yml
Due: retag-image

Cleanup add comment back in
  .gitlab/common.yml
Due: retag-image

Update common.yml
  .gitlab/common.yml
Due: retag-image

Remove Exports
  .gitlab/common.yml
Due: retag-image

Update data_router.js
  core/database/foxx/api/data_router.js
Due: build-core, retag-image

Update repo_router.js
  core/database/foxx/api/repo_router.js
Due: build-core, retag-image

Update task_router.js
  core/database/foxx/api/task_router.js
Due: build-core, retag-image

Update eslint.config.js
  eslint.config.js
Due: retag-image

fix jsdoc comment in posix path
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Address JSDOc complaints
  core/database/foxx/api/record.js
Due: build-core, retag-image

Address JSDoc errors
  core/database/foxx/api/authz.js
  core/database/foxx/api/support.js
Due: build-core, retag-image

Address linter
  core/database/foxx/api/authz.js
  core/database/foxx/api/record.js
  core/database/foxx/api/support.js
Due: build-core, retag-image

Address linter errors
  core/database/foxx/api/authz.js
  core/database/foxx/api/record.js
  core/database/foxx/api/support.js
Due: build-core, retag-image

Fix order of parameters
  core/database/foxx/api/support.js
Due: build-core, retag-image

Apply formatting
  core/database/foxx/api/authz.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/record.js
  core/database/foxx/api/support.js
Due: build-core, retag-image

Add missing argument form strategy method call
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Address JSDoc differences
  core/database/foxx/api/controllers/authz.js
Due: build-core, retag-image

Address merge conflicts
  core/database/foxx/api/utils/posix_path.js
Due: build-core, retag-image

Address merge conflict
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/authz_router.js
Due: build-core, retag-image

Apply prettier
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image

Adjust AccessTokenType ACCESS_SENTINEL to have value of uint8 max.
  common/proto/common/SDMS.proto
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Update posix_path.js
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image

Cleanup comments and apply formatting
  core/database/foxx/api/authz.js
Due: build-core, retag-image
