Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Update CHANGELOG.md
  CHANGELOG.md
Due: none

cpp-py-formatter
  python/datafed_pkg/datafed/VersionUtils.py
Due: none

Switch over to esm compatible import statements in datafed-ws and version.js.in
  web/datafed-ws.js
  web/version.js.in
Due: build-ws, build-repo, build-foxx

Cleanup echo statements and make image tags explicit
  compose/metadata/build_metadata_images_for_compose.sh
  scripts/compose_build_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

make harbor script more robust to error response returned by api
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Make ci job exit if error in foxx tests
  .gitlab/end_to_end.yml
Due: none

Remove leftover outputting to build.log file
  scripts/compose_build_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix variable name
  .gitlab/end_to_end.yml
Due: none

Check logs for last error messages before exiting
  .gitlab/end_to_end.yml
Due: none

Remove hard coded localhost
  core/database/tests/test_setup.sh
Due: build-core

Specify database address
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
Due: build-core

Switch from using latest to CI_COMMIT_SHA
  .gitlab/end_to_end.yml
Due: none

Fix formatting of MessageLib and VersionUtils
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VersionUtils.py
Due: none

Fix ambiguity in harbor upload and download url
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_build_base.yml
  .gitlab/stage_image_check.yml
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix env var, add missing PROJECT var to image uplaod path
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
Due: none

Test retag throw error if error
  .gitlab/common.yml
Due: none

Output full URL from ci harbor url check script
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add error code check to retag template (gitlab)
  .gitlab/common.yml
Due: none

Make url less confusing
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Prevent collapsing multiline comment hopefully
  .gitlab/common.yml
Due: none

Debugging multiline output
  .gitlab/common.yml
Due: none

Debugging output
  .gitlab/common.yml
Due: none

Ensure output from failed ci harbor check script
  .gitlab/common.yml
Due: none

Add helpful comments
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add curl output to log
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add check for object
  scripts/ci_harbor_artifact_count.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Switch to numerical comparison of not equal
  .gitlab/common.yml
Due: none

Switch back to multiline comment"
  .gitlab/common.yml
Due: none

Fix parallel builds of retag and container buidl
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
Due: none

Add local Database host variable in foxx setup script and add a check.
  core/database/tests/test_setup.sh
Due: build-core

Add comment to design.rst to test changes in rules of build files trigger correctly.
  doc_source/source/dev/design.rst
Due: none

Test retag job runs
  .gitlab/build/build_ws_image.yml
Due: none

Fix syntax of boolean operation
  .gitlab/build/build_ws_image.yml
Due: none

Fix rules of retag job
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
Due: none

Small cleanup to test trigger of core build job
  core/database/tests/test_foxx.sh
Due: build-core

Use --server and not --server.endpoint for foxx and place warning message
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Make version.js.in esm compatible and add imports so __dirname is recognized
  web/datafed-ws.js
  web/version.js.in
Due: build-ws, build-repo, build-foxx

Update web version, with path due to change from CommonJS to ESM
  cmake/Version.cmake
Due: build-core, build-gcs-base, build-gcs

Removed --no-cache flag
  scripts/compose_build_images.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

created initial test case for database api
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core

Path conditions:
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
