Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx, retag-image

Path conditions:
  build-ws: (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))

[DLT-1110] Pull out template HTML
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Add commnets to logic
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update chai with mocha, attempt usage of mock-import
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/setup.js
  web/test/test-utils.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update tests, correct logic
  web/.mocharc.cjs
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/test-utils.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Add tests
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update tests, add fixtures, update setup, lock in packages
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/fixtures/transfer-fixtures.js
  web/test/setup.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Add mocha config, correct prettier
  web/.mocharc.cjs
  web/package.json.in
  web/test/components/transfer/transfer-ui-manager.test.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update test
  .github/workflows/javascript-format.yml
  web/test/components/transfer/transfer-endpoint-manager.test.js
Due: build-ws, build-repo, build-foxx

Adjust controllers update from 1180
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/api/controllers/record.js
  core/database/foxx/api/controllers/repo.js
Due: build-core, retag-image

Address differentces in authz.js
  core/database/foxx/api/controllers/authz.js
Due: build-core, retag-image

Further corrections to branch
  core/database/foxx/api/controllers/record.js
  core/database/foxx/api/controllers/repo.js
Due: build-core, retag-image

Address leftover diff header
  core/database/foxx/api/controllers/record.js
Due: build-core, retag-image

datafed-ws.js Create function for resolving token type; create function to handle logic in building optional_data for setAccessToken; reduce unneccessary nesting in ui/authn endpoint
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Update style
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/models/transfer-model.js
Due: build-ws, build-repo, build-foxx

Revert "[DLT-1110] Mapped Collection Endpoint Browse (1/4)"
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/dlg_start_xfer.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx

datafed-ws.js Fix spacing, fix typo in variable name
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

[DLT-1110] Mapped Collection Endpoint Browse Tests (2/4) (#1207)
  .github/workflows/javascript-format.yml
  web/.mocharc.cjs
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/fixtures/transfer-fixtures.js
  web/test/setup.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js Fix bug referring to request session
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js Nesting was necessary.
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Return true if access allowed
  core/database/foxx/api/controllers/authz.js
  core/database/foxx/tests/authz_router.js
Due: build-core, retag-image

Remove debug commands
  core/database/foxx/api/controllers/authz.js
Due: build-core, retag-image

[DLT-1110] Refactor browse into component
  web/static/components/endpoint-browse/index.js
  web/static/dlg_ep_browse.js
Due: build-ws, build-repo, build-foxx

Fix bug on task_router.js abort function
  core/database/foxx/api/task_router.js
Due: build-core, retag-image

Address eslint
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
Due: build-core, retag-image

[DLT-1110] Refactor ep_browse
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
  web/views/main.ect
Due: build-ws, build-repo, build-foxx

Address remaining eslint items
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
Due: build-core, retag-image

datafed-ws.js Address some TODOs, set token type with more context
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

datafed-ws.js Remove some additional extraneous logging
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Fix bug on task_router.js abort function (#1234)
  core/database/foxx/api/task_router.js
Due: build-core, retag-image

datafed-ws.js Formatting
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Add comment about token set
  web/datafed-ws.js
Due: build-ws, build-repo, build-foxx

Address Aaron feedback
  core/database/foxx/api/repo.js
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

applied potential fix to deprecation warning
  python/datafed_pkg/datafed/Connection.py
Due: retag-image

Reorder createRecord
  core/database/foxx/api/authz.js
Due: build-core, retag-image

Apply formatting
  core/database/foxx/api/repo.js
  core/database/foxx/tests/authz.test.js
Due: build-core, retag-image

Throws error if ci_pipeline_script receives error from OpenStack API
  scripts/ci_pipeline_setup.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Throw error if OpenStack error code returned from API
  scripts/ci_pipeline_setup.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add dependency between logs
  .gitlab/end_to_end.yml
Due: retag-image

Add dependencies on end to end jobs as well
  .gitlab/end_to_end.yml
Due: retag-image

Job rule is not supported
  .gitlab/end_to_end.yml
Due: retag-image
