Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

build-ws:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/ws
    GIT_STRATEGY: clone
    DATAFED_HARBOR_IMAGE_TAG: $CI_COMMIT_SHA
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-core:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_IMAGE_TAG: $CI_COMMIT_SHA
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
    DATAFED_HARBOR_IMAGE_TAG: $CI_COMMIT_SHA
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-gcs-base:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_IMAGE_TAG: $CI_COMMIT_SHA
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  needs:
  - build-dependencies
  - build-runtime
  - build-gcs-base
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_IMAGE_TAG: $CI_COMMIT_SHA
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  ...

build-foxx:
  needs:
  - build-dependencies
  - build-runtime
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
    DATAFED_HARBOR_IMAGE_TAG: $CI_COMMIT_SHA
  tags:
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

changed comment
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix hard coded IP address for database
  scripts/install_foxx.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add database host to generate_datafed.sh
  scripts/generate_datafed.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add missing placeholder for Globus subscription ID
  scripts/generate_datafed.sh
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix overwriting of Globus collectino path in repo authz entrypoint file
  repository/docker/entrypoint_authz.sh
Due: build-gcs

Add optional keyword to needs to jobs don't fail when omitted from CI
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Implimented changes to the Upload/Download dlg box
  web/static/dlg_start_xfer.js
Due: build-ws, build-repo, build-foxx

Switch from using hardcoded paths to configured variables
  repository/docker/entrypoint_repo.sh
Due: none

added the playwright folder
  .gitignore
  tests/end-to-end/playwright_tests/package-lock.json
  tests/end-to-end/playwright_tests/package.json
  tests/end-to-end/playwright_tests/playwright.config.js
  tests/end-to-end/playwright_tests/scripts/test-1.spec.ts
  tests/end-to-end/playwright_tests/tests-examples/demo-todo-app.spec.js
Due: none

added more to the ignore file
  .gitignore
Due: none

added tests for datafed, not working yet
  tests/end-to-end/playwright_tests/scripts/test-1.spec.ts
Due: none

changed name
  .gitignore
  tests/end-to-end/web-UI/package-lock.json
  tests/end-to-end/web-UI/package.json
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/test-1.spec.ts
Due: none

see if cert is ignored
  tests/end-to-end/web-UI/playwright.config.js
Due: none

Add ws ci job files
  .gitlab-ci.yml
  gitlab_templates/build_ws_image.yml
  gitlab_templates/force_build_ws_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove unused stages, fix job name that artifact is pulled from
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix stage associated with trigger and fix syntax of artifact name
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Appropriately scope needs of downstream jobs
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove needs dependency inside downstream jobs
  gitlab_templates/build_ws_image.yml
  gitlab_templates/force_build_ws_image.yml
Due: none

Add env variables that should be passed to downstream job
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Trying to more explicitly pass env variable to downstream, also attempting to print env to debug
  .gitlab-ci.yml
  gitlab_templates/build_ws_image.yml
  gitlab_templates/force_build_ws_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Use build.env to get env to downstream trigger job
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add back in job under artifact
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix formatting of variables in env file being uploaded as artifact
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Debug contents of env file around harbor user
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Attempt to address dollar sign issue
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove printing env
  .gitlab-ci.yml
  gitlab_templates/build_ws_image.yml
  gitlab_templates/force_build_ws_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add core build files
  .gitlab-ci.yml
  gitlab_templates/build_core_image.yml
  gitlab_templates/force_build_core_image.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove commented out code that is no longer relevant
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Fix comment that had ws instead of core
  gitlab_templates/force_build_core_image.yml
Due: none

Add dynamic jobs for repo image build
  gitlab_templates/build_repo_image.yml
  gitlab_templates/force_build_repo_image.yml
Due: none

Add dynamic repo build to pipeline
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove comments
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Add force build base downstream dynamic jobs for gcs_base
  gitlab_templates/build_gcs_base_image.yml
  gitlab_templates/force_build_gcs_base_image.yml
Due: none

Add gcs-base to dynamic downstream trigger job
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Remove script that is unneeded in the job
  gitlab_templates/build_gcs_base_image.yml
  gitlab_templates/force_build_gcs_base_image.yml
Due: none

Add placeholder job
  gitlab_templates/build_gcs_base_image.yml
  gitlab_templates/build_ws_image.yml
Due: none

Add placeholder jobs to core and repo pipeline files
  gitlab_templates/build_core_image.yml
  gitlab_templates/build_repo_image.yml
Due: none

Add some documentation
  gitlab_templates/build_ws_image.yml
Due: none

Add files for gcs build
  gitlab_templates/build_gcs_image.yml
  gitlab_templates/force_build_gcs_image.yml
Due: none

add trigger job for gcs image
  .gitlab-ci.yml
Due: build-ws, build-core, build-repo, build-gcs-base, build-gcs, build-foxx

Path conditions:
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
