Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

[DAPS-1725] refactor: remove confusing apache conf file. (#1728)
  repository/docker/000-default.conf
Due: retag-image

fix: remove integration testing from slim images.
  core/docker/Dockerfile
  docker/entrypoint_foxx.sh
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[1707] Update Web Dependencies Before Install (#1709)
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1522] - feature, foxx, task router logging improvements (#1648)
  core/database/CMakeLists.txt
  core/database/foxx/api/task_router.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Added logging improvements to tag router, added test to tag router
  core/database/CMakeLists.txt
  core/database/foxx/api/tag_router.js
  core/database/foxx/tests/tag_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/tag_router.js
  core/database/foxx/tests/tag_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1522] - feature, foxx, query router logging improvements (#1627)
  core/database/CMakeLists.txt
  core/database/foxx/api/query_router.js
  core/database/foxx/tests/query_router.test.js
Due: build-core, retag-image, build-foxx

Apply suggestions from code review
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

bug: remove duplicate user_router test
  core/database/CMakeLists.txt
Due: build-core, retag-image, build-foxx

[DAPS-1735] bug: remove duplicate user_router test (#1736)
  core/database/CMakeLists.txt
Due: build-core, retag-image, build-foxx

Un-comment getEndpointIdFromFile method
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add scripts to generate creds for web service
  compose/metadata/generate_web_files.sh
  scripts/compose_generate_web_server_globus_credentials.sh
  scripts/globus/generate_web_server_credentials.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Normalize credential storage A few adjustments:
  compose/all/generate_globus_files.sh
  compose/metadata/generate_globus_files.sh
  compose/repo/generate_globus_files.sh
  scripts/compose_generate_globus_files.sh
  scripts/compose_generate_web_server_globus_credentials.sh
  scripts/globus/generate_web_server_credentials.py
  scripts/globus/initialize_globus_endpoint.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Compose globus scripts now exit on bash error
  compose/all/generate_globus_files.sh
  compose/metadata/generate_globus_files.sh
  compose/repo/generate_globus_files.sh
Due: retag-image

Update scripts/compose_generate_globus_files.sh
  scripts/compose_generate_globus_files.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update scripts/globus/generate_web_server_credentials.py
  scripts/globus/generate_web_server_credentials.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update scripts/globus/utils.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update: native client id in intialize_globus_endpoint and globus_cleanup files updated.
  scripts/globus/globus_cleanup.py
  scripts/globus/initialize_globus_endpoint.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1731] - Feature, scripts, compose - add scripts to generate globus credentials for web service (#1731)
  compose/metadata/generate_globus_files.sh
  compose/repo/generate_globus_files.sh
  scripts/compose_generate_web_server_globus_credentials.sh
  scripts/globus/generate_web_server_credentials.py
  scripts/globus/initialize_globus_endpoint.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: add warning to CMake if integration tests are enabled but build common is not.
  CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  tests/CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update: Native globus Client in generate_web_server_credentials.
  scripts/globus/generate_web_server_credentials.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

replace os.path.join with urllib.parse.urljoin
  scripts/globus/generate_web_server_credentials.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: Final touches based off review
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1725] - refactor tests mock core server centralized (#1726)
  .gitignore
  CMakeLists.txt
  core/docker/Dockerfile
  docker/entrypoint_foxx.sh
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  repository/gridftp/globus5/authz/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  repository/gridftp/globus5/authz/tests/mock/mock_start.sh
  tests/CMakeLists.txt
  tests/mock/CMakeLists.txt
  tests/mock/mock_start.sh
  tests/mock/mock_stop.sh
  tests/mock/test_getVersion.cpp
  tests/mock_core/AuthMap.cpp
  tests/mock_core/AuthMap.hpp
  tests/mock_core/AuthenticationManager.cpp
  tests/mock_core/AuthenticationManager.hpp
  tests/mock_core/CMakeLists.txt
  tests/mock_core/ClientWorker.cpp
  tests/mock_core/ClientWorker.hpp
  tests/mock_core/Condition.cpp
  tests/mock_core/Condition.hpp
  tests/mock_core/Config.cpp
  tests/mock_core/Config.hpp
  tests/mock_core/IMockCoreServer.hpp
  tests/mock_core/MockCoreServer.cpp
  tests/mock_core/MockCoreServer.hpp
  tests/mock_core/MockGlobals.cpp
  tests/mock_core/MockGlobals.hpp
  tests/mock_core/PublicKeyTypes.hpp
  tests/mock_core/Version.hpp.in
  tests/mock_core/main.cpp
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: account for nested client credentials.
  repository/docker/entrypoint_authz.sh
  scripts/compose_cleanup_globus_files.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  repository/docker/entrypoint_authz.sh
Due: retag-image, build-gcs

[DAPS-1741] Update: native client id in intialize_globus_endpoint and globus_clea… (#1741)
  scripts/globus/generate_web_server_credentials.py
  scripts/globus/globus_cleanup.py
  scripts/globus/initialize_globus_endpoint.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Fix JSON path for GCS and Globus client credentials
  repository/docker/entrypoint_authz.sh
Due: retag-image, build-gcs

[DAPS-1745] - scripts fix: account for nested client credentials. (#1746)
  repository/docker/entrypoint_authz.sh
  scripts/compose_cleanup_globus_files.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: tests/mock/CMakeLists.txt link_libraries fixed.
  tests/mock/CMakeLists.txt
Due: retag-image

fix: change default location for looking for mock public key.
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
Due: retag-image, build-gcs

[DAPS-1725-2] - tests, fix - centralized mock core service libraries fixed (part 2) (#1747)
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  tests/mock/CMakeLists.txt
Due: retag-image, build-gcs

Initial python API changes
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
Due: retag-image

updated versions
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

refactor: Implemented logging improvements to note_router, and added appropriate tests
  core/database/CMakeLists.txt
  core/database/foxx/api/note_router.js
  core/database/foxx/tests/note_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/note_router.js
  core/database/foxx/tests/note_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Finalized changes to the note router
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1742] - refactor script replace os.path.join with urllib.parse.urljoin (#1744)
  scripts/globus/generate_web_server_credentials.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws
