Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

-User_router.test.js -Removed redundant test
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image, build-foxx

rebase from devel
  .github/workflows/unit-tests.yml
  CHANGELOG.md
  compose/all/build_images_for_compose.sh
  core/docker/Dockerfile
  docker/Dockerfile.dependencies
  docker/Dockerfile.runtime
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  run_globus.sh
  scripts/compose_build_images.sh
  scripts/dependency_versions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/tmp.sh
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[NO-TICKET] Remove commmented out code
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated python installation method
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

containers build hallelujah
  scripts/dependency_install_functions.sh
  scripts/install_client_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated unit test to use same python installation method
  .github/workflows/unit-tests.yml
Due: retag-image

added git to required apt packages
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

swapped to wget to pull python
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

add source directory
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

corrected where source was coming from
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

changed back to source and forced bash usage
  .github/workflows/unit-tests.yml
Due: retag-image

fixed added path
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

added some debug information
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added build essentials for testing purposes
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

changed ENV used for installation path
  .gitlab/stage_provision_client.yml
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added cmake to gcs image
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

removed sudo from install instructions
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

removed python install as its not needed
  .github/workflows/unit-tests.yml
Due: retag-image

updated hardcoded node version
  .gitlab/stage_unit.yml
Due: retag-image

changed source -> . for sh
  .github/workflows/unit-tests.yml
Due: retag-image

removed link to python executable if it already exists
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fixed rules for rebuilding gcs image
  .gitlab/build/build_gcs_image.yml
Due: retag-image

fixed ldconfig command to find shared libraries
  docker/entrypoint_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added ctest binary so tests pass
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

added base image change to missed file
  .gitlab/build/force_build_gcs_base_image.yml
Due: retag-image

changed gcs base image to debian in CI
  .gitlab/build/build_gcs_base_image.yml
Due: retag-image

hopefully fixed ability to find openssl in foxx tests
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[TASK] Add developer guideline doc
  .github/ISSUE_TEMPLATE/development-issue-template.md
  .github/pull_request_template.md
  docs/dev/DEVELOPER.md
Due: retag-image

added python to authz image
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

added sqlite3 support to built python
  repository/docker/Dockerfile.gcs
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-CMakeLists.txt -Adjusted the whitespace issues and added the include openssl line under the common building
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

hopefully dropped size of image successfully
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

[TASK] Init
  globus-connect-server-config/.env.template
  globus-connect-server-config/.gitignore
  globus-connect-server-config/Dockerfile
  globus-connect-server-config/README.md
  globus-connect-server-config/docker-compose.yml
  globus-connect-server-config/globus/.gitkeep
  globus-connect-server-config/keys/.gitkeep
  globus-connect-server-config/scripts/entrypoint.sh
  globus-connect-server-config/scripts/init-globus.py
  globus-connect-server-config/scripts/setup-globus.sh
Due: retag-image

[TASK] Init 2
  globus-connect-server-config/.env.template
  globus-connect-server-config/README.md
  globus-connect-server-config/scripts/create-guest-collection.py
  globus-connect-server-config/scripts/entrypoint.sh
  globus-connect-server-config/scripts/init-globus.py
  globus-connect-server-config/scripts/manage-collections.py
  globus-connect-server-config/scripts/setup-globus.sh
  globus-connect-server-config/scripts/utils.py
Due: retag-image

[TASK] Simplify and restructure `README.md`, enhance setup scripts, and improve Docker build process for Globus Connect Server.
  README.md
  globus-connect-server-config/.env.template
  globus-connect-server-config/.gitignore
  globus-connect-server-config/Dockerfile
  globus-connect-server-config/README.md
  globus-connect-server-config/bin/build.sh
  globus-connect-server-config/bin/check-deps.sh
  globus-connect-server-config/bin/cleanup.sh
  globus-connect-server-config/bin/init-credentials.sh
  globus-connect-server-config/bin/setup.sh
  globus-connect-server-config/config/versions.env
  globus-connect-server-config/docker-compose.yml
  globus-connect-server-config/docker/Dockerfile
  globus-connect-server-config/docker/requirements.txt
  globus-connect-server-config/docs/cleanup.md
  globus-connect-server-config/docs/configuration.md
  globus-connect-server-config/docs/deployment/complete-deployment.yaml
  globus-connect-server-config/docs/deployment/docker.md
  globus-connect-server-config/docs/deployment/kubernetes.md
  globus-connect-server-config/docs/getting-started.md
  globus-connect-server-config/docs/installation.md
  globus-connect-server-config/docs/management.md
  globus-connect-server-config/docs/troubleshooting.md
  globus-connect-server-config/globus/.gitkeep
  globus-connect-server-config/keys/.gitkeep
  globus-connect-server-config/scripts/__pycache__/utils.cpython-312.pyc
  globus-connect-server-config/scripts/base-entrypoint-wrapper.sh
  globus-connect-server-config/scripts/cleanup-globus.py
  globus-connect-server-config/scripts/entrypoint.sh
  globus-connect-server-config/scripts/init-globus.py
  globus-connect-server-config/scripts/setup-globus.sh
  globus-connect-server-config/scripts/utils.py
Due: retag-image

-CipherEngine.hpp -Changed the global ENCODED_MSG_LENGTH to its true value of 128
  common/include/common/CipherEngine.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

CHECKPOINT
  common/include/common/CipherEngine.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-CipherEngine.cpp -Removed whitespacing issues -Fixed possible mem leak issues that arose from uninitialized variables
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-Util.cpp -Changed error handling within readFile func
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
