Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

Add proto_path so imports work
  compose/dev-env/Dockerfile
Due: retag-image

Allow parsing for metric data to be run in parallel for now, output messages when old serialization is used.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

Ensure ASCII setting.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Upgrade debug to warning.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

JSON parse error fix (#1328)
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

DatabaseAPI.cpp Update merged devel changes to address some leftover code.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

DatabaseAPI.cpp Add collection specification to get request.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

DatabaseAPI.cpp whitespace. ClientWorker.cpp Clean up unused code. user_router.js Switch to checking token existence through standard API.
  core/database/foxx/api/user_router.js
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

ClientWorker.cpp Revert to minimize diff. TaskWorker.cpp Remove unnecessary TODO; move set client for refresh in transfer tasks.
  core/server/ClientWorker.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

models/ JSDocs, formatting, make token fetches follow defined model. user_token.js JSDocs and typing.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/models/user.js
Due: build-core, retag-image, build-foxx

user_token.js Cover case where collection does not exist.
  core/database/foxx/api/lib/user_token.js
Due: build-core, retag-image, build-foxx

Small changes for UI detection of collection type
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: retag-image, build-foxx, build-repo, build-ws

fix epview call for UI changes, add list view change to react appropriately to needing consent according to current code
  web/datafed-ws.js
  web/static/components/endpoint-browse/index.js
Due: retag-image, build-foxx, build-repo, build-ws

extract ep view logic to function for either path to utilize
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

small changes and notes for UI updates
  core/server/TaskWorker.cpp
  web/datafed-ws.js
  web/static/api.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

UI search based on path, not ID. camelCasing
  web/datafed-ws.js
  web/static/api.js
Due: retag-image, build-foxx, build-repo, build-ws

TaskWorker.cpp small fix to only enforce requirement of additional refresh fields when token is transfer token.
  core/server/TaskWorker.cpp
Due: build-core, retag-image

add params for dat/get on UI
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

added changes based on feedback
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

task.js Fix bug where client is incorrectly referenced.
  core/database/foxx/api/tasks.js
  web/static/components/endpoint-browse/index.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

Add user model tests. Extract DataFedOAuthToken.js from user_token.js for reusability.
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/DataFedOAuthToken.js
  core/database/foxx/api/models/user.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_model.test.js
Due: build-core, retag-image, build-foxx

Add globus collection model tests.
  core/database/CMakeLists.txt
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/tests/globus_collection_model.test.js
Due: build-core, retag-image, build-foxx

Add globus token tests. Add fixtures to support globus token testing. Make all model properties static for iteration purposes. Utilize constructors for typing.
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/DataFedOAuthToken.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/models/user.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/globus_collection_fixture.js
  core/database/foxx/tests/globus_token_fixture.js
  core/database/foxx/tests/globus_token_model.test.js
  core/database/foxx/tests/user_fixture.js
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image, build-foxx

Add user token tests. Make non-existent user throw an error when building user tokens.
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/tests/globus_collection_fixture.js
  core/database/foxx/tests/globus_token_fixture.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_token.test.js
Due: build-core, retag-image, build-foxx

Change error to be not found
  core/database/foxx/api/lib/user_token.js
Due: build-core, retag-image, build-foxx

Formatting changes
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/DataFedOAuthToken.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/globus_token_model.test.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_model.test.js
  core/database/foxx/tests/user_token.test.js
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

Remove unused changes in support.js getAccessToken
  core/database/foxx/api/support.js
Due: build-core, retag-image, build-foxx

Changelog update, update comments, remove log.
  CHANGELOG.md
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/tasks.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

Add .venv/ to gitignore
  .gitignore
Due: retag-image

Feature - Mapped Collection Token Support (#1334)
  CHANGELOG.md
  common/proto/common/SDMS_Auth.proto
  core/database/CMakeLists.txt
  core/database/foxx/api/data_router.js
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/DataFedOAuthToken.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/models/user.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/globus_collection_fixture.js
  core/database/foxx/tests/globus_collection_model.test.js
  core/database/foxx/tests/globus_token_fixture.js
  core/database/foxx/tests/globus_token_model.test.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_model.test.js
  core/database/foxx/tests/user_token.test.js
  core/database/tests/test_fixture_setup.sh
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add small fix for storeCollectionId
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Correct state
  web/static/components/transfer/transfer-dialog-controller.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Add sessionStorage resumeFlow
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

[TASK] Update
  web/static/components/endpoint-browse/index.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Pass controller to browser modal, update session storage, need to reinit function from string
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Time to get Redux out
  web/datafed-ws.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Ådd iframe
  web/static/components/endpoint-browse/index.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Enhance Redux state persistence with error handling and UI state management
  web/static/components/transfer/transfer-ui-manager.js
  web/static/main.js
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Implement state restoration and component reinitialization for resumeFlow
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Integrate TransferUIManager with Redux and remove sessionStorage logic
  web/static/components/transfer/transfer-ui-manager.js
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws
