Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

Revert ci changes
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: python env activate.
  .gitlab/end_to_end.yml
Due: retag-image

fix: make adjustment to install python dir
  .gitlab/stage_provision_client.yml
Due: retag-image

Fix missing quote
  .gitlab/stage_provision_client.yml
Due: retag-image

update: end_to_end env variable and submodule.
  .gitlab/end_to_end.yml
Due: retag-image

[DAPS-1766] - fix python client provisioning job
  .gitlab/end_to_end.yml
  .gitlab/stage_provision_client.yml
Due: retag-image

[DAPS-1663] - Feature, Core Service, adding Correlation ID to Logging (#1704)
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

release: version numbers updated.
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

release: update documentation.
  doc_source/source/admin/install_bare_metal.rst
  doc_source/source/admin/install_docker.rst
  doc_source/source/dev/design.rst
  doc_source/source/dev/project.rst
  doc_source/source/dev/release.rst
  doc_source/source/dev/roadmap.rst
  doc_source/source/system/getting_started.rst
  doc_source/source/system/introduction.rst
  doc_source/source/system/overview.rst
Due: retag-image

fix: user_router fix regression in missing response.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: core, foxx, add missing {}, foxx query_router add params object schema to routes.
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

tests: add query end to end test.
  tests/end-to-end/CMakeLists.txt
  tests/end-to-end/test_api_query.py
Due: retag-image

refactor: change record to query
  tests/end-to-end/test_api_query.py
Due: retag-image

[DAPS-1777] - fix: core, foxx, add missing {}, foxx query_router add params object schema to routes. (#1776)
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1777] - fix: core, foxx, add missing {}, foxx query_router add …"
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1777] - fix: core, foxx, add missing {}, foxx query_router add …" (#1780)
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

[DAPS-1775] - core, foxx, fix: add missing {}, foxx query_router add params object schema to routes. (#1781)
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

fix: small fixes to spelling and syntax.
  tests/end-to-end/test_api_query.py
Due: retag-image

Debug in ci
  tests/end-to-end/test_api_query.py
Due: retag-image

refactor: Final pass of logging improvements to authz_router
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image, build-foxx

refactor: add test for hitting password reset.
  tests/end-to-end/web-UI/CMakeLists.txt
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
  tests/end-to-end/web-UI/scripts/testingUserPasswordChange.spec.js
Due: retag-image

fix: add test to make sure error dlg does not show up.
  tests/end-to-end/web-UI/scripts/testingUserPasswordChange.spec.js
Due: retag-image

chore: Auto-format JavaScript files with Prettier
  tests/end-to-end/web-UI/scripts/testingUserPasswordChange.spec.js
Due: retag-image

docs: update readme
  tests/end-to-end/README.md
Due: retag-image

refactor: make auth setup more robust.
  tests/end-to-end/web-UI/auth.setup.js.in
Due: retag-image

refactor: improve playwright tests.
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
  tests/end-to-end/web-UI/scripts/testingUserPasswordChange.spec.js
Due: retag-image

docs: add comments on running with headed mode.
  tests/end-to-end/README.md
Due: retag-image

fix: revert headed playwright to headless for ci.
  tests/end-to-end/web-UI/auth.setup.js.in
Due: retag-image

[DAPS-1786] - Web tests, refactor: add test for hitting password reset. (#1787)
  tests/end-to-end/README.md
  tests/end-to-end/web-UI/CMakeLists.txt
  tests/end-to-end/web-UI/auth.setup.js.in
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
  tests/end-to-end/web-UI/scripts/testingUserPasswordChange.spec.js
Due: retag-image

[DAPS-1777] - Foxx, fix: user_router fix regression in missing response. (#1778)
  core/database/foxx/api/user_router.js
  tests/end-to-end/README.md
  tests/end-to-end/web-UI/CMakeLists.txt
  tests/end-to-end/web-UI/auth.setup.js.in
  tests/end-to-end/web-UI/playwright.config.js
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
  tests/end-to-end/web-UI/scripts/testingUserPasswordChange.spec.js
Due: build-core, retag-image, build-foxx

refactor: Authz logging improvements
  core/database/foxx/api/authz_router.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1790] - fix: common, core, repo, zmq assertion failure during EXCEPT call due to callin zmq_msg with invalid state after closing it.
  common/source/communicators/ZeroMQCommunicator.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1791] - fix: build, python client, requirements.txt was being moved to a folder named requirements.txt during cmake configure script.
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
