Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Update testing
  core/database/foxx/tests/repository_types.test.js
Due: build-core, retag-image, build-foxx

Apply suggestions from code review
  common/include/common/CipherEngine.hpp
  common/include/common/Util.hpp
  common/source/CipherEngine.cpp
  common/source/Util.cpp
  core/database/foxx/api/tasks.js
  core/docker/Dockerfile
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
  core/server/tests/unit/test_TaskWorker.cpp
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style:removed unnecessary logs
  core/server/TaskWorker.cpp
Due: build-core, retag-image

fix: Removed header Config.hpp
  core/server/AuthMap.cpp
Due: build-core, retag-image

style:removed dead code
  tests/end-to-end/setup.sh
Due: retag-image

fix: make protobuf file generation and compile order explicit to prevent race condition.
  common/proto/common/CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make protobuf file generation and compile order explicit to prevent race condition. (#1528)
  common/proto/common/CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: Adjusted the tokenNeedsUpdate function to work properly, and replaced the dummy code within Databaseapi accordingly
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
  core/server/TaskWorker.hpp
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix:Readjusted error handling in cipherEngine and the readFile func, also changed the tokenNeedUpdate function as there was leftover bugs from before
  common/source/CipherEngine.cpp
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: remove system secret from user create route call
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix:adjusted all insnaces of access_token to be access and same for refresh_token... also fixed taskworker test accordingly
  common/include/common/CipherEngine.hpp
  core/server/TaskWorker.cpp
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix:removed unnecessary library from CipherEngine
  common/include/common/CipherEngine.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

reworked how environment file is read and certs are generated for #1529
  compose/all/generate_env.sh
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: Added exception handling if msg is invalid, and adjusted a global variable that was being used unproperly.
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: Removed namespace std within the implementation file CipherEngine.cpp and replaced all uses with std::
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

style: Added comments to CipherEngine base64 encode and decode functions to clarify how allocation failures are handled
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: add unauthorized error check in ci infrastructure job check.
  .gitlab/infrastructure.yml
  scripts/ci_pipeline_setup.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: add unauthorized error check in ci infrastructure job check. (#1535)
  .gitlab/infrastructure.yml
  scripts/ci_pipeline_setup.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Design Pattern Translation: Convert Repository Factory to Rust-Compatible js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Add validation integration to repo router
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Readd new router
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Add validation
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Introduce repository type system with factory pattern
  core/database/CMakeLists.txt
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/tests/repo_types.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Update endpoints to repo
  core/database/foxx/api/data_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx
