Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

fix: swap out hypens for underscores in COMPONENT name when dealing with files.
  .gitlab/common.yml
Due: retag-image

refactor: move legacy test files into legacy folder.
  python/datafed_pkg/tests/Test_EndToEnd.py
  python/datafed_pkg/tests/Test_ObjectReturn.py
  python/datafed_pkg/tests/data_gen.py
  python/datafed_pkg/tests/security.py
Due: retag-image

style: apply formatting to integration tests for python code.
  python/datafed_pkg/tests/integration/test_CommandLib.py
  python/datafed_pkg/tests/integration/test_MessageLib.py
Due: retag-image

chore: Auto-format JavaScript files with Prettier
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor:Final pass for note_router
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

refactor: authz_router final pass for logging improvements
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/authz_router.js
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

refactor: Final pass for metrics_router
  core/database/foxx/api/metrics_router.js
Due: build-core, retag-image, build-foxx

refactor: Final pass for group_router
  core/database/foxx/api/group_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/group_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1522] - refactor: foxx, Note Router Logging Improvements (#1796)
  core/database/CMakeLists.txt
  core/database/foxx/api/note_router.js
  core/database/foxx/tests/note_router.test.js
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

refactor: final pass of metrics router
  core/database/foxx/api/metrics_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/metrics_router.js
Due: build-core, retag-image, build-foxx

refactor: last minute changes
  core/database/foxx/api/metrics_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1774] - continuation of fix (#1798)
  tests/end-to-end/test_api_query.py
Due: retag-image

refactor: Final pass with logging improvements (QOL NEEDED)
  core/database/foxx/api/coll_router.js
  core/database/foxx/tests/coll_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/coll_router.js
  core/database/foxx/tests/coll_router.test.js
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

refactor: checkpoint (SMALL CHANGES LEFT)
  core/database/foxx/api/topic_router.js
Due: build-core, retag-image, build-foxx

refactor: final pass post review
  core/database/foxx/api/topic_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/topic_router.js
Due: build-core, retag-image, build-foxx

fix: make query test more robust.
  tests/end-to-end/test_api_query.py
Due: retag-image

[DAPS-1522] refactor: foxx, Metrics Router Logging Improvements (#1797)
  core/database/CMakeLists.txt
  core/database/foxx/api/metrics_router.js
  core/database/foxx/tests/metrics_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1522] - refactor: foxx, Group Router Logging Improvements (#1795)
  core/database/CMakeLists.txt
  core/database/foxx/api/group_router.js
  core/database/foxx/tests/group_router.test.js
Due: build-core, retag-image, build-foxx

refactor: final pass with QOL changes
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image, build-foxx

refactor: final pass for topic router (QOL finished)
  core/database/foxx/api/topic_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1522] - foxx, Authz Router Logging Improvements (#1788)
  core/database/foxx/api/authz_router.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

refactor: only print subset of user properties.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: user tokens expiring route.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

release: version 4.0.1
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

release: version 4.0.1 (#1807)
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

CHECKPOINT
  core/database/foxx/api/coll_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/coll_router.js
Due: build-core, retag-image, build-foxx

refactor: only print subset of user properties. (#1804)
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

changed how prerelease identifier is configured in ci job
  .gitlab/stage_deploy_pypi.yml
Due: retag-image

changed when image is built and added sensible defaults
  .gitlab/stage_deploy_pypi.yml
Due: retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
