Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report-template.md
Due: retag-image

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report-template.md
  .github/ISSUE_TEMPLATE/development-issue-template.md
  .github/ISSUE_TEMPLATE/feature-request-template.md
Due: retag-image

Checkpoint
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/database/foxx/api/models/globus_token.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

updated protobuf version
  python/datafed_pkg/requirements.txt
Due: retag-image

updated setuptools version
  python/datafed_pkg/requirements.txt
Due: retag-image

fixed condition
  python/datafed_pkg/requirements.txt
Due: retag-image

changed where packages are installed
  python/datafed_pkg/requirements.txt
  scripts/install_client_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

used python3.11 to create the virtual environment instead of latest
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

reverted protobuf version
  python/datafed_pkg/requirements.txt
Due: retag-image

testing specificying version
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

removed pyvenv in ci job for consistency
  .gitlab/stage_provision_client.yml
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

installed python3.11 in dependencies docker file
  docker/Dockerfile.dependencies
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added missing -y flag
  docker/Dockerfile.dependencies
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

removed unification of install scripts
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

added missing python3.11 install
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

updated ci job to install python3.11
  .github/workflows/unit-tests.yml
Due: retag-image

[DAPS-1388] Add endpoint model, Add endpoint model, unify seperate collection logic, endpoint validation check, Add endpoint query validations, next is token
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/models/endpoint-model.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1388] Add tests for model
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/test/endpoint-model.test.js
Due: retag-image, build-foxx, build-repo, build-ws

changed installed python version to 3.9 since protobuf does not officially support 3.11
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile.gcs
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

changed installed python version to 3.9 since protobuf does not officially support 3.11
  .github/workflows/unit-tests.yml
Due: retag-image

missed version
  .github/workflows/unit-tests.yml
Due: retag-image

updated includes for newer gcc versions
  common/include/common/IMessageMapper.hpp
  common/include/common/ProtoBufMap.hpp
  common/include/common/SocketOptions.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Add documentation describing how to test the foxx microservices unit tests
  doc_source/source/dev/testing.rst
  doc_source/source/index.rst
Due: retag-image

[DAPS-1388] PR comments
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/models/endpoint-model.js
  web/test/endpoint-model.test.js
Due: retag-image, build-foxx, build-repo, build-ws

updated versions
  common/include/common/Util.hpp
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated nlohmann json
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Finished refactoring the Foxx tests so they match the changes with database changes/token changes
  common/source/CipherEngine.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_foxx.sh
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

updated json schema version
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update testing.rst
  doc_source/source/dev/testing.rst
Due: retag-image

changed library search path
  cmake/JSON.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Update web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-endpoint-manager.js
Due: retag-image, build-foxx, build-repo, build-ws

First commit to pinning python version by explicitly calling python interpreter with version number attached
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Set reasonable default that will help filling in repo form for core to repo communication in compose file
  compose/all/compose.yml
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update scripts/compose_generate_env.sh
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add missing python module
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Pin python version
  repository/docker/entrypoint_authz.sh
  scripts/compose_cleanup_globus_files.sh
  scripts/compose_generate_globus_files.sh
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Set appropriate default when building compose image
  compose/all/generate_env.sh
Due: retag-image

[DAPS-14xx] Base
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
  web/static/panel_graph.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Add styling and tooltips
  docs_other/dev/design/graph/graph_schema.html
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
  web/static/panel_graph.js
Due: retag-image, build-foxx, build-repo, build-ws

Checkpoint
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_router.test.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
