Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

[DAPS-1283] remove iframe
  web/static/components/endpoint-browse/index.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] functions
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/store/index.js
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Integrate Redux and redux-persist for state management in TransferEndpointManager
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Integrate endpoint browser state management with redux-persist
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/store/reducers/transfer-reducer.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Integrate Redux and redux-persist for transfer components state management
  web/static/store/reducers/transfer-reducer.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Enhance Redux state persistence with validation and error handling
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/main.js
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Implement Redux-like state management for transfer functionality
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/main.js
  web/static/store/index.js
  web/static/store/reducers/transfer-reducer.js
  web/static/store/store.js
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] Integrate redux-persist for state management in the application
  web/static/components/endpoint-browse/index.js
  web/static/main.js
  web/static/package.json
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] They got me out here linting
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/store/index.js
  web/static/store/reducers/transfer-reducer.js
  web/static/store/store.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1283] They got me looking pretty out here
  web/static/components/endpoint-browse/index.js
  web/static/main.js
  web/static/store/reducers/transfer-reducer.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1337] Refactor GET and Put mode
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
Due: retag-image, build-foxx, build-repo, build-ws

move todo comment
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

Fix bug with playwright
  .gitlab/end_to_end.yml
Due: retag-image

Update .gitlab/end_to_end.yml
  .gitlab/end_to_end.yml
Due: retag-image

Fix path to nvm
  .gitlab/end_to_end.yml
Due: retag-image

Add small fix for storeCollectionId (#1341)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1337] Clear consent issue
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
Due: retag-image, build-foxx, build-repo, build-ws

Remove backslash in GitLab job that might be escaping yaml
  .gitlab/end_to_end.yml
Due: retag-image

Escape the double & to prevent gitlab interpretting as anchors
  .gitlab/end_to_end.yml
Due: retag-image

[DAPS-1337] Correct bug
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: retag-image, build-foxx, build-repo, build-ws

Fix bug with playwright (#1343)
  .gitlab/end_to_end.yml
Due: retag-image

1342 bug npx playwright clean (#1345)
  .gitlab/end_to_end.yml
Due: retag-image

[DAPS-1337] Add Dir mode path logic update
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-ui-manager.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1330] Address Download Extension Transfer (#1340)
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1330] Address Download Extension Transfer (#1340) (#1346)
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
Due: retag-image, build-foxx, build-repo, build-ws

Update Version.cmake
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Parse md json strings
  core/database/foxx/api/data_router.js
Due: build-core, retag-image, build-foxx

parse execQuery params
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

move to direct only
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

make params an object
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

remove console log
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

Parse md json strings (#1347)
  core/database/foxx/api/data_router.js
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
