Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

hypothetical fixes for download/dataget
  python/datafed_pkg/datafed/CommandLib.py
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: indentation of schema test with record.
  tests/end-to-end/test_api_record.py
Due: retag-image

fix: indentation in CommandLib.
  python/datafed_pkg/datafed/CommandLib.py
Due: retag-image

debug: try to uncover source of log error.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

refactor: remove dead code.
  repository/filesys/CMakeLists.txt
  repository/filesys/fusemain.cpp
Due: retag-image

fix: check that returned schema_id contains version number.
  tests/end-to-end/test_api_record.py
Due: retag-image

feat: attempt to fix schema tests.
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_schema.py
Due: build-core, retag-image

docs: remove stale comment
  tests/end-to-end/test_api_schema.py
Due: retag-image

fix: swap data for schema
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_schema.py
Due: retag-image

fix: missing schema response message.
  core/server/ClientWorker.cpp
Due: build-core, retag-image

fix: handle version number internally in CommandLib to be consistent with web client.
  python/datafed_pkg/datafed/CommandLib.py
Due: retag-image

fix: try catch.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

fix: fix inconsistencies in how schema id is handled.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

fix: update delete request to expect 200.
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

fix: add missing collections to write lock in arangodb transaction.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

refactor: explicitly send a 200 status code back.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

refactor: best practice says send 204, so changed test to support.
  core/database/foxx/api/schema_router.js
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

refactor: handling final pr comments
  common/source/operators/AuthenticationOperator.cpp
  core/server/Config.cpp
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: return a version number.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

fix: make test api schema executable.
  tests/end-to-end/test_api_schema.py
Due: retag-image

fix: remove correlation id generation created in DataBase API client send calls.
  common/source/operators/AuthenticationOperator.cpp
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: Added corr_id to task_mgr and task_worker
  core/server/TaskMgr.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

fix: end to end schema tests.
  tests/end-to-end/test_api_schema.py
Due: retag-image

fix: schema end to end tests.
  core/database/foxx/api/schema_router.js
  python/datafed_pkg/datafed/CommandLib.py
Due: build-core, retag-image, build-foxx

feat: first commit for creating schema factory
  core/server/ISchemaStorage.hpp
  core/server/SchemaAPIClient.cpp
  core/server/SchemaAPIClient.hpp
  core/server/SchemaAPIConfig.hpp
  core/server/SchemaServiceFactory.cpp
  core/server/SchemaServiceFactory.hpp
  core/server/schema_storage/ArangoSchemaStorage.hpp
  core/server/schema_storage/ExternalSchemaStorage.cpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
  core/server/schema_validators/ExternalSchemaValidator.cpp
  core/server/schema_validators/ExternalSchemaValidator.hpp
  core/server/schema_validators/NullSchemaValidator.hpp
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/test_SchemaServiceFactory.cpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_JsonSchemaValidator.cpp
  core/server/tests/unit/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

fix: fix test to expect version number in id
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

fix: remove '.cpp' from unit test core file name.
  core/server/tests/unit/CMakeLists.txt
Due: build-core, retag-image

fix: mock_core server build
  tests/CMakeLists.txt
  tests/mock_core/ClientWorker.cpp
  tests/mock_core/Version.hpp.in
Due: retag-image

test: print output returned by schema search.
  tests/end-to-end/test_api_schema.py
Due: retag-image

fix: schema factory tests were capturing the wrong error type.
  core/server/tests/unit/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

fix: update revise route to update id based on version.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

fix: update foxx unit test to account for version number in id
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Move schema logic from client into separate client handler.
  core/server/CMakeLists.txt
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/SchemaAPIClient.cpp
  core/server/SchemaAPIConfig.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_SchemaHandler.cpp
Due: build-core, retag-image

docs: add missing JSDoc description of return type.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

Update tests/end-to-end/test_api_schema.py
  tests/end-to-end/test_api_schema.py
Due: retag-image

refactor: added CorrelationID to metrics thread
  core/server/CoreServer.cpp
Due: build-core, retag-image

refactor: added CorrelationID to dbMaintenence and metricThread
  core/server/CoreServer.cpp
Due: build-core, retag-image
