Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

refactor: add missing LD_LIBRARY_PATH path
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

[DAPS-1625] Address comments 1/2
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/Config.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1625] Address auth cycle, add clear cache functions
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: avoid clearing non persistent keys, they are purged at a regular time interval already in the purge condition.
  core/server/Config.cpp
Due: build-core, retag-image

docs: add additional documentation about lock guard order.
  core/server/AuthMap.hpp
Due: build-core, retag-image

refactor: correct thread locks on migration method.
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
Due: build-core, retag-image

fix: compiler errors in AuthMap.cpp
  core/server/AuthMap.cpp
Due: build-core, retag-image

[DAPS-1625] Cleanup logs, add comments
  core/server/AuthMap.cpp
  core/server/Config.cpp
Due: build-core, retag-image

[DAPS-1625] - user id map for session key josh (#1644)
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1625] - user id map for session key josh (#1644) (#1647)
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[TASK] Correct 2 spaces to 4 for YML (#1640)
  .github/workflows/apply-formatting.yml
  .github/workflows/build-docs.yml
  .github/workflows/format-check.yml
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/jupyternotebook-lint.yml
  .github/workflows/unit-tests.yml
  .gitlab-ci.yml
  .gitlab/build_ci_infrastructure.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/infrastructure.yml
  .gitlab/skip_ci_infrastructure.yml
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
  .gitlab/stage_clear_cache.yml
  .gitlab/stage_image_check.yml
  .gitlab/stage_pipeline_serialize.yml
  .gitlab/stage_provision_client.yml
  .gitlab/stage_test.yml
  .gitlab/stage_unit.yml
  compose/all/compose.yml
  compose/metadata/compose.yml
  compose/repo/compose.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: First pass of logging in task_router
  core/database/foxx/api/lib/logger.js
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

fix: merge conflict changes that were missed.
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update devel from staging (#1649)
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image, build-foxx

[DAPS-1585] [Dependencies] update: upgrade ssl dependency. 3.2.5 (#1646)
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

fix: add more of Austin's files, such as the CMakeLists.txt in common.
  common/CMakeLists.txt
  common/include/common/Util.hpp
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: throw exceptions if errors are detected, instead of just logging them.
  common/source/CipherEngine.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

feat: Add in Austin's Cipher engine code and apply formatting.
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: library order in core server CMakeLists.txt
  core/server/CMakeLists.txt
Due: build-core, retag-image

fix: compose_generate_env.sh script was not reading existing values correctly.
  compose/all/compose.yml
  compose/all/generate_env.sh
  compose/repo/compose.yml
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1605] fix install_foxx.sh - split ssl_args (#1623)
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: Fixed spacing within logs; Removed unnecessary logging
  core/database/foxx/api/lib/logger.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: changed correlation id within logs to use req.headers['x-correlation-id'] instead of just having placeholder text
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

Forgot to also add the new file
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx
