Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

added git to required apt packages
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

swapped to wget to pull python
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated hardcoded node version
  .gitlab/stage_unit.yml
Due: retag-image

added cmake to gcs image
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

add source directory
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

[DAPS-1435] Update webpack config, remove handlebar refs
  web/react-design/jest.config.js
  web/react-design/package-lock.json
  web/react-design/package.json
  web/react-design/src/main.tsx
  web/react-design/webpack.config.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1358] Lint, prettier, styles
  web/react-design/.eslintrc.json
  web/react-design/eslint.config.mjs
  web/react-design/package-lock.json
  web/react-design/package.json
  web/react-design/src/App.test.tsx
  web/react-design/src/App.tsx
  web/react-design/src/components/DataRecord/DataRecordView.tsx
  web/react-design/src/contexts/UserContext.tsx
  web/react-design/src/index.html
  web/react-design/src/index.ts
  web/react-design/src/main.tsx
  web/react-design/src/services/api.ts
  web/react-design/src/types/models.ts
  web/react-design/webpack.config.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1358] Correct jest types, get jest working, update ignore for coverage folder
  web/react-design/.dockerignore
  web/react-design/.env-sample
  web/react-design/.gitignore
  web/react-design/.prettierignore
  web/react-design/README.md
  web/react-design/babel.config.js
  web/react-design/eslint.config.mjs
  web/react-design/jest.config.js
  web/react-design/package-lock.json
  web/react-design/package.json
  web/react-design/prettierrc.json
  web/react-design/src/App.css
  web/react-design/src/App.test.tsx
  web/react-design/src/App.tsx
  web/react-design/src/__mocks__/styleMock.js
  web/react-design/src/configs/setupTests.ts
  web/react-design/src/contexts/UserContext.tsx
  web/react-design/src/index.css
  web/react-design/src/index.html
  web/react-design/src/index.ts
  web/react-design/src/services/api.ts
  web/react-design/src/types/models.ts
  web/react-design/src/utils/logger.ts
  web/react-design/tsconfig.json
  web/react-design/webpack.config.js
Due: retag-image, build-foxx, build-repo, build-ws

first prototype of rust setup
  .gitignore
  AppSettings.toml
  Cargo.lock
  Cargo.toml
  crates/core-api/Cargo.toml
  crates/core-api/src/app_config.rs
  crates/core-api/src/errors.rs
  crates/core-api/src/lib.rs
  crates/core-api/src/middleware.rs
  crates/core-api/src/router.rs
  crates/core-api/src/services/mod.rs
  crates/core-api/src/services/router.rs
  crates/core-api/src/services/user/mod.rs
  crates/core-api/src/services/user/models.rs
  crates/core-api/src/services/user/router.rs
  crates/core-api/src/state.rs
  crates/database/Cargo.toml
  crates/database/src/database.rs
  crates/database/src/entity/mod.rs
  crates/database/src/entity/user/mod.rs
  crates/database/src/entity/user/models.rs
  crates/database/src/entity/user/queries.rs
  crates/database/src/errors.rs
  crates/database/src/lib.rs
  crates/database/src/migrations/m20250529_000001_create_user.rs
  crates/database/src/migrations/mod.rs
  src/core.rs
  src/migrate.rs
Due: retag-image

fixed added path
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

corrected where source was coming from
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

added build essentials for testing purposes
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

added metrics, log aggregation, and comments
  AppSettings.toml
  Cargo.lock
  Cargo.toml
  compose.yml
  crates/core-api/Cargo.toml
  crates/core-api/src/app_config.rs
  crates/core-api/src/errors.rs
  crates/core-api/src/lib.rs
  crates/core-api/src/metrics.rs
  crates/core-api/src/middleware.rs
  crates/core-api/src/router.rs
  crates/core-api/src/services/router.rs
  crates/core-api/src/services/user/models.rs
  crates/core-api/src/services/user/router.rs
  crates/core-api/src/state.rs
  crates/database/Cargo.toml
  crates/database/src/database.rs
  crates/database/src/entity/user/models.rs
  crates/database/src/migrations/mod.rs
  datasources.yml
  grafana.ini
  prometheus.yml
  src/core.rs
  src/migrate.rs
Due: retag-image

Adjust for unit model tests for null
  core/database/foxx/api/models/user.js
Due: build-core, retag-image, build-foxx

updated files to work
  Cargo.toml
  compose.yml
  src/core.rs
Due: retag-image

Replace or with and operator in user model
  core/database/foxx/api/models/user.js
Due: build-core, retag-image, build-foxx

Removed unnecessary logs, and redundant options within the user_router relating to the new variables access and refresh len
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Included CMake OpenSSL in common build
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-Changed return type of encryptAlgorithm -Added encodedBytes function -Readjusted encrypt functions to include new encodedBytes function -Fixed magic numbers: Encoded_IV_Length -
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1331] Modified the script to only delete and recreate guest collections when the base path actually changes
  scripts/globus/create_guest_collection.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-Added key file creation to the tests -Interchanged the magic numbers for set globals
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

line end changes
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Removed valgrind from the core dockerfile
  core/docker/Dockerfile
Due: build-core, retag-image

Fixed the error handing of the readFile function
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-Removed redundant conversion for access_len and refresh_len within user_router -Removed logging for the unencrypted data within user_router
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

-Adjusted variables within user_token to accurately reflect what they represent, specifically dealing with acc_tok to access_token etc.
  core/database/foxx/api/lib/user_token.js
Due: build-core, retag-image, build-foxx

Changed comments to better reflect that new added variables such as access_len and refresh_len will be numbers
  core/database/foxx/api/models/DataFedOAuthToken.js
Due: build-core, retag-image, build-foxx

added some debug information
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1331] Add base path logic
  scripts/globus/create_guest_collection.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

removed sudo from install instructions
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

changed ENV used for installation path
  .gitlab/stage_provision_client.yml
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fixed touched file path
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

removed link to python executable if it already exists
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add missing cmake files
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

[DAPS-1331] Update guest collection file
  scripts/globus/create_guest_collection.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1331] Fix base path caching logic in should_recreate_guest_collection function to recreate by default when no cached path is available
  scripts/globus/create_guest_collection.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1331] Add tests
  .github/workflows/unit-tests.yml
  .gitlab/stage_unit.yml
  scripts/globus/tests/test_create_guest_collection.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added ctest binary so tests pass
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

[DAPS-1331] Revert Gitlab CI
  .github/workflows/unit-tests.yml
  .gitlab/stage_unit.yml
Due: retag-image

-TaskWorker -Changed out magic numbers for their global counterparts -Added the cipher_key_file_path parameter to the prepToken Function
  core/server/TaskWorker.cpp
Due: build-core, retag-image
