Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

-test_CipherEngine.cpp -Adjusted the cipher engine test to mimic the main system -Removed redundant test -Removed whitespace
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-DatabaseAPI.cpp -Made minor changes to initialization of variables within the DatabaseAPI constructor
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

-Dockerfile.dependencies -Changed order of installing dependencies to install core dependencies first
  docker/Dockerfile.dependencies
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-install_core.sh -Added the mv datafed-token-key line in order to move the key to its proper place after generating
  scripts/install_core.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-setup.sh -Added new variables to the setup for the end to end test
  tests/end-to-end/setup.sh
Due: retag-image

-Dependency_install_functions.sh -Whitespace fixes
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

deleted temporary script
  scripts/tmp.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

deleted another temporary script
  run_globus.sh
Due: retag-image

-Dependency_install_functions.sh (#1507)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: used prettier to format any changes that were previously not formatted
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/user.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_model.test.js
  core/database/foxx/tests/user_router.test.js
Due: build-core, retag-image, build-foxx

Add shell-formatter
  .github/workflows/shell-format.yml
Due: retag-image

freature(github action): Add shell-formatter check (#1509)
  .github/workflows/shell-format.yml
Due: retag-image

feat(yaml formatter): added yaml formatter action file.
  .github/workflows/yaml-format.yml
Due: retag-image

suggested changes from PR
  .gitlab/stage_unit.yml
  scripts/copy_dependency.sh
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

feat(yaml formatter): added yaml formatter check action file. (#1511)
  .github/workflows/yaml-format.yml
Due: retag-image

fix: Adjusted the tokenNeedsUpdate func to better handle situations in which certain variables do not exist within the object.
  core/server/TaskWorker.cpp
Due: build-core, retag-image

fix(copy_dependency): copy command failing in Dockerfile.runtime because copy_dependency file was removed.
  docker/Dockerfile.runtime
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: Added inlcude fstream library for use in file writing
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image

Security updates to containers (#1336)
  .github/workflows/unit-tests.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/stage_provision_client.yml
  .gitlab/stage_unit.yml
  CHANGELOG.md
  compose/all/build_images_for_compose.sh
  core/docker/Dockerfile
  docker/Dockerfile.dependencies
  docker/Dockerfile.foxx
  docker/Dockerfile.runtime
  docker/entrypoint_foxx.sh
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  scripts/compose_build_images.sh
  scripts/copy_dependency.sh
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix(dependency_install_functions): rely on source built libcurl in /shared/install/bin as opposed to package installed curl
  scripts/install_end_to_end_test_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

docs: fix comment about library installation completion.
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Ensure pretext libraries are first installed before installing libcurl
  scripts/install_end_to_end_test_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Removed whitespace from Dockerfile.dependencies fix: Added checks to ensure python was properly installed during ws install
  docker/Dockerfile.dependencies
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix:Moved curl to the externals list within install_ws_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix:Changed the base image from focal:ubuntu to debian:bookworm-slim
  compose/metadata/generate_build_args.sh
Due: retag-image

fix:Changed the base image from focal:ubuntu to debian:bookworm-slim (#1521)
  compose/metadata/generate_build_args.sh
Due: retag-image

fix: Changed the libssl and libcrypto libraries to static in Dockerfile.gcs
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

fix: Removed unnecessary globals from Util.hpp and replaced the usage of the variables with their proper counterparts within main.cpp
  common/include/common/Util.hpp
  core/server/main.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

style: Removed unnecessary print statements from both DatabaseAPI.cpp and TaskWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

fix: Added checks for if the token key doesnt exist, and appropriate actions to take if that is the case
  scripts/install_core.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: Included all proper variables that are being stored and transfered, ensuring consistency between support.js and tasks.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/server/TaskWorker.cpp
Due: build-core, retag-image, build-foxx

fix: small typo
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

release: update Foxx API version numbers in cmake/Version.cmake.
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

fix: switch acc_tok and ref_tok to access_token and refresh_token in TaskWorker.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx
