Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

Refactored a few functions within CipherEngine.cpp and fixed some magic numbers
  common/include/common/Util.hpp
  common/source/CipherEngine.cpp
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Reorder zmq bind and connect calls to prevent undefined behavior when using INPROC
  common/source/servers/Proxy.cpp
  common/source/servers/ProxyBasicZMQ.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Make sure zmq messages are closed when exception is encountered
  common/source/communicators/ZeroMQCommunicator.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Make correction to socket name
  common/source/servers/ProxyBasicZMQ.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Initialize cmd call
  core/server/TaskWorker.cpp
Due: build-core, retag-image

Add missing include
  repository/gridftp/globus5/authz/tests/mock/test_getVersion.cpp
Due: retag-image, build-gcs

Upgrade formatter
  .github/workflows/apply-formatting.yml
Due: retag-image

Update action for formatter
  .github/workflows/apply-formatting.yml
Due: retag-image

Upgrade formatter (#1440)
  .github/workflows/apply-formatting.yml
Due: retag-image

Update pull_request_template.md (#1433)
  .github/pull_request_template.md
Due: retag-image

[DAPS-14xx] Base:
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/utils.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] THEME, address comments
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/styles/customization_modal.css
  web/static/components/provenance/styles/graph_styles.css
  web/static/components/provenance/styles/theme-variables.css
  web/static/components/provenance/utils.js
Due: retag-image, build-foxx, build-repo, build-ws

1437 fix zmq inproc bind order (#1438)
  common/source/communicators/ZeroMQCommunicator.cpp
  common/source/servers/Proxy.cpp
  common/source/servers/ProxyBasicZMQ.cpp
  core/server/TaskWorker.cpp
  repository/gridftp/globus5/authz/tests/mock/test_getVersion.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Removed logs that exposed sensitive data, fixed typos, added error handling to readFile func
  common/source/Util.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/database/foxx/api/user_router.js
  core/docker/Dockerfile
  core/server/Config.hpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/main.cpp
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

Fix conflicting dependency install flags
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Allow looping over containers if there is more than one.
  .gitlab/common.yml
Due: retag-image

Allow looping over containers if there is more than one. (#1446)
  .gitlab/common.yml
Due: retag-image

Fix multipline comment
  .gitlab/common.yml
Due: retag-image

1445 docker logs multiple containers (#1447)
  .gitlab/common.yml
Due: retag-image

Fix conflicting dependency install flags (#1444)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-14xx] Zoom
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/utils.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] JSDOC
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/utils.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1408] Provenance Visual Management (2/2) (#1419)
  .github/workflows/unit-tests.yml
  web/package.json.in
  web/static/components/provenance/assets/arrow-markers.js
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/styles/customization_modal.css
  web/static/components/provenance/styles/graph_styles.css
  web/static/components/provenance/styles/theme-variables.css
  web/static/components/provenance/utils.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
  web/test/components/provenance/state.test.js
  web/test/components/provenance/utils.test.js
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

Update web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-dark/datafed.css
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1408] Provenance Visual Management Lint (1/2) (#1431)
  .github/workflows/unit-tests.yml
  web/package.json.in
  web/static/components/provenance/assets/arrow-markers.js
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/styles/customization_modal.css
  web/static/components/provenance/styles/graph_styles.css
  web/static/components/provenance/styles/theme-variables.css
  web/static/components/provenance/utils.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
  web/static/main_browse_tab.js
  web/static/panel_graph.js
  web/test/components/provenance/state.test.js
  web/test/components/provenance/utils.test.js
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1395] Address Memory Leaks in Core Server (#1424)
  CMakeLists.txt
  common/include/common/ICredentials.hpp
  common/include/common/IMessage.hpp
  common/include/common/IOperator.hpp
  common/include/common/IServer.hpp
  common/include/common/ISocket.hpp
  common/source/communicators/ZeroMQCommunicator.cpp
  common/source/communicators/ZeroMQCommunicatorSecure.cpp
  common/source/communicators/ZeroMQCommunicatorSecure.hpp
  common/source/credentials/ZeroMQSocketCredentials.hpp
  common/source/messages/GoogleProtoMessage.hpp
  common/source/operators/AuthenticationOperator.hpp
  common/source/operators/RouterBookKeepingOperator.hpp
  common/source/servers/Proxy.hpp
  common/source/servers/ProxyBasicZMQ.cpp
  common/source/servers/ProxyBasicZMQ.hpp
  common/source/sockets/ZeroMQSocket.hpp
  common/source/support/zeromq/Context.hpp
  common/tests/CMakeLists.txt
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_Buffer.cpp
  common/tests/unit/test_CommunicatorFactory.cpp
  common/tests/unit/test_Frame.cpp
  common/tests/unit/test_MessageFactory.cpp
  common/tests/unit/test_OperatorFactory.cpp
  common/tests/unit/test_ProtoBufFactory.cpp
  common/tests/unit/test_ProtoBufMap.cpp
  common/tests/unit/test_Proxy.cpp
  common/tests/unit/test_ProxyBasicZMQ.cpp
  core/server/tests/CMakeLists.txt
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_AuthMap.cpp
  core/server/tests/unit/test_AuthenticationManager.cpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/unit/test_getVersion.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Address feedback from Aaron
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/path.test.js
  core/database/foxx/tests/project.test.js
Due: build-core, retag-image, build-foxx

Address merge conflict
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/controllers/user.js
  core/database/foxx/api/models/authz.js
  core/database/foxx/api/models/project.js
  core/database/foxx/api/models/record.js
  core/database/foxx/api/models/repo.js
  core/database/foxx/api/models/user.js
Due: build-core, retag-image, build-foxx

Fix tests
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/project.test.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image, build-foxx

[TASK] Update tests and fixture
  web/test/components/provenance/state.test.js
  web/test/components/provenance/utils.test.js
Due: retag-image, build-foxx, build-repo, build-ws

[TASK] Update tests and fixture (#1454)
  web/test/components/provenance/state.test.js
  web/test/components/provenance/utils.test.js
Due: retag-image, build-foxx, build-repo, build-ws

updated python installation method
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Move values outside of while, loop. Fix regression.
  repository/gridftp/globus5/authz/source/libauthz.c
Due: retag-image, build-gcs

containers build hallelujah
  repository/docker/Dockerfile.gcs
  scripts/dependency_install_functions.sh
  scripts/install_client_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated unit test to use same python installation method
  .github/workflows/unit-tests.yml
Due: retag-image

changed source -> . for sh
  .github/workflows/unit-tests.yml
Due: retag-image

changed back to source and forced bash usage
  .github/workflows/unit-tests.yml
Due: retag-image

removed python install as its not needed
  .github/workflows/unit-tests.yml
Due: retag-image
