Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

fix: tests running until timeout because of missing count in while loop for query end to end test.
  tests/end-to-end/test_api_query.py
Due: retag-image

[DAPS-1862] - fix allocation change failure (#1864)
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/record.test.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

refactor: query router add defensive check.
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

refactor: Added correlationID to dbGetRaw
  common/include/common/IAuthenticationManager.hpp
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Condition.cpp
  core/server/Config.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

chore: Auto-format JavaScript files with Prettier
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: retag-image, build-foxx, build-repo, build-ws

CHECKPOINT
  core/server/Condition.cpp
Due: build-core, retag-image

fix: fix missing proto2->proto3 transition setting.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

fix: support python client partial updates.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

fixed user router /update
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fixed user router /update (#1877)
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: add attribute to query update to distinguish partial replace from full document replace.
  common/proto3/common/auth/query_update_request.proto
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: support partial and full replacement in core server for query.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: fix user router variable definitions.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: one more error in user_router.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: acl_router variable should be initialized to empty array.
  core/database/foxx/api/acl_router.js
Due: build-core, retag-image, build-foxx

fix: admin_router
  core/database/foxx/api/admin_router.js
Due: build-core, retag-image, build-foxx

fix: config_router
  core/database/foxx/api/config_router.js
Due: build-core, retag-image, build-foxx

fix: apply fixes to router logic
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/metrics_router.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/tag_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/topic_router.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: remove proj search test
  core/database/foxx/tests/proj_router.test.js
Due: build-core, retag-image, build-foxx

fix: remove any reference to unused proj search
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/tag_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/topic_router.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/proj_router.test.js
Due: build-core, retag-image, build-foxx

fix: revert proto enum names to what they were previously.
  common/proto3/common/enums/dependency_dir.proto
  common/proto3/common/enums/dependency_type.proto
  common/proto3/common/enums/execution_method.proto
  web/static/util.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: add ? checks to variable entries that may not be defined.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

fix: change proto option in core to always_print_enums_as_ints=false
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

style: remove commented out ci code block.
  .gitlab/common.yml
Due: retag-image

release: set version numbers.
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

fix: adjust query router to handle none numeric mode.
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1872] - fix: QA, tests running until timeout, proto3 compatibility bugs, log bugs, removed proj search
  .gitlab/common.yml
  common/proto3/common/auth/query_update_request.proto
  common/proto3/common/enums/dependency_dir.proto
  common/proto3/common/enums/dependency_type.proto
  common/proto3/common/enums/execution_method.proto
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/admin_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/config_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/metrics_router.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/tag_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/topic_router.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/proj_router.test.js
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  tests/end-to-end/test_api_query.py
  web/datafed-ws.js
  web/static/util.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: double client variable declaration.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1878] - release: version number update (#1878)
  cmake/Version.cmake
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

chore: Auto-format JavaScript files with Prettier
  Python-3.9.22/Doc/tools/static/changelog_search.js
Due: retag-image

Create Feature Issue Template
  .github/ISSUE_TEMPLATE/feature-template.md
Due: retag-image

Update feature-template.md
  .github/ISSUE_TEMPLATE/feature-template.md
Due: retag-image

refactor: First full pass of logging fixes
  common/include/common/IAuthenticationManager.hpp
  common/source/operators/AuthenticationOperator.cpp
  common/tests/unit/test_OperatorFactory.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Condition.cpp
  core/server/Config.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/tests/unit/test_AuthMap.cpp
  core/server/tests/unit/test_AuthenticationManager.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: Final changes to add correlationID to the few remaining routes still displaying unknown
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

refactor: changed string comparisions
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
