Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

refactor: Final changes to add tests to CMakeLists.txt
  core/database/CMakeLists.txt
Due: build-core, retag-image, build-foxx

refactor: Final changes to tests and topic router
  core/database/CMakeLists.txt
  core/database/foxx/api/topic_router.js
  core/database/foxx/tests/topic_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/topic_router.js
  core/database/foxx/tests/topic_router.test.js
Due: build-core, retag-image, build-foxx

Update common/proto/common/SDMS_Auth.proto
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1718] - Web, Core, Python Client - Protobuf ExecutionMethod enum, add RepoAllocationCreateResponse (#1719)
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1713] - Core, Web, Python Client, refactor: protobuf, allow optional fields when creating repo to support metadat… (#1714)
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1715] - Core, refactor: make path, pub_key, address, endpoint optional in repoCreateRequest (#1716)
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

Update core/database/foxx/api/lib/result.js
  core/database/foxx/api/lib/result.js
Due: build-core, retag-image, build-foxx

[DAPS-1705] - Foxx, feature: integrate metadata globus factory repo router create (#1706)
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/result.js
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/repo_router.test.js
  core/database/foxx/tests/repositories.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: fixing tests so that they wipe the tasks
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1688] - Update dependencies, Crypto libssl switched to version 3 globus_sdk version pinned (#1689)
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

refactor: added cleanup after tests
  core/database/foxx/tests/query_router.test.js
Due: build-core, retag-image, build-foxx

refactor:Added cleanup after testing
  core/database/foxx/tests/topic_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/topic_router.test.js
Due: build-core, retag-image, build-foxx

Refactor: adjusted cleanup
  core/database/foxx/tests/query_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Added logging improvements to metrics_router, added tests
  core/database/CMakeLists.txt
  core/database/foxx/api/metrics_router.js
  core/database/foxx/tests/metrics_router.test.js
Due: build-core, retag-image, build-foxx

refactor:last second changes
  core/database/foxx/tests/metrics_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/metrics_router.js
  core/database/foxx/tests/metrics_router.test.js
Due: build-core, retag-image, build-foxx

refactor: centralize mock core server.
  CMakeLists.txt
  repository/gridftp/globus5/authz/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  repository/gridftp/globus5/authz/tests/mock/mock_start.sh
  tests/mock/CMakeLists.txt
  tests/mock/mock_start.sh
  tests/mock/mock_stop.sh
  tests/mock/test_getVersion.cpp
  tests/mock_core/AuthMap.cpp
  tests/mock_core/AuthMap.hpp
  tests/mock_core/AuthenticationManager.cpp
  tests/mock_core/AuthenticationManager.hpp
  tests/mock_core/CMakeLists.txt
  tests/mock_core/ClientWorker.cpp
  tests/mock_core/ClientWorker.hpp
  tests/mock_core/Condition.cpp
  tests/mock_core/Condition.hpp
  tests/mock_core/Config.cpp
  tests/mock_core/Config.hpp
  tests/mock_core/IMockCoreServer.hpp
  tests/mock_core/MockCoreServer.cpp
  tests/mock_core/MockCoreServer.hpp
  tests/mock_core/MockGlobals.cpp
  tests/mock_core/MockGlobals.hpp
  tests/mock_core/PublicKeyTypes.hpp
  tests/mock_core/Version.hpp.in
  tests/mock_core/main.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: move test logic into subfolder CmakeLists.txt
  tests/CMakeLists.txt
Due: retag-image

refactor: add Version.hpp to gitignore as it is autogenerated.
  .gitignore
Due: retag-image

refactor: cleanup commented out code.
  tests/mock/CMakeLists.txt
  tests/mock/test_getVersion.cpp
Due: retag-image

Fix .gitignore
  .gitignore
Due: retag-image

refactor: remove confusing apache conf file.
  repository/docker/000-default.conf
Due: retag-image

fix: pass env variables to downstream repo
  .gitlab/stage_build_base.yml
Due: retag-image

style: apply yaml formatting.
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
  .gitlab/build/skip_build_dependencies_image.yml
  .gitlab/stage_build_base.yml
Due: retag-image

refactor: move env variables to inside trigger block.
  .gitlab/stage_build_base.yml
Due: retag-image

refactor: attempt to satisfy gitlab
  .gitlab/stage_build_base.yml
Due: retag-image

refactor: add dependency variables to the correct job.
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/stage_build_base.yml
Due: retag-image

fix: indentation.
  .gitlab/stage_build_base.yml
Due: retag-image

fix: use updated downstream submodule
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: remove stale variables.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

[1729-DAPS] - bug ci, downstream datafed dependencies pipelines are building the container image from incorrect sha (#1732)
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
  .gitlab/build/skip_build_dependencies_image.yml
Due: retag-image

[DAPS-1711] - feature foxx standardize repo response schema (#1712)
  core/database/foxx/api/schemas/repo.js
  core/database/foxx/api/schemas/response_envelope.js
  core/database/foxx/api/schemas/task.js
Due: build-core, retag-image, build-foxx

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
