Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

feature: update DataFedDependencies submodule and move ground truth of requirements.txt to DataFedDependencies.
  CMakeLists.txt
  python/datafed_pkg/requirements.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor:First pass of logging for data_router
  core/database/foxx/api/data_router.js
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

fix: update the env variables used
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: revert to opt/datafed/dependenices for install directory.
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: double folder name.
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: ownership of dependencies install path.
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: adjust python dir in CI job.
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: provision client job.
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: add relevant paths to export before running client scripts
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: fix paths in foxx tests scripts.
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/data_router.js
Due: build-core, retag-image, build-foxx

style: fix formatting.
  .gitlab/stage_provision_client.yml
Due: retag-image

fix: correct reference to script.
  tests/end-to-end/setup.sh
Due: retag-image

Style: Corrected status' on logs
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: exchange PROJECT_ROOT with DATAFED_PROJECT_ROOT
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/database/tests/test_teardown.sh
Due: build-core, retag-image, build-foxx

refactor:Added correlation ID to requests going to foxx api
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

refactor: Fixed new additions having incorrect variable names
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

refactor: removed incorrect variables from dbGetRaw
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

fix: point entrypoint_authz and correct dependency_versions.sh file location.
  repository/docker/entrypoint_authz.sh
Due: retag-image, build-gcs

test: add repo create request to Buffer unit tests.
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  common/tests/unit/test_Buffer.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

feature: Implemented logging functions, first pass
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

fix: Buffer unit test.
  common/tests/unit/test_Buffer.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: add missing DESTINATION keyword from file copy command in CMakeLists.txt file.
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: move execution types to separate file.
  core/database/foxx/api/lib/execution_types.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

refactor:small fix to logger.js
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refator: Not fully finished with all changes, this is just a checkpoint commit
  core/database/foxx/api/data_router.js
Due: build-core, retag-image, build-foxx

refactor: Fixed the logger.js due to extra + sign
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

Adding the logger functions for future PR's (#1675)
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refactor:Second pass of user_router logging
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: Removed temporary logger file
  .gitmodules
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refactor:removed external/protobuf
  .gitmodules
Due: retag-image

1669 feature support core service protobuf message with repo types (#1670)
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  common/tests/unit/test_Buffer.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

1671 daps feature foxx add repository and execution strategy types (#1672)
  core/database/foxx/api/lib/execution_types.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

fix:Removed debugging logger file
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
