Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

refactor: make envelope more consistent with existing implementation.
  common/proto3/common/envelope.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

removed more debug info
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
  web/static/dlg_data_new_edit.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

try client fix
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

fix(auth): resolve infinite consent loop via db, race condition, and scope fixes
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

fix(auth): resolve infinite consent loop and improve scope handling
  core/database/foxx/api/user_router.js
  web/services/auth/ConsentHandler.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

remove debug info
  web/datafed-ws.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

fix syntax error
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix syntax error 2
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

added handler for globus default token
  .gitignore
  web/services/auth/TokenHandler.js
Due: retag-image, build-foxx, build-repo, build-ws

dont overwrite path
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

removed duplicated code
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fixed typo
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

added upload data modal restore feature
  web/static/components/endpoint-browse/index.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

added debug information
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

Add back finally block after finishing debugging
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

removed error
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

removed endpoint browser restore
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

(hopefully) fixed session restore feature
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

change how endpoint id is restored
  web/static/main.js
Due: retag-image, build-foxx, build-repo, build-ws

Update datafed-ws.js
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

single domain req
  web/datafed-ws.js
  web/static/components/endpoint-browse/index.js
Due: retag-image, build-foxx, build-repo, build-ws

added state restore feature
  web/datafed-ws.js
  web/static/components/endpoint-browse/index.js
  web/static/main.js
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

refactor: adjusted tests to work correctly and cleaned up logging
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/schema_router.test.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

refactor: final changes, removed logs within tasks
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

refactor: remove rules
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
Due: retag-image

refactor: improve git diff detection to trigger build based on last pushed docker image.
  .gitlab/build/retag_core_image.yml
  .gitlab/build/retag_foxx_image.yml
  .gitlab/build/retag_gcs_base_image.yml
  .gitlab/build/retag_gcs_image.yml
  .gitlab/build/retag_repo_image.yml
  .gitlab/build/retag_ws_image.yml
  .gitlab/common.yml
  .gitlab/stage_image_check.yml
Due: retag-image

fix: add wildcard to artifact
  .gitlab/common.yml
Due: retag-image

[DAPS-1839] - Fix: ci image retag (#1840)
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/retag_core_image.yml
  .gitlab/build/retag_foxx_image.yml
  .gitlab/build/retag_gcs_base_image.yml
  .gitlab/build/retag_gcs_image.yml
  .gitlab/build/retag_repo_image.yml
  .gitlab/build/retag_ws_image.yml
  .gitlab/common.yml
  .gitlab/stage_image_check.yml
Due: retag-image
