Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

refactor: set cmake policy to silence noisy warning.
  cmake/Boost.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[DAPS-1749] refactor: set cmake policy to silence noisy warning. (#1750)
  cmake/Boost.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

refactor: Finalized all reviewed changes
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

refactor: Finalized changes to note router
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

refactor:Finalized changes to info that is displayed
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

bug: fix mapping of multiple globus accounts.
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: Finalized changes to logging for tag_router
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

refactor: Finalized changes to note_router
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

Apply suggestions from code review
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

Apply suggestions from code review
  core/database/foxx/api/note_router.js
Due: build-core, retag-image, build-foxx

Update core/database/foxx/api/tag_router.js
  core/database/foxx/api/tag_router.js
Due: build-core, retag-image, build-foxx

fix: add retries and connection check to install_foxx.sh script.
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

docs: correct log output to indicate success for install_foxx when run from CMakeLists.txt
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1522] - foxx feature tag router logging improvements (#1734)
  core/database/CMakeLists.txt
  core/database/foxx/api/tag_router.js
  core/database/foxx/tests/tag_router.test.js
Due: build-core, retag-image, build-foxx

refactor: First pass of logging on version_router
  core/database/CMakeLists.txt
  core/database/foxx/api/version_router.js
  core/database/foxx/tests/version_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/version_router.test.js
Due: build-core, retag-image, build-foxx

refactor: First pass of logging on authz_router (NO TESTS)
  core/database/foxx/api/authz_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1378] - web, bug: fix mapping of multiple globus accounts. (#1753)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1756] - scripts, foxx, fix: add retries and connection check to install_foxx.sh script. (#1757)
  CMakeLists.txt
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: First pass of logging to authz_router; Expanded tests to cover more routes
  core/database/foxx/api/authz_router.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/authz_router.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Finalized version router
  core/database/foxx/api/version_router.js
  core/database/foxx/api/version_router.js.in
Due: build-core, retag-image, build-foxx

refactor: Finalizing version_router
  core/database/foxx/api/version_router.js.in
Due: build-core, retag-image, build-foxx

refactor: only add ARANGO SSL env variables to .env file if generate_env is called with ssl flag.
  compose/README.md
  compose/all/compose.yml
  docker/entrypoint_foxx.sh
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1522] Version Router Logging Improvements (#1758)
  core/database/CMakeLists.txt
  core/database/foxx/api/version_router.js.in
  core/database/foxx/tests/version_router.test.js
Due: build-core, retag-image, build-foxx

fix: non nullptr is causing seg fault when reusing curl handle.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

[DAPS-1737] - compose, refactor compose cleanup arango ssl env variables (#1765)
  compose/README.md
  compose/all/compose.yml
  docker/entrypoint_foxx.sh
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: failed end_to_end
  .gitlab/end_to_end.yml
Due: retag-image

fix: remove soft link if it already exists.
  .gitlab/stage_provision_client.yml
Due: retag-image

change install path
  .gitlab/stage_provision_client.yml
Due: retag-image

adjust python activate call.
  .gitlab/end_to_end.yml
Due: retag-image
