Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

changed gcs base image to debian in CI
  .gitlab/build/build_gcs_base_image.yml
Due: retag-image

[DAPS-1331] Collection ID Updated on restart (#1468)
  scripts/globus/create_guest_collection.py
  scripts/globus/tests/test_create_guest_collection.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added base image change to missed file
  .gitlab/build/force_build_gcs_base_image.yml
Due: retag-image

fixed rules for rebuilding gcs image
  .gitlab/build/build_gcs_image.yml
Due: retag-image

Checkpoint
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-Tasks.js -Adjusted variables related to tokens to be more user readable and more easily identifiable
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

Adjusted AuthMap and AuthenticationManager along with their associated tests in order to add the new parameter cred_dir, which is used when databaseapi is called
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/tests/unit/test_AuthMap.cpp
  core/server/tests/unit/test_AuthenticationManager.cpp
Due: build-core, retag-image

-ClientWorker.cpp -Added new cred_dir parameter to the databaseapi constructor call
  core/server/ClientWorker.cpp
Due: build-core, retag-image

Adjusted the databaseapi calls to 3 files CoreServer, Config, and TaskMgr, to add the new cred_dir parameter
  core/server/Config.cpp
  core/server/CoreServer.cpp
  core/server/TaskMgr.cpp
Due: build-core, retag-image

hopefully fixed ability to find openssl in foxx tests
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-DatabaseAPI.hpp -Removed globals as they were redundant to those already stored within CipherEngine -Added cipher_key_file_path to functions that require it -Added variable cipher_key_file_path
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

-DatabaseAPI.cpp -Due to formatting issues this is being committed
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

-TaskWorker.hpp -Added cipher_key_path parameter to prepToken function
  core/server/TaskWorker.hpp
Due: build-core, retag-image

-main.cpp -Removed redundant logs pertaining to the cipher key path -Changed magic numbers to their associated global counterparts
  core/server/main.cpp
Due: build-core, retag-image

[DAPS-RELEASE]
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

fixed ldconfig command to find shared libraries
  docker/entrypoint_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Synced test_fox.sh with origin/devel due to whitespace changes
  core/database/tests/test_foxx.sh
Due: build-core, retag-image, build-foxx

Within TaskWorker.cpp, changed tokenNeedsUpdate function to a more simplistic and readable state
  core/server/TaskWorker.cpp
Due: build-core, retag-image

[TASK] Remove icons from labels
  web/static/components/provenance/utils.js
  web/test/components/provenance/utils.test.js
Due: retag-image, build-foxx, build-repo, build-ws

-Main.cpp -Removed whitespace -Changed the re-assigning of the fname variable to now seperate variable names -TaskWorker.cpp -editted a typo
  core/server/TaskWorker.cpp
  core/server/main.cpp
Due: build-core, retag-image

[TASK] Remove icons from labels (#1489)
  web/static/components/provenance/utils.js
  web/test/components/provenance/utils.test.js
Due: retag-image, build-foxx, build-repo, build-ws

-Test_TaskWorker.cpp -Added an unencrypted test token to the unencrypted test to ensure it functions properly
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image

-TaskWorker.hpp -Adjusted a line due to formatting issues -TaskWorker.cpp -Fixed logical bug pertaining to the tokenNeedsUpdate function, due to using .empty the proper return bool was flipped.
  core/server/TaskWorker.cpp
  core/server/TaskWorker.hpp
Due: build-core, retag-image

-Util.hpp -Removed unnecessary functions such as generateIV, generateKey, etc. -test_CipherEngine -Fixed the usage of generateIV function
  common/include/common/Util.hpp
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Removed unnecessary function handleError
  common/include/common/Util.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[Release] v3.13.01 Resolve Devel Branch Diff (#1486)
  .github/ISSUE_TEMPLATE/bug-report-template.md
  .github/ISSUE_TEMPLATE/development-issue-template.md
  .github/ISSUE_TEMPLATE/feature-request-template.md
  .github/pull_request_template.md
  cmake/Version.cmake
  web/static/components/provenance/utils.js
  web/test/components/provenance/utils.test.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-user.js -Fixed whitespace issues -Util.cpp -Fixed whitespace issues
  common/source/Util.cpp
  core/database/foxx/api/models/user.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

-Common Test CMakeLists.txt -Fixed whitespace changes
  common/tests/unit/CMakeLists.txt
Due: build-core, retag-image, build-gcs-base, build-gcs

-user_router.js -Fixed whitespace
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

-TaskWorker.cpp -Changed bitwise or to an actual or
  core/server/TaskWorker.cpp
Due: build-core, retag-image

-TaskWorker.cpp -Fixed whitespace issues
  core/server/TaskWorker.cpp
Due: build-core, retag-image

-test_CipherEngine.cpp -Added comments to further explain what the msg represents -Added const to msg -Adjusted the whitespace -Added Expected Encrypted Message Len log
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-install_dependencies.sh -fixed whitespace
  scripts/install_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

-test_CipherEngine -Added clarification comments to constructor's for CipherEngine objects -Added expected logging for debugging
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-Test_TaskWorker -Added comments futher explaining the layout of the tests
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image

-test_CipherEngine -Removed cout logging
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-CipherEngine.cpp -Replaced std::move within the decode64 and encode64 functions, to just returning the variable
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-Util.hpp/Util.cpp -Pass-by-reference optimization to the readFile parameter fileName
  common/include/common/Util.hpp
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

-CipherEngine -Added doxygen comments
  common/include/common/CipherEngine.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
