Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

removed leading zero
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Checkpoint:Static library changes and shell paths
  scripts/copy_dependency.sh
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1349] Return logic to original check
  web/static/dlg_data_new_edit.js
Due: retag-image, build-foxx, build-repo, build-ws

64bit openssl static library build
  scripts/dependency_install_functions.sh
  scripts/install_core_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Added Encryption and Decryption funcs, along with tests
  CMakeLists.txt
  common/CMakeLists.txt
  common/include/common/Util.hpp
  common/source/Util.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_EncryptionDecryption.cpp
  common/tests/unit/test_KeyGeneration.cpp
  core/server/main.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Checkpoint
  common/tests/unit/test_KeyGeneration.cpp
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Adjusted Dockerfile.dependencies to install core dependencies before web dependenceies
  docker/Dockerfile.dependencies
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1349] version
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[DAPS-1349] Provenance Capture Update Bug (#1350)
  cmake/Version.cmake
  web/static/dlg_data_new_edit.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

CipherEngine Class created, changed how DatabaseAPI inserts tokens to incorporate encryption
  common/include/common/CipherEngine.hpp
  common/include/common/Util.hpp
  common/source/CipherEngine.cpp
  common/source/Util.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_CipherEngine.cpp
  core/database/foxx/api/user_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

Checkpoint
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

updated versions for release
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Trigger rebuild
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Fix Version month
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Adjust deployment version number
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Update Version.cmake
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[Release] February 2025 (#1352)
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[RELEASE] v2025.4.7.15.30
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Add .venv/ to gitignore (#1335)
  .gitignore
Due: retag-image

Revert "[RELEASE] v2025.4.7.15.30"
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

Checkpoint
  core/database/foxx/api/user_router.js
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-foxx

updated requirements
  python/datafed_pkg/requirements.txt
Due: retag-image

Checkpoint
  CMakeLists.txt
  common/source/CipherEngine.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/DataFedOAuthToken.js
  core/database/foxx/api/models/user.js
  core/database/foxx/tests/user_model.test.js
  core/server/DatabaseAPI.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Checkpoint
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Refactored CipherEnginer and Util due to duplicate code, and removed test_KeyGen and consolidated it into the cipherEngine test, changed genEncryptKey to static
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/source/Util.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_CipherEngine.cpp
  common/tests/unit/test_KeyGeneration.cpp
  core/server/main.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

update unit test ci version
  .github/workflows/unit-tests.yml
Due: retag-image

[DAPS-1356] Address router moves
  core/database/CMakeLists.txt
  core/database/foxx/api/tasks.js
  core/database/foxx/test/test_record_move.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Update record creating
  core/database/foxx/api/record.js
Due: build-core, retag-image, build-foxx

[DAPS-1378] Commands
  python/datafed_pkg/datafed/CommandLib.py
Due: retag-image

[DAPS-1351] Update record
  core/database/foxx/api/record.js
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Update pathing and add temp location
  core/database/foxx/api/record.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] path consistency check update
  core/database/foxx/api/record.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Update token
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Token type
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Task space
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Add debug logging
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1351] Add record checking
  core/database/foxx/api/record.js
Due: build-core, retag-image, build-foxx
