Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

[DAPS-1515] Add tests
  core/database/CMakeLists.txt
  core/database/foxx/tests/helpers/api-adapters.js
  core/database/foxx/tests/helpers/test-setup.js
  core/database/foxx/tests/repo.test.js
  core/database/foxx/tests/repository.test.js
  core/database/foxx/tests/repository_types.test.js
  core/database/foxx/tests/test-fixtures.js
  core/database/foxx/tests/test-helpers.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Update repo.js
  core/database/foxx/api/repo.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Readd test
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image, build-foxx

WhateverIwant
  common/include/common/CipherEngine.hpp
  common/include/common/libjson.hpp
  common/source/CipherEngine.cpp
  common/source/Util.cpp
  core/docker/Dockerfile
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/GlobusAPI.cpp
  core/server/TaskWorker.cpp
  core/server/tests/unit/test_AuthMap.cpp
  core/server/tests/unit/test_AuthenticationManager.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Austin remove dead code (#1526)
  tests/end-to-end/setup.sh
Due: retag-image

fix: Added appropriate move to AuthenticationManager
  core/server/AuthenticationManager.cpp
Due: build-core, retag-image

fix: Added appropriate move to AuthenticationManager (#1548)
  core/server/AuthenticationManager.cpp
Due: build-core, retag-image

Debugging
  common/source/Util.cpp
  core/database/foxx/api/tasks.js
  core/docker/Dockerfile
  core/server/AuthMap.cpp
  core/server/AuthenticationManager.cpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskMgr.cpp
  core/server/TaskWorker.cpp
  scripts/compose_build_images.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add quotes to handle multi-line args
  compose/all/generate_env.sh
Due: retag-image

Fix: fixed the usage of userGetAccessToken in order to better check for the edge cases involving corrupt user fields
  common/source/CipherEngine.cpp
  core/docker/Dockerfile
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

style:Finializing and debugging the final stages... run into big memory issues
  common/include/common/libjson.hpp
  common/source/CipherEngine.cpp
  core/docker/Dockerfile
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/GlobusAPI.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1529] Rework generate env script (#1545)
  compose/all/generate_env.sh
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: Fixed freeing issues that caused race conditions and aborts.
  core/server/GlobusAPI.cpp
Due: build-core, retag-image

fix:Fixed the double free issue within the GlobusAPI constructor and deconstructor
  core/server/GlobusAPI.cpp
Due: build-core, retag-image

Add log output for discovering inconsistency
  common/source/operators/AuthenticationOperator.cpp
  core/server/ClientWorker.cpp
  core/server/Condition.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

style:removed unnecessary logging
  core/server/ClientWorker.cpp
  core/server/GlobusAPI.cpp
Due: build-core, retag-image

fix: fix promotion
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/ClientWorker.cpp
  core/server/Condition.cpp
  core/server/tests/unit/test_AuthMap.cpp
Due: build-core, retag-image

fix: promotion logic in promotion core service condition (#1552)
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/ClientWorker.cpp
  core/server/Condition.cpp
  core/server/tests/unit/test_AuthMap.cpp
Due: build-core, retag-image

refactor - fix exception messages in resetKey, setAccessCount, getAccessCount in AuthMap
  core/server/AuthMap.cpp
Due: build-core, retag-image

refactor - fix exception messages in resetKey, setAccessCount, getAccessCount in AuthMap (#1554)
  core/server/AuthMap.cpp
Due: build-core, retag-image

fix: add set -o pipefail to ensure failed curl command correctly cause job failure.
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: addition of --fail flag to curl command to trigger script error propagation.
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Design Pattern Translation: Convert Repository Factory to Rust-Compatible js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Run prettier
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Address comments, DRY++, update tests
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Prettier
  core/database/foxx/api/repo_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Address comments, DRY++, update tests
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Run prettier
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Add validation integration to repo router
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx
