Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

refactor: Refactoered the user_router to have a first pass of standardized logging (needs more testing)
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor:Made final adjustments to logging within user router
  core/database/foxx/api/lib/logger.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

Refactor: Added second pass of logging to user router
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refactor: last minute changes
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

style:Fomratted with prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: replaced undefined with null for appropriate areas; made slight changes to some log output to obfuscate sensitive data
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: First pass of logging within user_router.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

1651 daps bug compose env generator (#1656)
  compose/all/compose.yml
  compose/all/generate_env.sh
  compose/repo/compose.yml
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: add more of Austin's files, such as the CMakeLists.txt in common.
  common/CMakeLists.txt
  common/include/common/Util.hpp
  common/source/Util.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

feat: Add in Austin's Cipher engine code and apply formatting.
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: Fixed spacing within logs; Removed unnecessary logging
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

refactor: Added second pass of logging to query_router.js
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

Added logger.js
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refactor: Added first pass of logging improvements to query_router
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

style:more final changes
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

style: last minute fixes to incorrect logs
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

style: fixed logger
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refactor: remove all scripts related to dependencies from DataFed repo
  .github/workflows/build-docs.yml
  .github/workflows/unit-tests.yml
  .gitlab/stage_provision_client.yml
  .gitmodules
  doc_source/source/admin/install_bare_metal.rst
  docs/_sources/admin/general.rst.txt
  docs/admin/general.html
  python/docker/Dockerfile.python-client-base.ubuntu
  scripts/compose_build_images.sh
  scripts/compose_cleanup_globus_files.sh
  scripts/compose_generate_globus_files.sh
  scripts/dependency_install_functions.sh
  scripts/export_dependency_version.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_docker_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_foxx.sh
  scripts/install_gcs.sh
  scripts/install_lego_and_certificates.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws.sh
  scripts/install_ws_dependencies.sh
  scripts/utils.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: recursively clone in github action.
  .github/workflows/unit-tests.yml
Due: retag-image

style: fix yaml formatting.
  .github/workflows/unit-tests.yml
Due: retag-image

refactor: fully refactor containers
  CMakeLists.txt
  cmake/Utils.cmake
  core/docker/Dockerfile
  docker/Dockerfile.foxx
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  scripts/generate_datafed.sh
  scripts/install_foxx.sh
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: remove remaining occurences of zeromq system secret.
  .gitlab/end_to_end.yml
  .gitlab/stage_unit.yml
  compose/all/compose.yml
  compose/metadata/compose.yml
  doc_source/source/admin/install_bare_metal.rst
  doc_source/source/admin/install_docker.rst
  doc_source/source/dev/testing.rst
  docs/_sources/admin/general.rst.txt
  docs/admin/general.html
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
  scripts/generate_ws_config.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1651] bug compose env generator (#1656) (#1658)
  compose/all/compose.yml
  compose/all/generate_env.sh
  compose/repo/compose.yml
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make all submodules clone recursively. (#1645)
  .gitlab-ci.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: First pass of logging in task_router
  core/database/foxx/api/lib/logger.js
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

refactor: Finalized rough first pass of the logging improvements
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx
