Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

refactor: working base class for repository.
  core/database/foxx/api/repositories/base_repository.js
  core/database/foxx/api/repositories/globus.js
  core/database/foxx/api/repositories/metadata.js
  core/database/foxx/api/repositories/repositories.js
  core/database/foxx/api/repositories/types.js
  core/database/foxx/api/repositories/validation.js
  core/database/foxx/tests/base_repository.test.js
Due: build-core, retag-image, build-foxx

refactor: checkpoint commit after restructuring.
  core/database/foxx/api/repositories/base_repository.js
  core/database/foxx/api/repositories/repositories.js
  core/database/foxx/api/repositories/repository/globus.js
  core/database/foxx/api/repositories/repository/metadata.js
  core/database/foxx/api/repositories/types.js
  core/database/foxx/api/repositories/validation.js
Due: build-core, retag-image, build-foxx

refactor: reorganized repositories to models folder.
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/error_codes.js
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/api/repositories/globus.js
  core/database/foxx/api/repositories/metadata.js
  core/database/foxx/tests/repo_factory.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: fix require statements
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

Add scripts to generate creds for web service
  compose/metadata/generate_web_files.sh
  scripts/compose_generate_web_server_globus_credentials.sh
  scripts/globus/generate_web_server_credentials.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1700] - [CI] - fix: limit arangodb job output to last 3 hours. (#1701)
  .gitlab/end_to_end.yml
Due: retag-image

working globus and metadata repositories
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

style: fix formatting
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

Passing factory
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/execution_types.js
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

style: apply formatting.
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

style: cleanup dead functions and comments.
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/models/repositories/validation.js
Due: build-core, retag-image, build-foxx

style: remove console log statements.
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

tests: add missing tests.
  core/database/foxx/tests/repositories.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

style: apply formatting.
  core/database/foxx/api/lib/permissions.js
Due: build-core, retag-image, build-foxx

refactor: replace custom validation with joi
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: expanded the logs for query router; added tests, adjusted cmakelist
  core/database/CMakeLists.txt
  core/database/foxx/api/query_router.js
  core/database/foxx/tests/query_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/query_router.test.js
Due: build-core, retag-image, build-foxx

Normalize credential storage A few adjustments:
  compose/all/generate_globus_files.sh
  compose/metadata/generate_globus_files.sh
  compose/repo/generate_globus_files.sh
  scripts/compose_generate_globus_files.sh
  scripts/compose_generate_web_server_globus_credentials.sh
  scripts/globus/generate_web_server_credentials.py
  scripts/globus/initialize_globus_endpoint.py
  scripts/globus/utils.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Compose globus scripts now exit on bash error
  compose/all/generate_globus_files.sh
  compose/metadata/generate_globus_files.sh
  compose/repo/generate_globus_files.sh
Due: retag-image

feat: integrated repositories factory into repo_router create route.
  core/database/CMakeLists.txt
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/repo_router.test.js
  core/database/foxx/tests/repositories.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: Checkpoint
  core/database/foxx/api/topic_router.js
Due: build-core, retag-image, build-foxx

bug: Added apt update before install to web dockerfile
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

refactor: address review comments.
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repositories.test.js
Due: build-core, retag-image, build-foxx

style: apply formatting
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repositories.test.js
Due: build-core, retag-image, build-foxx

Update web/docker/Dockerfile
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

style: apply formatting.
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/repo_router.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: Address technical debt.
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/api/repo_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1676] Feature - foxx arango add factory for repositories for metadata and globus (#1697)
  core/database/CMakeLists.txt
  core/database/foxx/api/lib/error_codes.js
  core/database/foxx/api/lib/execution_types.js
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/models/repositories/repositories.js
  core/database/foxx/api/models/repositories/repository/globus.js
  core/database/foxx/api/models/repositories/repository/metadata.js
  core/database/foxx/api/models/repositories/types.js
  core/database/foxx/api/models/repositories/validation.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/base_repository.test.js
  core/database/foxx/tests/repo.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/repositories.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

fix: add missing result.js file.
  core/database/foxx/api/lib/result.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/lib/result.js
  core/database/foxx/api/repo_router.js
Due: build-core, retag-image, build-foxx

feature: add schemas for describing tasks and repos
  core/database/foxx/api/schemas/repo.js
  core/database/foxx/api/schemas/response_envelope.js
  core/database/foxx/api/schemas/task.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/schemas/repo.js
  core/database/foxx/api/schemas/response_envelope.js
  core/database/foxx/api/schemas/task.js
Due: build-core, retag-image, build-foxx

merge conflicts addressed and formatting run.
  core/database/foxx/api/models/repositories/repository/globus.js
Due: build-core, retag-image, build-foxx

refactor: allow optional fields when creating repo to support metadata only mode.
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: make path, pub_key, address, endpoint optional in repoCreateRequest
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

fix: typo, repeated placed back in
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

feat: add ExecutionMethod enum, add RepoAllocationCreateResponse
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/topic_router.js
Due: build-core, retag-image, build-foxx

refactor: Final changes to CMakeLists file to add query tests
  core/database/CMakeLists.txt
Due: build-core, retag-image, build-foxx
