Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

[DAPS-1531] Update comments
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Design Pattern Translation: Convert Repository Factory to Rust-Compatible js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Add repository validation logic with tests (#1539)
  core/database/CMakeLists.txt
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

style: Formatted ci scripts (#1584)
  scripts/ci_database_health_check.sh
  scripts/ci_generate_pypirc.sh
  scripts/ci_harbor_artifact_count.sh
  scripts/ci_pipeline_serializer.sh
  scripts/ci_pipeline_setup.sh
  scripts/ci_purge_images.sh
  scripts/ci_setup_web_certs.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style:formatted the admin_get_user_emails.sh with shtmf (#1571)
  scripts/admin_get_user_emails.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Formatted clear_db.sh (#1587)
  scripts/clear_db.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

checkingtesting
  tests/end-to-end/test_api_repo.py
Due: retag-image

Run core server as datafed user not as root user.
  compose/all/compose.yml
  compose/metadata/compose.yml
  core/docker/Dockerfile
  core/docker/entrypoint.sh
Due: build-core, retag-image

refactor: remove system secret from http params.
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

feat: fix group to root group and set strict security options in compose file
  compose/all/compose.yml
  compose/metadata/compose.yml
  core/docker/Dockerfile
Due: build-core, retag-image

style: Removed non helpful logs from tasks.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

docs: update instructions for running datafed-core container.
  doc_source/source/admin/install_docker.rst
Due: retag-image

1596 daps feat support core service openshift (#1600)
  compose/all/compose.yml
  compose/metadata/compose.yml
  core/docker/Dockerfile
  core/docker/entrypoint.sh
  doc_source/source/admin/install_docker.rst
Due: build-core, retag-image

style: Formatted admin_update_config_message.sh (#1583)
  scripts/admin_update_config_message.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Formatted the generate scripts
  scripts/generate_authz_config.sh
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_core_config.sh
  scripts/generate_core_service.sh
  scripts/generate_datafed.sh
  scripts/generate_datafed_backup_script.sh
  scripts/generate_gsi-authz_config.sh
  scripts/generate_repo_config.sh
  scripts/generate_repo_service.sh
  scripts/generate_ws_config.sh
  scripts/generate_ws_service.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Refactor legacy Repo class to integrate new repository patterns
  core/database/foxx/api/repo.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Address comments
  core/database/foxx/api/repo.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Enhance endpoints with repository type system integration
  core/database/foxx/api/data_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Readd globus and metadata
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Run prettier
  core/database/foxx/api/data_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Make usage of globus and metadata files
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1516] Default Repository Type Field to Globus
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/tests/operations.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1516] Address comments
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/tests/operations.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1517] Update c++ to support type fields
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  core/server/DatabaseAPI.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: Fixed the initialization fo the timeouts within the end to end tests
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_record.py
Due: retag-image

refactor: remove system secret from http params. (#1597)
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

[DAPS-1568] Formatted generate scripts (#1591)
  scripts/generate_authz_config.sh
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_core_config.sh
  scripts/generate_core_service.sh
  scripts/generate_datafed.sh
  scripts/generate_datafed_backup_script.sh
  scripts/generate_gsi-authz_config.sh
  scripts/generate_repo_config.sh
  scripts/generate_repo_service.sh
  scripts/generate_ws_config.sh
  scripts/generate_ws_service.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style:formatted tasks.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
