Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

fix: fix cmake copy command for requirements.txt
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  python/datafed_pkg/scripts/fix_proto_imports.sh
Due: retag-image

[DAPS-1850] - refactor web server proto3 (#1852)
  CMakeLists.txt
  docker/Dockerfile.runtime
  web/datafed-ws.js
  web/docker/Dockerfile
  web/static/api.js
  web/version.js.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1848] - refactor: update authz files to use proto3. (#1851)
  CMakeLists.txt
  docker/Dockerfile.runtime
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Version.hpp.in
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  web/datafed-ws.js
  web/docker/Dockerfile
  web/static/api.js
  web/version.js.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1847] - refactor: python package to be compatible with proto3 envelope (#1849)
  CMakeLists.txt
  docker/Dockerfile.runtime
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CMakeLists.txt
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VERSION.py.in
  python/datafed_pkg/scripts/fix_proto_imports.sh
  python/datafed_pkg/setup.py
  python/datafed_pkg/test/security.py
  python/pyproto_add_msg_idx.py
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Version.hpp.in
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  web/datafed-ws.js
  web/docker/Dockerfile
  web/static/api.js
  web/version.js.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1845] - refactor repo server to use proto3 (#1846)
  CMakeLists.txt
  docker/Dockerfile.runtime
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CMakeLists.txt
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VERSION.py.in
  python/datafed_pkg/scripts/fix_proto_imports.sh
  python/datafed_pkg/setup.py
  python/datafed_pkg/test/security.py
  python/pyproto_add_msg_idx.py
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Version.hpp.in
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  repository/server/Config.hpp
  repository/server/RepoServer.cpp
  repository/server/RequestWorker.cpp
  repository/server/Version.hpp.in
  repository/server/main.cpp
  web/datafed-ws.js
  web/docker/Dockerfile
  web/static/api.js
  web/version.js.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1837] - refactor: core server to support proto3 (#1844)
  CMakeLists.txt
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/Config.hpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/GlobusAPI.cpp
  core/server/GlobusAPI.hpp
  core/server/TaskMgr.cpp
  core/server/TaskMgr.hpp
  core/server/TaskWorker.cpp
  core/server/Version.hpp.in
  core/server/main.cpp
  core/server/tests/unit/test_DatabaseAPI.cpp
  docker/Dockerfile.runtime
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CMakeLists.txt
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VERSION.py.in
  python/datafed_pkg/scripts/fix_proto_imports.sh
  python/datafed_pkg/setup.py
  python/datafed_pkg/test/security.py
  python/pyproto_add_msg_idx.py
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Version.hpp.in
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  repository/server/Config.hpp
  repository/server/RepoServer.cpp
  repository/server/RequestWorker.cpp
  repository/server/Version.hpp.in
  repository/server/main.cpp
  web/datafed-ws.js
  web/docker/Dockerfile
  web/static/api.js
  web/version.js.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: pin eslint in github workflow.
  .github/workflows/javascript-lint.yml
Due: retag-image

refactor: remove all proto files.
  common/proto/common/CMakeLists.txt
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Anon.proto
  common/proto/common/SDMS_Auth.proto
  common/proto/common/Version.proto.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

docs: add comments to fix_proto_imports.sh script
  python/datafed_pkg/scripts/fix_proto_imports.sh
Due: retag-image

fixed gcs build job
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
Due: retag-image

refactor: encapsulate json schema validator behind interface and add unit test
  core/server/CMakeLists.txt
  core/server/ISchemaValidator.hpp
  core/server/schema_validators/JsonSchemaValidator.cpp
  core/server/schema_validators/JsonSchemaValidator.hpp
  core/server/tests/unit/CMakeLists.txt
Due: build-core, retag-image

refactor: core server files refactored to support re-use in the mock implementation
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/ICoreServer.hpp
Due: build-core, retag-image

refactor: changed mock core server to work with proto3 and reusue abstractions from core server.
  tests/mock/test_getVersion.cpp
  tests/mock_core/AuthMap.cpp
  tests/mock_core/AuthMap.hpp
  tests/mock_core/AuthenticationManager.cpp
  tests/mock_core/AuthenticationManager.hpp
  tests/mock_core/CMakeLists.txt
  tests/mock_core/ClientWorker.cpp
  tests/mock_core/ClientWorker.hpp
  tests/mock_core/Condition.cpp
  tests/mock_core/Condition.hpp
  tests/mock_core/Config.hpp
  tests/mock_core/IMockCoreServer.hpp
  tests/mock_core/MockCoreServer.cpp
  tests/mock_core/MockCoreServer.hpp
  tests/mock_core/PublicKeyTypes.hpp
  tests/mock_core/Version.hpp.in
  tests/mock_core/main.cpp
Due: retag-image

feature: support schema functions, to hit feature parity with web server.
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  tests/end-to-end/CMakeLists.txt
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_schema.py
Due: retag-image

fix: prevent defaults being set to undefined, and interpret numbers and enums as strings.
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fixed proto3 version conversion
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: prevent defaults being set to undefined, and interpret numbers a… (#1861)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: record allocation change
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

fixed missed merge conflict
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: prevent defaults being set to undefined, and interpret numbers a… (#1861) (#1866)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: use existing error codes in posix_path
  core/database/foxx/api/posix_path.js
Due: build-core, retag-image, build-foxx

fix: version numbers from proto3 messages follow camel case.
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: version numbers from proto3 messages follow camel case. (#1868)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

Update Staging (#1869)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: authx_router, don't throw on difference between repo and path is always used anyway.
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

docs: fix jsdoc error.
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: throw error on non matching repo for authz request.
  core/database/foxx/api/authz_router.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

fix: keep record isPathConsistent method consistent with expected behavior.
  core/database/foxx/api/record.js
Due: build-core, retag-image, build-foxx

fix: small typo in test.
  core/database/foxx/tests/record.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/record.js
Due: build-core, retag-image, build-foxx
