Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

[DAPS-1277] - fix: mock, core, common, PROXY_BASIC_ZMQ and PROXY_CUSTOM correctly defined
  common/source/ServerFactory.cpp
  core/server/CoreServer.cpp
  tests/mock_core/MockCoreServer.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

CHECKPOINT
  core/database/foxx/api/coll_router.js
Due: build-core, retag-image, build-foxx

refactor: First pass of logging improvements (TESTS NOT FINISHED)
  core/database/CMakeLists.txt
  core/database/foxx/api/coll_router.js
  core/database/foxx/tests/coll_router.test.js
Due: build-core, retag-image, build-foxx

refactor: metrics_rotuer final pass (MORE TESTS REQUIRED)
  core/database/CMakeLists.txt
  core/database/foxx/api/metrics_router.js
  core/database/foxx/tests/metrics_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Final pass for topic router (NEEDS QOL)
  core/database/CMakeLists.txt
  core/database/foxx/api/topic_router.js
  core/database/foxx/tests/topic_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/topic_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1774] - Core, Python, Database, Foxx, Test add query end to end tests (#1779)
  CMakeLists.txt
  common/source/ServerFactory.cpp
  common/source/communicators/ZeroMQCommunicator.cpp
  core/database/foxx/api/query_router.js
  core/server/CoreServer.cpp
  core/server/DatabaseAPI.cpp
  tests/end-to-end/CMakeLists.txt
  tests/end-to-end/test_api_query.py
  tests/mock_core/MockCoreServer.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor:Final pass for testing metrics_router (NEEDS QOL)
  core/database/foxx/api/metrics_router.js
  core/database/foxx/tests/metrics_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/metrics_router.js
  core/database/foxx/tests/metrics_router.test.js
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

refactor: Final pass of note_router (QOL Needed)
  core/database/CMakeLists.txt
  core/database/foxx/api/note_router.js
  core/database/foxx/tests/note_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Final pass for group_router testing (Needs QOL)
  core/database/CMakeLists.txt
  core/database/foxx/api/group_router.js
  core/database/foxx/tests/group_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/group_router.js
  core/database/foxx/tests/group_router.test.js
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

refactor: Final pass to group_router
  core/database/foxx/api/group_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/group_router.js
Due: build-core, retag-image, build-foxx

refactor: final pass for logging improvements to metrics_router
  core/database/foxx/api/metrics_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/metrics_router.js
Due: build-core, retag-image, build-foxx

refactor: Final pass of logging improvements
  core/database/foxx/api/group_router.js
Due: build-core, retag-image, build-foxx

Refactor tearDown method and restore queryDelete call in end-to-end query test
  tests/end-to-end/test_api_query.py
Due: retag-image

debug api_query test.
  tests/end-to-end/test_api_query.py
Due: retag-image

local working version, ci test
  .gitlab-ci.yml
  .gitlab/stage_build.yml
  .gitlab/stage_deploy_pypi.yml
  .gitlab/stage_image_check.yml
  CMakeLists.txt
  python/datafed_pkg/docker/Dockerfile
  scripts/build_python_package.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fixed ci job and gitignore
  .gitignore
  .gitlab/build/build_python_client_image.yml
  .gitlab/build/force_build_python_client_image.yml
  .gitlab/stage_image_check.yml
Due: retag-image

fix: syntax error in print statement.
  tests/end-to-end/test_api_query.py
Due: retag-image

refactor: Final pass with all reviewed changes
  core/database/foxx/api/group_router.js
Due: build-core, retag-image, build-foxx

refactor: adjust test to account for randomly generated state value.
  web/test/api.test.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: oauth state create random value.
  web/static/api.js
Due: retag-image, build-foxx, build-repo, build-ws

test: remove _default from test
  web/test/api.test.js
Due: retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
  web/static/api.js
  web/test/api.test.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: address cherry-pick conflict, move mock_core source code to separate folder and create docker folder and files.
  tests/mock_core/CMakeLists.txt
  tests/mock_core/Version.hpp.in
  tests/mock_core/docker/Dockerfile
  tests/mock_core/docker/entrypoint.sh
  tests/mock_core/source/AuthMap.cpp
  tests/mock_core/source/AuthMap.hpp
  tests/mock_core/source/AuthenticationManager.cpp
  tests/mock_core/source/AuthenticationManager.hpp
  tests/mock_core/source/CMakeLists.txt
  tests/mock_core/source/ClientWorker.cpp
  tests/mock_core/source/ClientWorker.hpp
  tests/mock_core/source/Condition.cpp
  tests/mock_core/source/Condition.hpp
  tests/mock_core/source/Config.cpp
  tests/mock_core/source/Config.hpp
  tests/mock_core/source/IMockCoreServer.hpp
  tests/mock_core/source/MockCoreServer.cpp
  tests/mock_core/source/MockCoreServer.hpp
  tests/mock_core/source/MockGlobals.cpp
  tests/mock_core/source/MockGlobals.hpp
  tests/mock_core/source/PublicKeyTypes.hpp
  tests/mock_core/source/Version.hpp.in
  tests/mock_core/source/main.cpp
Due: retag-image

refactor: add integration tests with mock_core server.
  python/datafed_pkg/tests/integration/CMakeLists.txt
  python/datafed_pkg/tests/integration/mock_defaults.py
  python/datafed_pkg/tests/integration/test_CommandLib.py
  python/datafed_pkg/tests/integration/test_MessageLib.py
  python/datafed_pkg/tests/legacy/Test_EndToEnd.py
  python/datafed_pkg/tests/legacy/Test_ObjectReturn.py
  python/datafed_pkg/tests/legacy/data_gen.py
  python/datafed_pkg/tests/legacy/security.py
Due: retag-image

refactor: address conflicts.
  python/datafed_pkg/tests/Test_EndToEnd.py
  python/datafed_pkg/tests/Test_ObjectReturn.py
  python/datafed_pkg/tests/data_gen.py
  python/datafed_pkg/tests/security.py
Due: retag-image

refactor: add Dockerfile for mock
  CMakeLists.txt
  core/server/ClientWorker.cpp
  python/datafed_pkg/tests/integration/test_CommandLib.py
  python/datafed_pkg/tests/integration/test_MessageLib.py
  scripts/install_mock_core.sh
  tests/CMakeLists.txt
  tests/mock/CMakeLists.txt
  tests/mock/mock_start.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

feature: add mock core to ci pipeline build.
  .gitlab/build/build_core_mock_image.yml
  .gitlab/build/force_build_core_mock_image.yml
  .gitlab/stage_build.yml
  .gitlab/stage_image_check.yml
Due: retag-image

feature: working integration tests integrated into CMake and mock docker core server working.
  CMakeLists.txt
  doc_source/source/dev/testing.rst
  python/datafed_pkg/CMakeLists.txt
  tests/CMakeLists.txt
  tests/mock/test_getVersion.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: formatting of yaml file.
  .gitlab/stage_build.yml
Due: retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
