Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

[DAPS-1934] - refactor: remove unneeded packages. (#1935)
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

fix: hot fix to authz.
  core/database/foxx/api/authz.js
Due: build-core, retag-image, build-foxx

fix: make pipeline check more resilient, and bump version numbers.
  .gitlab/build/force_build_dependencies_image.yml
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

refactor: clean out corrupt cache - check.
  .gitlab/end_to_end.yml
Due: retag-image

refactor: update playwright package lock.
  tests/end-to-end/web-UI/package-lock.json
Due: retag-image

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/version_router.test.js
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/ace.js
  web/static/ace/ext-emmet.js
  web/static/ace/ext-language_tools.js
  web/static/ace/keybinding-vim.js
  web/static/ace/worker-coffee.js
  web/static/ace/worker-css.js
  web/static/ace/worker-html.js
  web/static/ace/worker-javascript.js
  web/static/ace/worker-json.js
  web/static/ace/worker-lua.js
  web/static/ace/worker-php.js
  web/static/ace/worker-xml.js
  web/static/ace/worker-xquery.js
  web/static/jquery/jquery.js
  web/static/tag/tag-it.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

[DAPS-1937] - release: 5.1.3
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/end_to_end.yml
  cmake/Version.cmake
  core/database/foxx/api/authz.js
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/version_router.test.js
  docs/_static/js/html5shiv-printshiv.min.js
  tests/end-to-end/web-UI/package-lock.json
  web/static/ace/ace.js
  web/static/ace/ext-emmet.js
  web/static/ace/ext-language_tools.js
  web/static/ace/keybinding-vim.js
  web/static/ace/worker-coffee.js
  web/static/ace/worker-css.js
  web/static/ace/worker-html.js
  web/static/ace/worker-javascript.js
  web/static/ace/worker-json.js
  web/static/ace/worker-lua.js
  web/static/ace/worker-php.js
  web/static/ace/worker-xml.js
  web/static/ace/worker-xquery.js
  web/static/jquery/jquery.js
  web/static/tag/tag-it.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: cleanup log output and dummy passwd value.
  core/database/foxx/passwd.file
  web/datafed-ws.js
Due: build-core, retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: move query string to request body.
  web/datafed-ws.js
  web/static/api.js
Due: retag-image, build-foxx, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
