Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Readd globus and metadata
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1517] Add tests for repository type handling and skip repoUpdate test if unsupported
  tests/end-to-end/test_api_repo.py
Due: retag-image

[DAPS-1531] Init
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
Due: build-core, retag-image, build-foxx

[DAPS-1517] Re
  core/database/foxx/api/repository/validation.js
  core/database/foxx/api/support.js
  python/datafed_pkg/datafed/CLI.py
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
Due: build-core, retag-image, build-foxx

[DAPS-1517] Update c++ to support type fields
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  core/server/DatabaseAPI.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1513] Design Pattern Translation: Convert Repository Factory to Rust-Compatible js
  core/database/foxx/api/repository/example.js
Due: build-core, retag-image, build-foxx

[DAPS-1517] Correct type import
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/example.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1519] Update SDK, add tests (#1604)
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/test/Test_RepositoryTypes.py
Due: retag-image

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/repository/validation.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

bug: Fixed permission handling within dockerfile.foxx (#1621)
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix(install_foxx): remove ssl_args not valid
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: Refactoered the user_router to have a first pass of standardized logging (needs more testing)
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

style:Fomratted with prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: changed correlation id within logs to use req.headers['x-correlation-id'] instead of just having placeholder text
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

fix: remove unneeded comments.
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

feat: first attempt at adding support for downstream build of datafed dependencies image.
  .gitlab/build/build_dependencies_image.yml
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/stage_image_check.yml
  .gitmodules
Due: retag-image

fix: swap out GITLAB_TOKEN with CI_JOB_TOKEN
  .gitlab/build/build_dependencies_image.yml
Due: retag-image

refactor: switch regular dependency build job to trigger job.
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
Due: retag-image

refactor: move base image check to separate stage and file.
  .gitlab/stage_base_image_check.yml
Due: retag-image

refactor: add .gitlab-ci.yml and stage_image_check.yml files.
  .gitlab-ci.yml
  .gitlab/stage_image_check.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: build-dependencies jobs.
  .gitlab/build/build_dependencies_image.yml
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: create custom script for base image check job.
  .gitlab/stage_base_image_check.yml
Due: retag-image

refactor: add echo to provide context.
  .gitlab/stage_base_image_check.yml
Due: retag-image

fix: remove leading - if one is present in commit sha
  .gitlab/stage_base_image_check.yml
Due: retag-image

additional changes for the device auth api
  .gitignore
  crates/core-api/src/metrics.rs
  crates/core-api/src/services/device_auth/mod.rs
  crates/core-api/src/services/device_auth/models.rs
  crates/core-api/src/services/device_auth/router.rs
  crates/core-api/src/services/mod.rs
  crates/core-api/src/services/router.rs
Due: retag-image

Individual docker scripts (#1329)
  scripts/generate_datafed.sh
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: First pass of logging within user_router.js
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: last minute changes
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: remove docker/Dockerfile.dependencies and rely on submodule for dependencies, update compose_build_images.sh to use submodule.
  docker/Dockerfile.dependencies
  scripts/compose_build_images.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1517] Add debug
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx
