Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

refactor: metricsUpdateMsgCounts and newJsonMetricParse methods.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

test: add database api test for newJson parse method.
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

refactor: improve echo statement related to build dependencies.
  .gitlab/build/build_dependencies_image.yml
Due: retag-image

refactor: cleanup commented out code.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: remove common from foxx docker container build, it should not be needed.
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: add back in force build logic for dependencies image.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

[DAPS-1625] Pr comments 2/2
  core/server/AuthMap.cpp
Due: build-core, retag-image

refactor: change name of build_dependencies_job to skip_build_dependencies_job inline with what it actually does.
  .gitlab/build/skip_build_dependencies_image.yml
  .gitlab/stage_base_image_check.yml
Due: retag-image

refactor: removed change directory commands that were not doing anything.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

feat: add test_DatabaseAPI test to core server CMakeLists.txt
  core/server/tests/unit/CMakeLists.txt
Due: build-core, retag-image

refactor: remove common from Dockerfile.foxx
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: Added second pass of logging to query_router.js
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

Individual docker scripts (#1329)
  scripts/generate_datafed.sh
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: add missing LD_LIBRARY_PATH before curl command in install_foxx.sh script.
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: update docker/Dockerfile.gcs to copy updated crypto and ssl libraries.
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

fix: avoid clearing non persistent keys, they are purged at a regular time interval already in the purge condition.
  core/server/Config.cpp
Due: build-core, retag-image

refactor: correct thread locks on migration method.
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
Due: build-core, retag-image

docs: add additional documentation about lock guard order.
  core/server/AuthMap.hpp
Due: build-core, retag-image

tests: add unit tests for migrate method in AuthMap.
  core/server/tests/unit/test_AuthMap.cpp
Due: build-core, retag-image

debug: downstream pipeline
  .gitlab/stage_base_image_check.yml
Due: retag-image

fix: uncomment trigger code.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

[TASK] Correct 2 spaces to 4 for YML
  .github/workflows/apply-formatting.yml
  .github/workflows/build-docs.yml
  .github/workflows/format-check.yml
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/jupyternotebook-lint.yml
  .github/workflows/unit-tests.yml
  .gitlab-ci.yml
  .gitlab/build_ci_infrastructure.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/infrastructure.yml
  .gitlab/skip_ci_infrastructure.yml
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
  .gitlab/stage_clear_cache.yml
  .gitlab/stage_image_check.yml
  .gitlab/stage_pipeline_serialize.yml
  .gitlab/stage_provision_client.yml
  .gitlab/stage_test.yml
  .gitlab/stage_unit.yml
  compose/all/compose.yml
  compose/metadata/compose.yml
  compose/repo/compose.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

start and poll methods
  .gitignore
  AppSettings.toml
  Cargo.lock
  compose/all/compose.yml
  crates/core-api/Cargo.toml
  crates/core-api/src/app_config.rs
  crates/core-api/src/errors.rs
  crates/core-api/src/lib.rs
  crates/core-api/src/router.rs
  crates/core-api/src/services/device_auth/models.rs
  crates/core-api/src/services/device_auth/router.rs
  crates/core-api/src/state.rs
  src/core.rs
Due: retag-image

Added logger.js
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

refactor: adjust dependencies job, to wait for pipeline to finish before continuing
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: use an access token in place of a CI_JOB_TOKEN
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

fix: compiler errors in AuthMap.cpp
  core/server/AuthMap.cpp
Due: build-core, retag-image

[DAPS-1630] - Bug core metrics update (#1632)
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

Correct ServerFactory by instantiating correct class
  common/source/ServerFactory.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

initial version of the validate endpoint
  Cargo.lock
  crates/core-api/Cargo.toml
  crates/core-api/src/services/device_auth/models.rs
  crates/core-api/src/services/device_auth/router.rs
  crates/core-api/src/state.rs
Due: retag-image

[DAPS-1609] Move dependency build to submodule (#1624)
  .gitignore
  .gitlab-ci.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/skip_build_dependencies_image.yml
  .gitlab/common.yml
  .gitlab/stage_base_image_check.yml
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
  .gitmodules
  core/docker/Dockerfile
  docker/Dockerfile.dependencies
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  scripts/compose_build_images.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make all submodules clone recursively.
  .gitlab-ci.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
