Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

refactor: make timeouts more robust and configurable.
  tests/end-to-end/web-UI/playwright.config.js
Due: retag-image

refactor: attempt to make login process more robust.
  tests/end-to-end/web-UI/auth.setup.js.in
Due: retag-image

refactor: fix redundant step number.
  tests/end-to-end/web-UI/auth.setup.js.in
Due: retag-image

chore: Auto-format JavaScript files with Prettier
  tests/end-to-end/web-UI/playwright.config.js
Due: retag-image

refactor: adjust validation.js swap g_lib with error_code require rem… (#1691)
  core/database/CMakeLists.txt
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: switch crypto and libssl numbers to 3 inline with actual dependencies.
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

[DAPS-1692] - CI, End-to-end web tests, fix flaky test (#1693)
  tests/end-to-end/web-UI/auth.setup.js.in
  tests/end-to-end/web-UI/playwright.config.js
Due: retag-image

refactor: move permissions functions from support.js to lib/permissions
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/admin_router.js
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/support.js
Due: build-core, retag-image, build-foxx

refactor: refactored the data router logging, first pass
  core/database/CMakeLists.txt
  core/database/foxx/api/data_router.js
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/data_router.js
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1694] refactor - Foxx move permissions functions from support.js to lib/permissions (#1695)
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/admin_router.js
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/authz_router.test.js
Due: build-core, retag-image, build-foxx

refactor: adjusted the tests
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

refactor: removed unnecessary test
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

Apply suggestions from code review
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

style: fix yaml formatting.
  compose/all/compose.yml
  compose/metadata/compose.yml
Due: retag-image

refactor: checkpoint into supporting metadata and globus repositories.
  core/database/CMakeLists.txt
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/repo.test.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1685] Feature compose enable arangodb ssl (#1687)
  CMakeLists.txt
  compose/README.md
  compose/all/compose.yml
  compose/metadata/compose.yml
  compose/metadata/generate_env.sh
  doc_source/source/admin/install_docker.rst
  scripts/compose_generate_env.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: change reliance of metadata.js from g_lib to permissions require
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

tests: add working test for repo_metadata.test.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

refactor: final changes to tests and logging
  core/database/foxx/api/task_router.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

refactor: check for client before accessing is_admin member.
  core/database/foxx/api/lib/permissions.js
Due: build-core, retag-image, build-foxx

refactor: add description of expected inputs.
  core/database/foxx/api/repository/globus.js
Due: build-core, retag-image, build-foxx

refactor: add more checks for errors.
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

feat: add validatePartialGlobusAllocationParams
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

fix: globus repo tests.
  core/database/foxx/tests/repo_globus.test.js
Due: build-core, retag-image, build-foxx

style: apply formatting.
  core/database/foxx/api/lib/permissions.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/repo_globus.test.js
  core/database/foxx/tests/repo_metadata.test.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

tests: add repo factory tests.
  core/database/CMakeLists.txt
  core/database/foxx/api/repository/factory.js
  core/database/foxx/tests/repo_factory.js
Due: build-core, retag-image, build-foxx

fix: address ai review feedback.
  core/database/CMakeLists.txt
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/tests/repo_factory.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/tests/repo_factory.js
Due: build-core, retag-image, build-foxx

refactor: Final pass of task_router's logging improvements
  core/database/CMakeLists.txt
  core/database/foxx/api/task_router.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/task_router.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

fix: limit arangodb job output to last 3 hours.
  .gitlab/end_to_end.yml
Due: retag-image

refactor: pull in Aaron's operations file.
  core/database/foxx/api/repository/operations.js
Due: build-core, retag-image, build-foxx

refactor: change name of operations to abstract repository.
  core/database/foxx/api/repository/abstract_repository.js
Due: build-core, retag-image, build-foxx

transition to factory pattern
  core/database/foxx/api/repository/abstract_repository.js
  core/database/foxx/api/repository/base_repository.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/tests/repo_metadata.test.js
Due: build-core, retag-image, build-foxx

refactor: adjusted output of logging on /run
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx
