Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

chore: Auto-format shell scripts with shfmt
  core/server/tests/integration/start_test_arango.sh
Due: build-core, retag-image

update: leave integration tests off in core build for now.
  core/docker/Dockerfile
Due: build-core, retag-image

fix: uncomment commented out code block.
  core/server/tests/integration/stop_test_arango.sh
Due: build-core, retag-image

style: fix javascript formatting.
  web/static/dlg_schema.js
  web/static/dlg_schema_list.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1916] - tests add integration test for schema client handler to cmake (#1918)
  core/database/foxx/api/schema_router.js
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_test_arango.sh
  core/server/tests/integration/stop_test_arango.sh
  core/server/tests/integration/test_SchemaHandler.cpp
  scripts/compose_build_images.sh
  tests/mock/CMakeLists.txt
  web/static/dlg_schema.js
  web/static/dlg_schema_list.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: fix CMakeLists.txt in tests to handle separate Json and LinkML client handler tests.
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/test_SchemaHandlerJson.cpp
  core/server/tests/integration/test_SchemaHandlerLinkML.cpp
Due: build-core, retag-image

refactor: change default mock schema port to 4011 to avoid conflict with docker proxy.
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_mock_schema.sh
  core/server/tests/integration/test_SchemaAPIClient.cpp
Due: build-core, retag-image

fix: add and fix integration of linkml schema handler.
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/schema_validators/ExternalSchemaValidator.hpp
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_mock_schema.sh
  core/server/tests/integration/test_SchemaHandlerJson.cpp
  core/server/tests/integration/test_SchemaHandlerLinkML.cpp
Due: build-core, retag-image

chore: Auto-format shell scripts with shfmt
  core/server/tests/integration/start_mock_schema.sh
Due: build-core, retag-image

fix: account for missing json-schema.
  core/server/DatabaseAPI.cpp
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

[DAPS-1912] - refactor: register linkml storage engine with schema handler (#1912)
  core/server/ClientWorker.cpp
  core/server/Config.hpp
  core/server/DatabaseAPI.cpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
  core/server/schema_validators/ExternalSchemaValidator.hpp
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_mock_schema.sh
  core/server/tests/integration/test_SchemaAPIClient.cpp
  core/server/tests/integration/test_SchemaHandlerJson.cpp
  core/server/tests/integration/test_SchemaHandlerLinkML.cpp
Due: build-core, retag-image

refactor: gracefully handle linkml schema errors.
  core/server/SchemaAPIClient.cpp
Due: build-core, retag-image

refactor: add linkml schemaservice configuration.
  core/server/main.cpp
Due: build-core, retag-image

refactor: constrain metadata format to json because it is compatible with linkml.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

refactor: add configuration support for schema service in startup configuration scripts.
  scripts/generate_core_config.sh
  scripts/generate_datafed.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: add support for schema format and type to python commands
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
Due: retag-image

feat: add linkml support to web server.
  web/static/dlg_data_new_edit.js
  web/static/dlg_schema.js
Due: retag-image, build-foxx, build-repo, build-ws

tests: add support for linkml in python client.
  tests/end-to-end/test_api_schema.py
Due: retag-image

chore: Auto-format JavaScript files with Prettier
  web/static/dlg_schema.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1919] - python, web support linkml schema (#1921)
  core/server/SchemaAPIClient.cpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/main.cpp
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  scripts/generate_core_config.sh
  scripts/generate_datafed.sh
  web/static/dlg_data_new_edit.js
  web/static/dlg_schema.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

update: version numbers bumped.
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

style: make jsdoc happy
  web/static/dlg_schema.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1923] - update: version numbers bumped. (#1923)
  cmake/Version.cmake
  web/static/dlg_schema.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Release Version bump devel (#1924)
  cmake/Version.cmake
  core/server/ClientWorker.cpp
  core/server/Config.hpp
  core/server/DatabaseAPI.cpp
  core/server/SchemaAPIClient.cpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/main.cpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
  core/server/schema_validators/ExternalSchemaValidator.hpp
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_mock_schema.sh
  core/server/tests/integration/test_SchemaAPIClient.cpp
  core/server/tests/integration/test_SchemaHandlerJson.cpp
  core/server/tests/integration/test_SchemaHandlerLinkML.cpp
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  scripts/generate_core_config.sh
  scripts/generate_datafed.sh
  web/static/dlg_data_new_edit.js
  web/static/dlg_schema.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make version number id consistent.
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1925] - fix: make version number id consistent. (#1926)
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

release: update version numbers.
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[DAPS-1920] - release: v5.1.1
  cmake/Version.cmake
  web/datafed-ws.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: foxx schema search ids
  cmake/Version.cmake
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[DAPS-1929] - fix: foxx schema search ids (#1930)
  cmake/Version.cmake
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

[DAPS-1929] - release: v5.1.2
  cmake/Version.cmake
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

chore: Auto-format JavaScript files with Prettier
  docs/_static/js/html5shiv-printshiv.min.js
  web/static/ace/worker-coffee.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: remove unneeded packages.
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

refactor: remove copy that does nothing.
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws
