Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

refactor: added log_context to uidByPubKey function
  core/server/AuthMap.cpp
Due: build-core, retag-image

refactor: json error class consolidated.
  core/server/SchemaAPIClient.cpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/schema_validators/JsonSchemaValidator.cpp
  core/server/schema_validators/JsonSchemaValidator.hpp
Due: build-core, retag-image

feat: add api_key to config for schema client config.
  core/server/SchemaAPIConfig.hpp
Due: build-core, retag-image

[DAPS-1663] Adding LogContext to dbGetRaw, Correlation_ID to dbMaintenance, metricThread and task_worker (#1885)
  common/include/common/IAuthenticationManager.hpp
  common/source/operators/AuthenticationOperator.cpp
  common/tests/unit/test_OperatorFactory.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Condition.cpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/TaskMgr.cpp
  core/server/TaskWorker.cpp
  core/server/tests/unit/test_AuthMap.cpp
  core/server/tests/unit/test_AuthenticationManager.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: mock_core server build (#1890)
  tests/CMakeLists.txt
  tests/mock_core/ClientWorker.cpp
  tests/mock_core/Version.hpp.in
Due: retag-image

[DAPS-1887] - refactor: facility fuse, remove dead code. (#1888)
  repository/filesys/CMakeLists.txt
  repository/filesys/fusemain.cpp
Due: retag-image

[DAPS-1857] - feature: python client, tests, support schema functions, to hit feature parity with web ser… (#1859)
  core/database/foxx/api/schema_router.js
  core/database/foxx/tests/schema_router.test.js
  core/server/ClientWorker.cpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  tests/end-to-end/CMakeLists.txt
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_schema.py
Due: build-core, retag-image, build-foxx

fix: removed double function call in schema end to end tests.
  tests/end-to-end/test_api_schema.py
Due: retag-image

feat: add support for format and type when creating schemas.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

test: add schema tests and change default 'def' to empty {} instead of '' string
  core/database/foxx/api/schema_router.js
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/schema_router.js
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

fix: make type and format calls in schema calls more robust.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1855] - feature, core, add schema factory to decouple schema logic (#1891)
  core/server/CMakeLists.txt
  core/server/ISchemaStorage.hpp
  core/server/ISchemaValidator.hpp
  core/server/SchemaAPIClient.cpp
  core/server/SchemaAPIClient.hpp
  core/server/SchemaAPIConfig.hpp
  core/server/SchemaServiceFactory.cpp
  core/server/SchemaServiceFactory.hpp
  core/server/schema_storage/ArangoSchemaStorage.hpp
  core/server/schema_storage/ExternalSchemaStorage.cpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
  core/server/schema_validators/ExternalSchemaValidator.cpp
  core/server/schema_validators/ExternalSchemaValidator.hpp
  core/server/schema_validators/JsonSchemaValidator.cpp
  core/server/schema_validators/JsonSchemaValidator.hpp
  core/server/schema_validators/NullSchemaValidator.hpp
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/test_SchemaServiceFactory.cpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_JsonSchemaValidator.cpp
  core/server/tests/unit/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

fix: resolve remaining merge conflict statements.
  tests/end-to-end/test_api_schema.py
Due: retag-image

test: add test that is defined to execution block.
  tests/end-to-end/test_api_schema.py
Due: retag-image

feat: common, proto3, add support for schema_type, metadata_format, schema_format
  common/proto3/common/auth/metadata_validate_request.proto
  common/proto3/common/auth/schema_create_request.proto
  common/proto3/common/messages/schema_data.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: simplify proto message attributes.
  common/proto3/common/auth/metadata_validate_request.proto
  common/proto3/common/auth/schema_create_request.proto
  common/proto3/common/messages/schema_data.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: fix missing LocalJsonErrorHandler header file.
  core/server/LocalJsonErrorHandler.hpp
Due: build-core, retag-image

refactor: address inconsistency in null version vs returning 0.
  core/database/foxx/api/schema_router.js
Due: build-core, retag-image, build-foxx

refactor: move remaining schema based logic to schema handler.
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
Due: build-core, retag-image

[DAPS-1896] - feature: foxx, schema format and type added to schema create API (#1897)
  core/database/foxx/api/schema_router.js
  core/database/foxx/tests/schema_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1893] - feature: common, proto3 add fields for schema type, format, and metadata format (#1894)
  common/proto3/common/auth/metadata_validate_request.proto
  common/proto3/common/auth/schema_create_request.proto
  common/proto3/common/messages/schema_data.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: first attempt to integrate validator and storage abstractions into used logic for create and revise methods.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

fix: apply corrections to schema create methods logic.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

fix: schema client handler to process revision method.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

refactor: support schema update using storage and validation abstractions.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

refactor: update metadata validation logic into schema handler.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

fix: success compiling with refactored code.
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/tests/unit/test_JsonSchemaValidator.cpp
  core/server/tests/unit/test_SchemaHandler.cpp
Due: build-core, retag-image

update: set defaults for schema storage and validation.
  core/server/SchemaServiceFactory.cpp
  core/server/SchemaServiceFactory.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/tests/unit/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

refactor: add rollback to failed schema update call.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

[DAPS-1830-1] - core foxx refactored json schema integration 1 (#1892)
  core/server/CMakeLists.txt
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/LocalJsonErrorHandler.hpp
  core/server/SchemaAPIClient.cpp
  core/server/SchemaAPIConfig.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/schema_validators/JsonSchemaValidator.cpp
  core/server/schema_validators/JsonSchemaValidator.hpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_SchemaHandler.cpp
Due: build-core, retag-image

[DAPS-1857-2] python client schema support (#1895)
  core/database/foxx/api/schema_router.js
  tests/end-to-end/test_api_schema.py
Due: build-core, retag-image, build-foxx

feat: get schema api client into compliance with API spec file.
  core/server/ISchemaStorage.hpp
  core/server/SchemaAPIClient.cpp
  core/server/SchemaAPIClient.hpp
  core/server/schema_storage/ArangoSchemaStorage.hpp
  core/server/schema_storage/ExternalSchemaStorage.cpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
  core/server/tests/CMakeLists.txt
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_mock_schema.sh
  core/server/tests/integration/stop_mock_schema.sh
  core/server/tests/integration/test_SchemaAPIClient.cpp
  core/server/tests/integration/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

fix: fix bug in string parsing.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

[DAPS-1830-2] - core foxx refactored json schema integration (#1899)
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
Due: build-core, retag-image

feature: add core unit testing to CI
  .gitlab/stage_unit.yml
  core/docker/Dockerfile
Due: build-core, retag-image

fix: broken PR
  core/server/client_handlers/SchemaHandler.cpp
  core/server/tests/integration/test_SchemaServiceFactory.cpp
  core/server/tests/unit/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

refactor: leave off integration tests for first step.
  core/docker/Dockerfile
Due: build-core, retag-image

Apply suggestions from code review
  .gitlab/stage_unit.yml
Due: retag-image

fix: make sure build container in intermediate stage exists.
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/retag_core_image.yml
  .gitlab/stage_unit.yml
Due: retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
