Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

[DAPS-1522] - refactor: router logging cleanup (#1838)
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/lib/logger.js
  core/database/foxx/api/models/repositories/base_repository.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/tests/acl_router.test.js
  core/database/foxx/tests/authz_router.test.js
  core/database/foxx/tests/coll_router.test.js
  core/database/foxx/tests/query_router.test.js
  core/database/foxx/tests/repo_router.test.js
  core/database/foxx/tests/schema_router.test.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

refactor: small testing fixes
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1522] - refactor: data router logging improvements (#1789)
  core/database/CMakeLists.txt
  core/database/foxx/api/data_router.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/data_router.test.js
Due: build-core, retag-image, build-foxx

refactor: Small change to align needed changes in error messages to be consistent and the addition of files to CMake Variable
  common/proto3/common/CMakeLists.txt
  common/proto3/common/enums/error_code.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: common library to use proto3 with working tests.
  common/include/common/IMessageMapper.hpp
  common/include/common/ProtoBufMap.hpp
  common/source/ProtoBufFactory.cpp
  common/source/ProtoBufFactory.hpp
  common/source/ProtoBufMap.cpp
  common/source/communicators/ZeroMQCommunicator.cpp
  common/source/communicators/ZeroMQCommunicator.hpp
  common/source/communicators/ZeroMQCommunicatorSecure.cpp
  common/source/servers/Proxy.cpp
  common/tests/security/tcp_secure/test_tcp_secure_client.cpp
  common/tests/security/tcp_secure/test_tcp_secure_server.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_Buffer.cpp
  common/tests/unit/test_CommunicatorFactory.cpp
  common/tests/unit/test_Frame.cpp
  common/tests/unit/test_MessageFactory.cpp
  common/tests/unit/test_ProtoBufFactory.cpp
  common/tests/unit/test_ProtoBufMap.cpp
  common/tests/unit/test_Proxy.cpp
  common/tests/unit/test_ProxyBasicZMQ.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: CmakeLists.txt to point to new proto3 folder, start swapping out includes to use new proto3
  CMakeLists.txt
  common/CMakeLists.txt
  common/source/ProtoBufFactory.hpp
  common/source/ProtoBufMap.cpp
  common/source/Util.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: cleanup old files
  CMakeLists.txt
  common/include/common/IMessageMapper.hpp
  common/include/common/ProtoBufMap.hpp
  common/source/ProtoBufMap.cpp
  common/source/Util.cpp
  common/source/communicators/ZeroMQCommunicator.cpp
  common/tests/unit/test_CommunicatorFactory.cpp
  common/tests/unit/test_MessageFactory.cpp
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: drop proto_id and msg_id in place of builtin message type, wrap message in envelope before sending on wire
  common/include/common/IMessage.hpp
  common/include/common/ProtoBufMap.hpp
  common/source/Frame.cpp
  common/source/Frame.hpp
  common/source/ProtoBufMap.cpp
  common/source/communicators/ZeroMQCommunicator.cpp
  common/source/messages/GoogleProtoMessage.cpp
  common/tests/unit/test_Buffer.cpp
  common/tests/unit/test_CommunicatorFactory.cpp
  common/tests/unit/test_Frame.cpp
  common/tests/unit/test_MessageFactory.cpp
  common/tests/unit/test_ProtoBufMap.cpp
  common/tests/unit/test_Proxy.cpp
  common/tests/unit/test_ProxyBasicZMQ.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: Core server to support proto3
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/Config.hpp
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
  core/server/GlobusAPI.cpp
  core/server/GlobusAPI.hpp
  core/server/TaskMgr.cpp
  core/server/TaskMgr.hpp
  core/server/TaskWorker.cpp
  core/server/Version.hpp.in
  core/server/main.cpp
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

refactor: add missing enum files.
  common/proto3/common/enums/access_token_type.proto
  common/proto3/common/enums/encryption.proto
  common/proto3/common/enums/search_mode.proto
  common/proto3/common/enums/sort_option.proto
  common/proto3/common/enums/task_command.proto
  common/proto3/common/enums/task_status.proto
  common/proto3/common/enums/task_type.proto
  common/proto3/common/messages/group_data.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: use proto3 modern library for repo server.
  repository/server/Config.hpp
  repository/server/RepoServer.cpp
  repository/server/RequestWorker.cpp
  repository/server/Version.hpp.in
  repository/server/main.cpp
Due: retag-image, build-repo

refactor: python package to be compatible with proto3 envelope
  python/datafed_pkg/datafed/CMakeLists.txt
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/pyproto_add_msg_idx.py
Due: retag-image

refactor: improve docs, address double wrapping env, moderate test timeouts.
  common/include/common/IMessage.hpp
  common/include/common/ProtoBufMap.hpp
  common/source/Frame.hpp
  common/source/ProtoBufMap.cpp
  common/tests/unit/test_Proxy.cpp
  common/tests/unit/test_ProxyBasicZMQ.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: address duplicate include
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image

fix: corrected path to proto3 files in CMakeLists.txt
  python/datafed_pkg/datafed/CMakeLists.txt
Due: retag-image

[1835-DAPS] - refactor: proto proto3 with envelope part 2 (#1841)
  common/proto3/common/CMakeLists.txt
  common/proto3/common/enums/error_code.proto
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: fixing remaining _pb2 SDMS anon proto2 files
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/VERSION.py.in
  python/datafed_pkg/test/security.py
Due: retag-image

refactor: Python CMakeLists.txt file
  python/datafed_pkg/datafed/CMakeLists.txt
Due: retag-image

refactor: update authz files to use proto3.
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/Version.hpp.in
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Due: retag-image, build-gcs

chore: Auto-format JavaScript files with Prettier
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: address rebase
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: fixed protobuf root location and proto3 install in containers
  CMakeLists.txt
  docker/Dockerfile.runtime
  web/datafed-ws.js
  web/docker/Dockerfile
  web/version.js.in
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: datafed web server, cleanup dead code and support proto3
  CMakeLists.txt
  web/datafed-ws.js
  web/static/api.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: update proto dir to proto3 in dockerfile.
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

refactor: datafed web server, cleanup dead code and support proto3
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

refactor: fixed protobuf root location and proto3 install in containers
  web/datafed-ws.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: ( are not handled correctly in CMake
  python/datafed_pkg/datafed/CMakeLists.txt
Due: retag-image

refactor: python working with message envelope and proto3
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CMakeLists.txt
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/scripts/fix_proto_imports.sh
  python/datafed_pkg/setup.py
Due: retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
