Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

feat: enable building of core integration tests
  core/docker/Dockerfile
  tests/mock/CMakeLists.txt
Due: build-core, retag-image

fix: add intermediate to core image check.
  .gitlab/stage_image_check.yml
Due: retag-image

fix: add missing test labels
  tests/CMakeLists.txt
  tests/mock/CMakeLists.txt
Due: retag-image

refactor: add core build intermediate stage to compose build
  scripts/compose_build_images.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: improve test case - sourcery suggestion
  core/server/tests/integration/test_SchemaAPIClient.cpp
Due: build-core, retag-image

Fix syntax error in stop_mock test properties
  tests/CMakeLists.txt
Due: retag-image

fix: fix error code usage.
  common/include/common/TraceException.hpp
  core/server/SchemaAPIClient.cpp
  core/server/tests/integration/test_SchemaAPIClient.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: remove merge conflict code.
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

[DAPS-1902] - core, common, feat: get schema api client into compliance with API spec file. (#1903)
  common/include/common/TraceException.hpp
  core/server/ISchemaStorage.hpp
  core/server/SchemaAPIClient.cpp
  core/server/SchemaAPIClient.hpp
  core/server/schema_storage/ArangoSchemaStorage.hpp
  core/server/schema_storage/ExternalSchemaStorage.cpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
  core/server/tests/CMakeLists.txt
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_mock_schema.sh
  core/server/tests/integration/stop_mock_schema.sh
  core/server/tests/integration/test_SchemaAPIClient.cpp
  core/server/tests/integration/test_SchemaServiceFactory.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1906-1] - feature: add core unit testing to CI (#1907)
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/retag_core_image.yml
  .gitlab/stage_image_check.yml
  .gitlab/stage_unit.yml
  core/docker/Dockerfile
  tests/CMakeLists.txt
  tests/mock/CMakeLists.txt
Due: build-core, retag-image

upgrade: 1.51.1 version.
  tests/end-to-end/web-UI/package-lock.json
  tests/end-to-end/web-UI/package.json
Due: retag-image

fix: register linkml storage engine with schema hanlder
  core/server/client_handlers/SchemaHandler.cpp
Due: build-core, retag-image

refactor: adjust factory registration to include linkml validator and storage backend in client handler.
  core/server/Config.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/schema_storage/ExternalSchemaStorage.hpp
Due: build-core, retag-image

[DAPS-1830-3] - core foxx refactored json schema integration 3 1827 (#1898)
  core/server/ClientWorker.cpp
  core/server/ClientWorker.hpp
  core/server/SchemaServiceFactory.cpp
  core/server/SchemaServiceFactory.hpp
  core/server/client_handlers/SchemaHandler.cpp
  core/server/client_handlers/SchemaHandler.hpp
  core/server/tests/integration/test_SchemaServiceFactory.cpp
  core/server/tests/unit/test_JsonSchemaValidator.cpp
  core/server/tests/unit/test_SchemaHandler.cpp
  core/server/tests/unit/test_SchemaServiceFactory.cpp
Due: build-core, retag-image

refactor: Update CMakeLists.txt to include client handler for schemas.
  core/server/tests/integration/CMakeLists.txt
Due: build-core, retag-image

refactor: make sdms name configurable in foxx .js files.
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/db_clear.js
  core/database/foxx/db_config.js
  core/database/foxx/db_create.js
  core/database/foxx/db_env.js
  core/database/foxx/db_migrate_0_10.js
Due: build-core, retag-image, build-foxx

refactor: make database name configurable.
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: default to different database for any destructive setup and cleanup with tests.
  .gitlab/end_to_end.yml
  core/database/CMakeLists.txt
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/docker/Dockerfile
  docker/Dockerfile.foxx
  scripts/generate_core_config.sh
  scripts/install_foxx.sh
  tests/end-to-end/setup.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/db_clear.js
  core/database/foxx/db_config.js
  core/database/foxx/db_create.js
  core/database/foxx/db_env.js
  core/database/foxx/db_migrate_0_10.js
Due: build-core, retag-image, build-foxx

fix: remove test setup it is no longer used.
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: adjust working directory.
  core/database/CMakeLists.txt
Due: build-core, retag-image, build-foxx

fix: move db_config.js into api folder.
  core/database/foxx/api/db_config.js
Due: build-core, retag-image, build-foxx

fix: web, bug in how version, id and schema name were being handled
  web/static/dlg_schema.js
  web/static/dlg_schema_list.js
Due: retag-image, build-foxx, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  web/static/dlg_schema.js
  web/static/dlg_schema_list.js
Due: retag-image, build-foxx, build-repo, build-ws

fix: adjust require statements.
  core/database/foxx/db_clear.js
  core/database/foxx/db_create.js
  core/database/foxx/db_migrate_0_10.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/db_clear.js
  core/database/foxx/db_create.js
  core/database/foxx/db_migrate_0_10.js
Due: build-core, retag-image, build-foxx

refactor: print passwrd to file for test.
  core/database/tests/test_foxx.sh
Due: build-core, retag-image, build-foxx

chore: Auto-format shell scripts with shfmt
  core/database/tests/test_foxx.sh
Due: build-core, retag-image, build-foxx

[DAPS-1910] - upgrade: playwright 1.51.1 version. (#1911)
  tests/end-to-end/web-UI/package-lock.json
  tests/end-to-end/web-UI/package.json
Due: retag-image

fix: create password file.
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image, build-foxx

chore: Auto-format shell scripts with shfmt
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image, build-foxx

fix: address inconsistency in foxx setup in tests.
  .gitlab/end_to_end.yml
  CMakeLists.txt
  core/database/CMakeLists.txt
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make cmake option checks more robust in shell.
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: apply minor fixes to relative path when running js scripts.
  .gitlab/end_to_end.yml
  core/database/foxx/db_clear.js
  core/database/foxx/db_create.js
  core/database/foxx/db_migrate_0_10.js
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/db_clear.js
  core/database/foxx/db_migrate_0_10.js
Due: build-core, retag-image, build-foxx

[DAPS-1914] - bug, web schema id name version mismatch (#1915)
  web/static/dlg_schema.js
  web/static/dlg_schema_list.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1913] - refactor: foxx ci test scripts consolidate database name and default to different database for tests (#1917)
  .gitlab/end_to_end.yml
  CMakeLists.txt
  core/database/CMakeLists.txt
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/db_config.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/db_clear.js
  core/database/foxx/db_create.js
  core/database/foxx/db_env.js
  core/database/foxx/db_migrate_0_10.js
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/docker/Dockerfile
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
  scripts/generate_core_config.sh
  scripts/install_foxx.sh
  tests/end-to-end/setup.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: get arango working with core server client handler integration tests.
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_test_arango.sh
  core/server/tests/integration/stop_test_arango.sh
  core/server/tests/integration/test_SchemaHandler.cpp
Due: build-core, retag-image

tests: working integration tests with SchemaHandler.
  core/database/foxx/api/schema_router.js
  core/server/tests/integration/CMakeLists.txt
  core/server/tests/integration/start_test_arango.sh
  core/server/tests/integration/stop_test_arango.sh
  core/server/tests/integration/test_SchemaHandler.cpp
Due: build-core, retag-image, build-foxx
