Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

add apt sources check
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add documentation describing how to test the foxx microservices unit … (#1393)
  doc_source/source/dev/testing.rst
  doc_source/source/index.rst
Due: retag-image

Add missing virtual destructors
  common/include/common/ICredentials.hpp
  common/include/common/IMessage.hpp
  common/include/common/IOperator.hpp
  common/include/common/IServer.hpp
  common/include/common/ISocket.hpp
  common/source/communicators/ZeroMQCommunicatorSecure.hpp
  common/source/credentials/ZeroMQSocketCredentials.hpp
  common/source/messages/GoogleProtoMessage.hpp
  common/source/operators/AuthenticationOperator.hpp
  common/source/operators/RouterBookKeepingOperator.hpp
  common/source/servers/Proxy.hpp
  common/source/servers/ProxyBasicZMQ.hpp
  common/source/sockets/ZeroMQSocket.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Fix ZeroMQ INPROC and TCP context
  common/source/communicators/ZeroMQCommunicator.cpp
  common/source/communicators/ZeroMQCommunicatorSecure.cpp
  common/source/servers/ProxyBasicZMQ.cpp
  common/source/sockets/ZeroMQSocket.hpp
  common/source/support/zeromq/Context.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Add memory tests to CMakeLists.txt as an option
  CMakeLists.txt
  common/tests/unit/CMakeLists.txt
  core/server/tests/CMakeLists.txt
  core/server/tests/unit/CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Add protobuf library shutdown to unit tests for memory cleanup
  common/tests/CMakeLists.txt
  common/tests/unit/test_Buffer.cpp
  common/tests/unit/test_CommunicatorFactory.cpp
  common/tests/unit/test_Frame.cpp
  common/tests/unit/test_MessageFactory.cpp
  common/tests/unit/test_OperatorFactory.cpp
  common/tests/unit/test_ProtoBufFactory.cpp
  common/tests/unit/test_ProtoBufMap.cpp
  common/tests/unit/test_Proxy.cpp
  common/tests/unit/test_ProxyBasicZMQ.cpp
  core/server/tests/unit/test_AuthMap.cpp
  core/server/tests/unit/test_AuthenticationManager.cpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/unit/test_getVersion.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Fix ci build (#1390)
  .github/workflows/unit-tests.yml
  .gitlab/stage_provision_client.yml
  cmake/JSON.cmake
  cmake/JSONSchema.cmake
  common/include/common/IMessageMapper.hpp
  common/include/common/ProtoBufMap.hpp
  common/include/common/SocketOptions.hpp
  common/include/common/Util.hpp
  core/server/ClientWorker.hpp
  repository/docker/Dockerfile.gcs
  repository/docker/entrypoint_authz.sh
  scripts/compose_cleanup_globus_files.sh
  scripts/compose_generate_globus_files.sh
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Remove leftover cout command
  common/source/support/zeromq/Context.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Fix docker logs output in end-to-end tests
  .gitlab/common.yml
Due: retag-image

Increase serialization randomization pause heuristic - 6 seconds is not long enough to register running pipelines.
  .gitlab/stage_pipeline_serialize.yml
Due: retag-image

improve serialization
  .gitlab/stage_pipeline_serialize.yml
Due: retag-image

Fix regression
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Fix regression (#1428)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Fix docker logs output in end-to-end tests (#1426)
  .gitlab/common.yml
Due: retag-image

[DAPS-14xx] Move files over and move out svg
  web/static/components/provenance/assets/arrow-markers.js
  web/static/components/provenance/panel_graph.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
  web/static/main_browse_tab.js
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Base
  web/static/components/provenance/panel_graph.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Add styling and tooltips
  docs_other/dev/design/graph/graph_schema.html
  web/static/components/provenance/panel_graph.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Revert
  web/static/components/provenance/panel_graph.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Add node and label customization
  web/static/components/provenance/panel_graph.js
  web/static/graph_styles.css
  web/static/jquery-ui-dark/datafed.css
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Add editor modal on right-click. Draggable model
  web/static/components/provenance/graph_styles.css
  web/static/components/provenance/panel_graph.js
  web/static/graph_styles.css
  web/static/jquery-ui-dark/datafed.css
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Seperate files, update styles
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/graph_styles.css
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/styles/customization_modal.css
  web/static/components/provenance/styles/graph_styles.css
  web/static/components/provenance/utils.js
  web/static/jquery-ui-dark/datafed.css
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Expand mocha tests, prettier
  web/package.json.in
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/utils.js
  web/test/components/provenance/state.test.js
  web/test/components/provenance/utils.test.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] simplify feat
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/components/provenance/utils.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-14xx] Update checkout version
  .github/workflows/unit-tests.yml
Due: retag-image

[DAPS-14xx] Add todo
  web/static/components/provenance/panel_graph.js
Due: retag-image, build-foxx, build-repo, build-ws

Improve serialization randomization (#1427)
  .gitlab/stage_pipeline_serialize.yml
Due: retag-image

Current Changes taking place due to leaked token
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/source/Util.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/models/user.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_foxx.sh
  core/docker/Dockerfile
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
  core/server/TaskWorker.hpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs

Fixed small memory issues within CipherEngine test and TaskWorker test
  common/tests/unit/test_CipherEngine.cpp
  core/server/tests/unit/test_TaskWorker.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Update pull_request_template.md
  .github/pull_request_template.md
Due: retag-image

[DAPS-1359] Add draft for discussion
  .gitignore
  web/docs/README.md
  web/docs/migration_strategy.md
  web/react-design/src/components/DataRecord/DataRecordView.tsx
  web/react-design/src/contexts/UserContext.tsx
  web/react-design/src/services/api.ts
  web/react-design/src/types/models.ts
  web/react-design/tsconfig.json
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1358] Init
  web/react-design/.dockerignore
  web/react-design/.eslintrc.json
  web/react-design/.gitignore
  web/react-design/.prettierignore
  web/react-design/README.md
  web/react-design/jest.config.js
  web/react-design/prettierrc.json
  web/react-design/src/App.css
  web/react-design/src/App.test.tsx
  web/react-design/src/App.tsx
  web/react-design/src/index.css
  web/react-design/src/index.html
  web/react-design/src/main.tsx
  web/react-design/tsconfig.json
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1358] Update files, needs to break
  web/react-design/.nvmrc
  web/react-design/babel.config.js
  web/react-design/jest.config.js
  web/react-design/nodemon.json
  web/react-design/package-lock.json
  web/react-design/package.json
  web/react-design/src/index.ts
  web/react-design/webpackConfig.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1358] Update nodemon
  web/react-design/.env-sample
  web/react-design/.gitignore
  web/react-design/nodemon.json
  web/react-design/package-lock.json
  web/react-design/package.json
  web/react-design/src/index.ts
  web/react-design/webpack.config.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1358] Eslint
  .prettierrc.json
  eslint.config.js
  web/.eslintrc.json
  web/react-design/.eslintrc.json
  web/react-design/package-lock.json
  web/react-design/package.json
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1357] Dedicated types
  web/react-design/src/types/interfaces/common.ts
  web/react-design/src/types/interfaces/constants.ts
  web/react-design/src/types/interfaces/index.ts
  web/react-design/src/types/interfaces/record.ts
  web/react-design/src/types/interfaces/search.ts
  web/react-design/src/types/interfaces/tasks.ts
  web/react-design/src/types/interfaces/transfer.ts
  web/react-design/src/types/interfaces/ui.ts
  web/react-design/src/types/interfaces/user.ts
Due: retag-image, build-foxx, build-repo, build-ws

Adding DL_Error and Execept_Param to the Encode64 and Decode64 funcs
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/generate_datafed.sh
  tests/end-to-end/setup.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Removed createCipherString and replaced it where it was used
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Added const to length within encode and decode
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Adjusted Magic Numbers issue with CipherEngine and added encode64/decode64 to header
  common/include/common/CipherEngine.hpp
  common/source/CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-14xx] Update tests, consts, fix tooltip
  docs_other/dev/design/graph/graph_schema.html
  web/static/components/provenance/assets/arrow-markers.js
  web/static/components/provenance/customization_modal.js
  web/static/components/provenance/panel_graph.js
  web/static/components/provenance/state.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
  web/test/components/provenance/state.test.js
  web/test/components/provenance/utils.test.js
Due: retag-image, build-foxx, build-repo, build-ws
