Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Design Pattern Translation: Convert Repository Factory to Rust-Compatible js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/operations.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Introduce repository type system with factory pattern
  core/database/CMakeLists.txt
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/tests/repo_types.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Readd new router
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Add validation
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Run prettier
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/repo_types.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Run prettier
  core/database/foxx/tests/helpers/api-adapters.js
  core/database/foxx/tests/helpers/test-setup.js
  core/database/foxx/tests/test-fixtures.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] He was right, it is cleaner
  core/database/foxx/tests/helpers/api-adapters.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Lays the groundwork for consistent and isolated repository testing
  core/database/foxx/tests/helpers/api-adapters.js
  core/database/foxx/tests/helpers/test-setup.js
  core/database/foxx/tests/test-fixtures.js
  core/database/foxx/tests/test-helpers.js
Due: build-core, retag-image, build-foxx

[TASK] Format yaml
  .github/workflows/apply-formatting.yml
  .github/workflows/build-docs.yml
  .github/workflows/format-check.yml
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/jupyternotebook-lint.yml
  .github/workflows/shell-format.yml
  .github/workflows/unit-tests.yml
  .github/workflows/yaml-format.yml
  .gitlab-ci.yml
  .gitlab/build_ci_infrastructure.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/infrastructure.yml
  .gitlab/skip_ci_infrastructure.yml
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
  .gitlab/stage_clear_cache.yml
  .gitlab/stage_image_check.yml
  .gitlab/stage_pipeline_serialize.yml
  .gitlab/stage_provision_client.yml
  .gitlab/stage_test.yml
  .gitlab/stage_unit.yml
  compose/all/compose.yml
  compose/metadata/compose.yml
  compose/repo/compose.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[TASK] Format yaml (#1569)
  .github/workflows/apply-formatting.yml
  .github/workflows/build-docs.yml
  .github/workflows/format-check.yml
  .github/workflows/javascript-format.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/jupyternotebook-lint.yml
  .github/workflows/shell-format.yml
  .github/workflows/unit-tests.yml
  .github/workflows/yaml-format.yml
  .gitlab-ci.yml
  .gitlab/build_ci_infrastructure.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/infrastructure.yml
  .gitlab/skip_ci_infrastructure.yml
  .gitlab/stage_build.yml
  .gitlab/stage_build_base.yml
  .gitlab/stage_clear_cache.yml
  .gitlab/stage_image_check.yml
  .gitlab/stage_pipeline_serialize.yml
  .gitlab/stage_provision_client.yml
  .gitlab/stage_test.yml
  .gitlab/stage_unit.yml
  compose/all/compose.yml
  compose/metadata/compose.yml
  compose/repo/compose.yml
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix:Fixed the double free issue within the GlobusAPI constructor and move operator (#1550)
  core/server/GlobusAPI.cpp
Due: build-core, retag-image

[DAPS-1551] ci job fail correctly on failed curl (#1556)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

feat:Added a central variable within the end to end tests for configurable timeout times.
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
Due: retag-image

fix: memory bug fixed in Condition.hpp and AuthenticationManager
  common/include/common/IAuthenticationManager.hpp
  core/server/AuthenticationManager.hpp
  core/server/Condition.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Update core/server/CoreServer.cpp
  core/server/CoreServer.cpp
Due: build-core, retag-image

refactor: remove cout debug lines.
  core/server/AuthMap.cpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
  core/server/DatabaseAPI.cpp
  core/server/TaskMgr.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

fix: double hard coded datafed-token-key.txt in TaskWorker.cpp
  core/server/TaskWorker.cpp
Due: build-core, retag-image

fix: remove valgrind from production build.
  core/docker/Dockerfile
Due: build-core, retag-image

format: remove whitespace in util.hpp.
  common/include/common/Util.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

fix: revert to root in core/docker/Dockerfile
  core/docker/Dockerfile
Due: build-core, retag-image

refactor: remove system secret from database
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor: remove useless secret from user_router.
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

style:formatted the admin_get_user_emails.sh with shtmf
  scripts/admin_get_user_emails.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Formatted admin_update_config_message.sh
  scripts/admin_update_config_message.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1514] Integrate validation into existing repo router (#1540)
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

style: Formatted ci scripts
  scripts/ci_database_health_check.sh
  scripts/ci_generate_pypirc.sh
  scripts/ci_harbor_artifact_count.sh
  scripts/ci_pipeline_serializer.sh
  scripts/ci_pipeline_setup.sh
  scripts/ci_purge_images.sh
  scripts/ci_setup_web_certs.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Formatted clear_db.sh
  scripts/clear_db.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Formatted export_dependency_version
  scripts/export_dependency_version.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: memory bug fixed in Condition.hpp and AuthenticationManager (#1574)
  common/include/common/IAuthenticationManager.hpp
  core/server/AuthenticationManager.hpp
  core/server/Condition.hpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: remove useless secret from user_router. (#1577)
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx
