Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
    GCS_BASE_IMAGE_DISTRO: debian-12
  tags:
  - ci-datafed-globus
  - docker
  script:
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

refactor: add compressed file extensions to gitignore.
  .gitignore
Due: retag-image

debug: commenting out force build script
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

debug: exchange ref for sha in build of dependencies.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

debug: remove leading - from commit sha and run curl.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

debug: remove leading spaces from yaml.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

debug: switch private token in header to job token when triggering pipeline.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

fix: update to using trigger token explicitly.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

fix: move orphaned quotation mark.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

debug: place quotes around variables passed to curl pipeline command.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

fix: add space between curl url and closing )
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

fix: correct url from pipeline to trigger/pipeline
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

fix: trigger pipeline
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: Added first pass of logging improvements to query_router
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

debug: attempt to revert to using CI_JOB_TOKEN as opposed to a trigger token.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

style: last minute fixes to incorrect logs
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

style:more final changes
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

refactor: build remove status check.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: rely on dependencies from downstream pipeline.
  .gitlab/common.yml
Due: retag-image

refactor: remove commented out code.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

refactor: remove comments
  .gitlab/common.yml
Due: retag-image

fix: skip depenendencies job.
  .gitlab/build/build_dependencies_image.yml
Due: retag-image

debug: trying to find invalid yaml.
  .gitlab/build/force_build_dependencies_image.yml
Due: retag-image

debug: simplify statements in build_dependencies.
  .gitlab/build/build_dependencies_image.yml
Due: retag-image

[DAPS-1625] Address auth cycle, add clear cache functions
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/AuthMap.hpp
  core/server/AuthenticationManager.cpp
  core/server/AuthenticationManager.hpp
  core/server/Config.cpp
  core/server/CoreServer.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

[DAPS-1625] Cleanup logs, add comments
  core/server/AuthMap.cpp
  core/server/Config.cpp
Due: build-core, retag-image

[DAPS-1625] Address comments 1/2
  common/source/operators/AuthenticationOperator.cpp
  core/server/AuthMap.cpp
  core/server/Config.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

refactor: add common library that was missing from repo, foxx and core.
  core/docker/Dockerfile
  docker/Dockerfile.foxx
  repository/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: fix build-arg for intermediate build.
  .gitlab/common.yml
Due: retag-image

refactor: switch gcs image to using correct dependencies image.
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_image.yml
Due: retag-image

fix: add missing generate_datafed.sh file and run
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

fix: remove compose build of old Dockefile.dependencies.
  scripts/compose_build_images.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: change order of generate_datafed.sh run.
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

fix: generate_datafed.sh missing script error.
  repository/docker/Dockerfile.gcs
Due: retag-image, build-gcs

fix: add ability to make changes in config folder.
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: applied formatting to all yml files.
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_dependencies.yml
  .gitlab/build/build_dependencies_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_core_image.yml
  .gitlab/build/force_build_dependencies.yml
  .gitlab/build/force_build_dependencies_image.yml
  .gitlab/build/force_build_foxx_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/build/force_build_repo_image.yml
  .gitlab/build/force_build_ws_image.yml
  .gitlab/stage_base_image_check.yml
Due: retag-image

style: apply formatting.
  .gitlab/stage_base_image_check.yml
Due: retag-image

refactor: metricsUpdateMsgCounts and newJsonMetricParse methods.
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Due: build-core, retag-image

test: add database api test for newJson parse method.
  core/server/tests/unit/test_DatabaseAPI.cpp
Due: build-core, retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
