Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

Add cipher engine test with libjson value
  common/tests/unit/test_CipherEngine.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

Checkpoint:Got the base of encryption/decryption along with encoding/decoding working
  common/source/CipherEngine.cpp
  common/source/Util.cpp
  common/tests/unit/test_CipherEngine.cpp
  core/docker/Dockerfile
  core/server/DatabaseAPI.cpp
Due: build-core, retag-image, build-gcs-base, build-gcs

hopefully fixed json dep issues
  cmake/JSON.cmake
  cmake/JSONSchema.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

updating function signature to match newer version of base class
  core/server/ClientWorker.hpp
Due: build-core, retag-image

updated protobuf
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated protobuf and cmake
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

downgraded cmake
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-14xx] Add node and label customization
  web/static/graph_styles.css
  web/static/jquery-ui-dark/datafed.css
  web/static/panel_graph.js
Due: retag-image, build-foxx, build-repo, build-ws

[DAPS-1388] Add GCP Support (#1392)
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/models/endpoint-model.js
  web/test/endpoint-model.test.js
Due: retag-image, build-foxx, build-repo, build-ws

fixed protobuf version
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-14xx] Add editor modal on right-click. Draggable model
  web/static/components/provenance/assets/arrow-markers.js
  web/static/components/provenance/graph_styles.css
  web/static/components/provenance/panel_graph.js
  web/static/graph_styles.css
  web/static/jquery-ui-dark/datafed.css
  web/static/main_browse_tab.js
  web/views/main.ect
Due: retag-image, build-foxx, build-repo, build-ws

Add missing python module (#1404)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Set reasonable default that will help with filling in repo form for core t… (#1400)
  compose/all/compose.yml
  compose/all/generate_env.sh
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fixed mispelled package name
  web/docker/Dockerfile
Due: retag-image, build-foxx, build-repo, build-ws

1398 pin python version (#1405)
  repository/docker/entrypoint_authz.sh
  scripts/compose_cleanup_globus_files.sh
  scripts/compose_generate_globus_files.sh
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
  web/docker/Dockerfile
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fixed incorrect path
  repository/docker/entrypoint_authz.sh
Due: retag-image, build-gcs

Switch to using .tar file install of libsodium
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Switch to using .tar file install of libsodium (#1414)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Switch bad option in wget command from -C to -P
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

1413 libsodium build refactor (#1415)
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update scripts/dependency_install_functions.sh
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update dependency_install_functions.sh
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

cleaned up comments
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile.gcs
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

changed install scripts to be consistent
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile.gcs
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added sudo check
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Update cmake/JSONSchema.cmake
  cmake/JSONSchema.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

add changes from review
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile.gcs
  scripts/install_authz_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[NO-TICKET] Remove commmented out code
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-14xx] Revert
  web/static/components/provenance/panel_graph.js
Due: retag-image, build-foxx, build-repo, build-ws

added initial versions of scripts to support generating docker scripts
  scripts/generate_datafed.sh
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

updated container scripts
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

added changes based on feedback
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Changed install scripts to be consistent with new python installation method (#1417)
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile.gcs
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Note on database version, variable definition and usage when running arangodb version described, and steps to run unit test numbered.
  doc_source/source/dev/testing.rst
Due: retag-image

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
