Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt

refactor: separate ERR codes from support.js
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/lib/error_codes.js
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tag_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/topic_router.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/lib/error_codes.js
  core/database/foxx/api/support.js
Due: build-core, retag-image, build-foxx

refactor: remove remaining occurences of zeromq system secret. (#1661)
  .gitlab/end_to_end.yml
  .gitlab/stage_unit.yml
  compose/all/compose.yml
  compose/metadata/compose.yml
  doc_source/source/admin/install_bare_metal.rst
  doc_source/source/admin/install_docker.rst
  doc_source/source/dev/testing.rst
  docs/_sources/admin/general.rst.txt
  docs/admin/general.html
  scripts/generate_metadata_container_scripts.sh
  scripts/generate_repo_container_scripts.sh
  scripts/generate_ws_config.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

release: update release version numbers.
  cmake/Version.cmake
Due: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo

refactor: address merge diffs between master and devel.
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image, build-foxx

[DAPS-1678] refactor split error codes from foxx support.js and move to lib/error_codes.js (#1679)
  core/database/foxx/api/acl_router.js
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/coll_router.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/group_router.js
  core/database/foxx/api/lib/error_codes.js
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/note_router.js
  core/database/foxx/api/process.js
  core/database/foxx/api/proj_router.js
  core/database/foxx/api/query_router.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/schema_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tag_router.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/topic_router.js
  core/database/foxx/api/user_router.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
Due: build-core, retag-image, build-foxx

Refactor:Checkpoint
  core/database/CMakeLists.txt
  core/database/foxx/api/task_router.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

refactor: revert premature change to external/DataFedDependencies repo in foxx tests setup.
  core/database/tests/test_fixture_setup.sh
Due: build-core, retag-image, build-foxx

refactor: Final touches for logging
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

Apply suggestions from code review
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

refactor: Cleaning up PII issues
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

refactor:Final checks, changed /view's extra output
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

[Release] - v3.14.01, v2025.10.7.14.01
  .github/workflows/shell-format.yml
  .github/workflows/unit-tests.yml
  .github/workflows/yaml-format.yml
  CHANGELOG.md
  cmake/Version.cmake
  scripts/copy_dependency.sh
  tests/end-to-end/setup.sh
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Removed unneccessary logger file
  core/database/foxx/api/lib/logger.js
Due: build-core, retag-image, build-foxx

Refactor: Adjusted error handling within logs for more flexability
  core/database/foxx/api/query_router.js
Due: build-core, retag-image, build-foxx

chore: Auto-format JavaScript files with Prettier
  core/database/foxx/api/task_router.js
  core/database/foxx/tests/task_router.test.js
Due: build-core, retag-image, build-foxx

Refactor: Adjusted logging to properly display task_id, submodule update
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

Style:typo
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

refactor: Commited all reviewed changes
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

[DAPS-1522] User router logging improvements (#1629)
  core/database/foxx/api/user_router.js
Due: build-core, retag-image, build-foxx

Refactor: Fixed typo
  core/database/foxx/api/task_router.js
Due: build-core, retag-image, build-foxx

feature: support arango running with https in compose.
  compose/all/compose.yml
  compose/metadata/compose.yml
  compose/metadata/generate_env.sh
  scripts/compose_generate_env.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  scripts/compose_generate_env.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: add documentation and fully refactor, include more descriptive error checks and output when foxx fails.
  CMakeLists.txt
  compose/README.md
  doc_source/source/admin/install_docker.rst
  scripts/compose_generate_env.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

chore: Auto-format shell scripts with shfmt
  scripts/compose_generate_env.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

refactor: adjust validation.js swap g_lib with error_code require remove circular dependency from validation.js by removing validateRepositorySupportsDataOperations
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

fix: add repository validation tests to CMakeLists.txt file.
  core/database/CMakeLists.txt
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

refactor: remove export of validateRepositorySupportsDataOperations
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

refactor: remove unimportant test, domain is not important.
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

feature: pull in work from Aaron's pr related factory globus and metadata (#1603)
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

refactor: switch out dependence on g_lib with error_codes.
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
Due: build-core, retag-image, build-foxx

refactor: First pass of logging improvements to data_router
  core/database/foxx/api/data_router.js
Due: build-core, retag-image, build-foxx
