Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, retag-image, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

build-core:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: core/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-core
  - docker

retag-image:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: core
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-foxx:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - docker

build-gcs-base:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs-base
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - source "scripts/dependency_versions.sh"
  ...

build-gcs:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: gcs
    GIT_STRATEGY: clone
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  ...

build-repo:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
    BUILD_INTERMEDIATE: 'FALSE'
  tags:
  - ci-datafed-repo
  - docker

build-ws:
  stage: build
  variables:
    PROJECT: datafed
    COMPONENT: ws
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: web/docker/Dockerfile
    DATAFED_HARBOR_REGISTRY: $REGISTRY
  tags:
  - ci-datafed-core
  - docker

feat: run core server container longer on startup before failing on failed database connection.
  core/server/CoreServer.cpp
Due: build-core, retag-image

fix: prevent configuring proto files if only using foxx.
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

tests: add foxx setup scripts, and grant execution mode.
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: add BUILD_WEB as part of the conditions for configuring the version.prot file.
  CMakeLists.txt
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: add nvm folder to set of folders that require permissions changes.
  docker/Dockerfile.foxx
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1531] refactor useless secret user router part 3 (#1611)
  core/database/tests/test_setup.sh
  python/datafed_pkg/test/security.py
  scripts/clear_db.sh
  scripts/compose_generate_env.sh
  scripts/generate_datafed.sh
  scripts/generate_ws_config.sh
  scripts/install_foxx.sh
  tests/end-to-end/setup.sh
  web/datafed-ws.js
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1522] Arango Removing Unneccessary Logs (#1601)
  core/database/foxx/api/tasks.js
Due: build-core, retag-image, build-foxx

[DAPS-1568] Formatted uninstall and util scripts (#1594)
  scripts/uninstall_all.sh
  scripts/utils.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

initial oauth files
  .gitignore
  AppSettings.toml
  Cargo.lock
  Cargo.toml
  crates/core-api/Cargo.toml
  crates/core-api/src/app_config.rs
  crates/core-api/src/errors.rs
  crates/core-api/src/lib.rs
  crates/core-api/src/metrics.rs
  crates/core-api/src/middleware.rs
  crates/core-api/src/router.rs
  crates/core-api/src/state.rs
  src/core.rs
Due: retag-image

[DAPS-1568] Formatting install scripts (#1592)
  scripts/install_authz_dependencies.sh
  scripts/install_client_dependencies.sh
  scripts/install_core.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_docker_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_end_to_end_test_dependencies.sh
  scripts/install_foxx.sh
  scripts/install_lego_and_certificates.sh
  scripts/install_python_client_dependencies.sh
  scripts/install_repo.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style:Formatted dependency scripts (#1589)
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

style: Formatted all remaining scripts within core
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/docker/entrypoint.sh
Due: build-core, retag-image, build-foxx

style: Formatted all remaining scripts within common
  common/tests/security/tcp_secure/test_tcp_insecure.sh
  common/tests/security/tcp_secure/test_tcp_secure.sh
Due: build-core, retag-image, build-gcs-base, build-gcs

style: Formatted all scripts within compose folder
  compose/all/cleanup_globus_files.sh
  compose/all/generate_env.sh
  compose/metadata/build_metadata_images_for_compose.sh
  compose/metadata/generate_build_args.sh
  compose/metadata/generate_env.sh
  compose/repo/cleanup_globus_files.sh
  compose/repo/generate_env.sh
Due: retag-image

style: Formatting remaining scripts within DataFed
  docker/entrypoint_foxx.sh
  python/docker/entrypoint.sh
  repository/docker/entrypoint_authz.sh
  repository/docker/entrypoint_repo.sh
  repository/gridftp/globus5/authz/tests/mock/mock_start.sh
  repository/gridftp/globus5/authz/tests/mock/mock_stop.sh
  tests/end-to-end/setup.sh
  web/docker/entrypoint.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Formatting remaining scripts within DataFed (#1613)
  common/tests/security/tcp_secure/test_tcp_insecure.sh
  common/tests/security/tcp_secure/test_tcp_secure.sh
  compose/all/cleanup_globus_files.sh
  compose/all/generate_env.sh
  compose/metadata/build_metadata_images_for_compose.sh
  compose/metadata/generate_build_args.sh
  compose/metadata/generate_env.sh
  compose/repo/cleanup_globus_files.sh
  compose/repo/generate_env.sh
  core/database/tests/test_fixture_setup.sh
  core/database/tests/test_foxx.sh
  core/database/tests/test_setup.sh
  core/docker/entrypoint.sh
  docker/entrypoint_foxx.sh
  python/docker/entrypoint.sh
  repository/docker/entrypoint_authz.sh
  repository/docker/entrypoint_repo.sh
  repository/gridftp/globus5/authz/tests/mock/mock_start.sh
  repository/gridftp/globus5/authz/tests/mock/mock_stop.sh
  tests/end-to-end/setup.sh
  web/docker/entrypoint.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1531] Address Object -> object, address copilot comments
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Object to object
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1514] Add repository validation logic with tests (#1539)
  core/database/CMakeLists.txt
  core/database/foxx/api/repository/validation.js
  core/database/foxx/tests/validation.test.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Update comments
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Address CI
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Design Pattern Translation: Convert Repository Factory to Rust-Compatible js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

Revert "[DAPS-1531] Init"
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1513] Address pr comments
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/types.js
Due: build-core, retag-image, build-foxx

[DAPS-1531] Init
  core/database/foxx/api/repo.js
  core/database/foxx/api/repo_router_new.js
  core/database/foxx/api/repository/example.js
  core/database/foxx/api/repository/factory.js
  core/database/foxx/api/repository/globus.js
  core/database/foxx/api/repository/metadata.js
  core/database/foxx/api/repository/operations.js
  core/database/foxx/api/repository/types.js
  core/database/foxx/api/repository/validation.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Address comments
  core/database/foxx/api/repo.js
Due: build-core, retag-image, build-foxx

[DAPS-1515] Refactor legacy Repo class to integrate new repository patterns
  core/database/foxx/api/repo.js
Due: build-core, retag-image, build-foxx

style: fix shell formatting of entrypoint_foxx and install_foxx.sh
  docker/entrypoint_foxx.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make secret optional before removing completely.
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

update: update openssl version to 3.5
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

[DAPS-1605] feature openshift support foxx (#1606)
  .gitlab/build/build_foxx_image.yml
  .gitlab/end_to_end.yml
  CMakeLists.txt
  compose/all/compose.yml
  compose/metadata/compose.yml
  core/server/CoreServer.cpp
  doc_source/source/dev/testing.rst
  docker/Dockerfile.foxx
  docker/entrypoint_foxx.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

fix: make secret optional before removing completely. (#1617)
  common/proto/common/SDMS_Auth.proto
Due: build-core, build-foxx, build-gcs-base, build-gcs, build-repo, build-ws

Path conditions:
  build-core: any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml
  retag-image: (not (any of: docker/**/*, scripts/**/*, core/**/*, common/**/*, CMakeLists.txt, cmake/**/*, .gitlab-ci.yml)) or (not (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt)) or (not (any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*)) or (not (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*)) or (not (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt))
  build-foxx: (any of: docker/**/*, scripts/**/*, cmake/**/*, core/database/**/*, core/CMakeLists.txt, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-gcs-base: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs, repository/CMakeLists.txt, repository/gridftp/**/*
  build-repo: (any of: docker/**/*, scripts/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/CMakeLists.txt, repository/server/**/*) or (any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml)
  build-ws: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml, CMakeLists.txt
